- provide(:title, 'Resend confirmation instructions')
%section#promo.section
  .container
    %h2 Resend confirmation instructions
    .row
      .span8.fancyform
        = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
          = f.error_notification
          = devise_error_messages!
          = f.input :email, :required => true, :autofocus => true
          = f.button :submit, "Resend confirmation instructions", :class => "btn btn-primary"
        = render "users/shared/links"
