<% provide(:title, 'Resend confirmation instructions') %>
<!-- SmartBiz theme -->
<section class='section' id='promo'>
  	<div class='container'>
  		<h2>Resend confirmation instructions</h2>
		<div class="row">
  			<div class="span8 fancyform">
  				<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
				  	<%= f.error_notification %>
				  	<%= f.full_error :confirmation_token %>
				    <%= f.input :email, :required => true, :autofocus => true %>
				    <%= f.button :submit, "Resend confirmation instructions", :class => "btn btn-primary" %>
				<% end %>
				<%= render "users/shared/links" %>
			</div>
		</div>
	</div>
</section>
