<%= render 'shared/error_messages', :form_model => @workshop %>

<div class="accordion" id="accordion2">

	<div class="accordion-group">  
	  <div class="accordion-heading">  
		<a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">  
	      1. Tell us a little about yourself  
	    </a>  
	  </div>  
	  <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">  
	    <div class="accordion-inner">  
	      	<p>We’ll post this with your workshop listing to show people who they’ll be working with.</p> 

	      	<h3>Your name + business name</h3>
	      	<%= f.label :host_firstname, capture { %>
				First Name*
				<% } %>
			<%= f.text_field :host_firstname, :value => "#{@current_user.name}" %>
			
			<%= f.label :host_lastname, capture { %>
				Last Name*
				<% } %>
			<%= f.text_field :host_lastname %>

			<%= f.label :host_business, capture { %>
				Business Name
				<% } %>
			<%= f.text_field :host_business %>

			<!--Add a host?-->
	      	<br />

	      	<h3>Describe yourself and your work</h3>
			<%= f.label :bio, capture { %>
				Bio*
				<% } %>
			<%= f.text_area :bio, :placeholder => "Give people a sense of who they'll be working with.", :rel => 'popover', :data => { :content => "Think about including: schooling, current work, recent shows, what you’re interested in as an artist and why you’re interested in teaching it - and a bit of personality, too!", "original-title" => 'Describe yourself' } %> 

			<%= f.label :website, capture { %>
				Website*
				<% } %>
			<%= f.text_field :website, :rel => 'popover', :data => { :content => "Your studio website, or any other site that shows off your work."} %>

			<%= f.label :webshop %>
			<%= f.text_field :webshop, :rel => 'popover', :data => { :content => "Your online shop (Etsy, Big Cartel, etc.), if you have one."} %>

			<%= f.label :facebook %>
			<%= f.text_field :facebook, :rel => 'popover', :data => { :content => "This helps us promote you and your events!"} %>

			<%= f.label :twitter %>
			<%= f.text_field :twitter, :rel => 'popover', :data => { :content => "This helps to give a sense of who you are and what you're interested in."} %>
	    </div>  
	  </div>  
	</div> 


	<div class="accordion-group">  
	  <div class="accordion-heading">  
	    <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">  
	      2. Tell us about your workshop  
	    </a>  
	  </div>  
	  <div id="collapseTwo" class="accordion-body collapse">  
	    <div class="accordion-inner"> 
	    	<p>Give people an idea of what they'll do, what they'll learn, and what they'll take away from it.</p>
			<%= f.label :topic, capture { %>
			<h3>Workshop Topic</h3>
			<% } %>
			<%= f.text_field :topic, :placeholder => "Ex. 'Printmaking' or 'Jewelry Design'", :rel => 'popover', :data => { :content => 'What will you be teaching?', "original-title" => 'Topic' } %> 

			<br />
			<%= f.label :description, capture { %>
			<h3>Workshop Description</h3>
			<% } %>
			<%= f.text_area :description, :placeholder => "Tell us about your workshop.", :rel => 'popover', :data => { :content => "Give a few sentences telling people what they’ll be learning and doing in the workshop, what (if anything) they’ll take home from it, and why it’s fun/awesome/useful.", "original-title" => 'Description' }  %>


			<h3>Skills & Techniques</h3>
			<%= f.label :skill_list, capture { %> 
			<p>What skills and techniques will participants learn? (List each, followed by a comma)</p>
			<% } %>
			<div rel='popover' data-content="Be as specific as possible to give each participant credit for her experience. We’ll keep track, to help her show off her skills!" data-original-title='Skills & Techniques' > 
			<%= f.text_field :skill_list, :data => { :pre => @workshop.skills.map { |t|  { :id => t.name, :name => t.name } } } %>
			</div>
			<br />

			<h3>Tools & Materials</h3>
			<%= f.label :tool_list, capture { %>
			<p>What tools and materials will participants learn to use? (List each, followed by a comma)</p> 
			<% } %>
			<div rel='popover' data-content="Be as specific as possible to give each participant credit for her experience. We’ll keep track, to help her show off her skills!" data-original-title='Tools & Materials' >
			<%= f.text_field :tool_list, :data => { :pre => @workshop.tools.map { |t|  { :id => t.name, :name => t.name } } }  %>
			</div>
			<br />

			<h3>Requirements</h3>
			<%= f.label :requirement_list, capture { %> 
			<p>Do participants need experience with any skills, techniques, or tools before they join the workshop? (List each, followed by a comma)</p>
			<% } %>
			<div rel='popover' data-content="Participants will rate their level of experience with these skills and tools when they sign up, to help you plan your teaching." data-original-title='Requirements' >
			<%= f.text_field :requirement_list, :data => { :pre => @workshop.requirements.map { |t|  { :id => t.name, :name => t.name } } }  %>
			</div>

			<%= f.label :other_needs, capture { %>
			<p>Are there other things participants should do to prepare, or bring to the workshop?<p>
			<% } %>
			<%= f.text_field :other_needs, :placeholder => "Ex. 'Wear sturdy shoes (no sandals)' or 'Bring a camera'", :rel => 'popover', :data => { :content => "Participants will be reminded to bring these .", "original-title" => 'Other Needs' } %>
			<br />

			<%= f.label :begins_at, capture { %> 
			<h3>When</h3>
			<% } %>
			<div class="input-append date" data-behaviour="datepicker">
			  <%= f.text_field :begins_at, :class => "span2", :value => @workshop.begins_at.strftime("%m/%d/%Y") %>
			 <span class="add-on"><i class="icon-th"></i></span>
			</div>

			<div class="row datepickerlayout">
			<div class='input-append time bootstrap-timepicker-component span3'>
			  <%= f.text_field :begins_at_time, :class => "dateselect-time span2", :data => { :behaviour => 'timepicker', :time => '12:45 PM' } %> 
			  <span class='add-on'><i class='icon-time'></i></span>
			</div> 
			<div class="span2 tofield"> to </div>
			<div class='input-append time bootstrap-timepicker-component'>
			  <%= f.text_field :ends_at_time, :class => "dateselect-time  span2", :data => { :behaviour => 'timepicker', :time => '12:45 PM' } %>
			  <span class='add-on'><i class='icon-time'></i></span>
			</div>
			</div><!-- end div.row -->

			<h3>Location</h3>
			<div class="controls">
			<%= f.text_field :location_address, :class => "span6", :placeholder => 'Address Line 1', :rel => 'popover', :data => { :content => "Where will the workshop take place? Please give the exact address. If it’s your home we’ll show only the neighborhood on the public listing, and send the address to participants when they sign up.", "original-title" => 'Location' } %>
			</div>
			<div class="controls">
			<%= f.text_field :location_address2, :placeholder => 'Address Line 2', :class => "span6" %>
			</div>
			<div class="controls controls-row">
			<%= f.text_field :location_city, :placeholder => 'City', :class => "span3" %>
			<%= f.text_field :location_state, :placeholder => 'State', :class => "span1" %>
			<%= f.text_field :location_zipcode, :placeholder => 'Zip', :class => "span2" %>
			</div>

			<%= f.label :location_private, :class => "checkbox" do %>
			  <%= f.check_box :location_private %>This is a private or home address in the <% end %><%= f.text_field :location_nbrhood, :placeholder => 'Ex. Clarksville', :class => 'span2' %> neighborhood.


			<h3>Age Range</h3>
			<%= f.label :age_min, "Min. age" %>
			<%= f.number_field :age_min, :class => "span1", :rel => 'popover', :data => { :content => "This is entirely up to you. We suggest a minimum age of 10 because our research has shown a need for fabulous mentors before middle school. If participants need a specific skill set or level of experience you may want to set the age higher, or if you're comfortable working with children you may want to focus on a younger age range.", "original-title" => 'Age Range' } %>
			<%= f.label :age_max, "Max. age" %>
			<%= f.number_field :age_max, :class => "span1", :rel => 'popover', :data => { :content => "If you want to work specifically with children or teenagers, you can set a maximum age accordingly. If you're happy to work with adults as well, you can set the maximum to 99.", "original-title" => 'Age Range' } %>

			<h3>Number of Participants</h3>
			<%= f.label :registration_min, "Min. participants" %>
			<%= f.number_field :registration_min, :class => "span1", :rel => 'popover', :data => { :content => "What is the minimum number of participants you need to run the workshop? If fewer than this number have signed up by the time registration closes, the workshop will be cancelled.", "original-title" => 'Number of Participants' } %> 
			<br />
			<%= f.label :registration_max, "Max. participants" %>
			<%= f.number_field :registration_max, :class => "span1", :rel => 'popover', :data => { :content => "What is the maximum number of participants you can accommodate in the workshop? Once this many people have signed up, we will close registration for the workshop.", "original-title" => 'Number of Participants'} %>

			<%= f.label :price, capture { %>
			<h3>Cost</h3>
			<% } %>
			<div class="input-prepend input-append">
			<span class="add-on">$</span>
			<%= f.text_field :price, :class => "span1", :rel => 'popover', :data => { :content => "Please list the amount per girl that you want to earn from teaching this session (remember to account for materials). We’ll add 20% on top of that to set the full fee each girl will pay. See our FAQ page for details and examples of our cost structure."} %>
			</div>

			<!--<p><%= @workshop.price %> + 20% = <%= @workshop.price %> x 1.2 TOTAL cost to participants</p>-->

			<%= f.label :ends_at, capture { %> 
			<p>Close registration for this workshop on:</p>
			<% } %>
			<div class="input-append date" data-behaviour="datepicker">
			  <%= f.text_field :ends_at, :class => "span2", :value => @workshop.ends_at.strftime("%m/%d/%Y") %>
			 <span class="add-on"><i class="icon-th"></i></span>
			</div>
		</div>  
	  </div>  
	</div> 


	<div class="accordion-group">  
	  <div class="accordion-heading">  
	    <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">  
	      3. A few quick logistics  
	    </a>  
	  </div>  
	  <div id="collapseThree" class="accordion-body collapse">  
	    <div class="accordion-inner"> 
	    	<p>This part is for internal use only; this information will not be displayed with your workshop.</p>

			<h3>Payment options</h3>

			<p>After the workshop, we'll send your payment by:</p>
			<p><%= f.radio_button :payment_options, "Paypal" %> Paypal, to the following email address: <%= f.text_field :paypal_email, :value => "#{@current_user.email}", :class => 'span2' %></p>

			<p><%= f.radio_button :payment_options, "Check" %> Check, mailed to the following address:</p>
			<div class="controls">
			<%= f.text_field :sendcheck_address, :class => "span6", :placeholder => 'Address Line 1' %>
			</div>
			<div class="controls">
			<%= f.text_field :sendcheck_address2, :placeholder => 'Address Line 2', :class => "span6" %>
			</div>
			<div class="controls controls-row">
			<%= f.text_field :sendcheck_city, :placeholder => 'City', :class => "span3" %>
			<%= f.text_field :sendcheck_state, :placeholder => 'State', :class => "span1" %>
			<%= f.text_field :sendcheck_zip, :placeholder => 'Zip', :class => "span2" %>
			</div>

			<h3>Background check</h3>
			<%= f.label :permission, :class => "checkbox" do %>
			  <%= f.check_box :permission, :rel => 'popover', :data => { :content => "We run background checks on all maker-mentors as part of our efforts to foster a safe community."} %>Yes, I give permission for GirlsGuild to run a background check on me.*
			<% end %>
	  	</div>  
	  </div>  
	</div> 

</div>   


