.span4
  .box.box-large
    - if workshop && workshop.host_album
      - if workshop.host_album.featured_photo
        = render 'photos/photo', photo: workshop.host_album.featured_photo, size: :large, url: url_for(workshop)
      - elsif workshop.host_album.photos.first
        = render 'photos/photo', photo: workshop.host_album.photos.sort_by { |photo| photo.position(album_id: workshop.host_album.id) }.first, size: :large, url: url_for(workshop)
      - else
        %a{ href: url_for(edit_workshop_path(workshop)) }
          %img.default-photo-large{ src: "/images/common/upload-photos-400px.jpg" }
    .box-details
      - unless current_user.blank?
        - if workshop.user == current_user
          = link_to "Add Images", {controller: :workshops, action: :workshop_album, id: workshop}, class: "btn btn-mini pull-right"
          - if workshop.started?
            = link_to "Resume", edit_workshop_path(workshop), class: "btn btn-mini pull-right"
          - elsif workshop.accepted?
            = link_to "Edit", edit_workshop_path(workshop), class: "btn btn-mini pull-right"
      = link_to workshop.title_html, workshop_path(workshop), class: "title-boxlink"
      %br
      - if workshop.registration_max
        Number of spots left -
        = workshop.registration_max - workshop.signups.where(:state => "confirmed").count
      %br
      - if workshop.age_min && workshop.age_max
        Ages
        = workshop.age_min
        to
        = workshop.age_max
      %br
      - if workshop.begins_at && workshop.begins_at_time && workshop.ends_at_time
        - if workshop.datetime_tba == "0"
          = workshop.begins_at.strftime('%A, %B %d')
          from
          = workshop.begins_at_time.strftime('%I:%M%P')
          to
          = workshop.ends_at_time.strftime('%I:%M%P')
        - else
          Date & time TBA
