.span4
  .box.box-large
    - if workshop && workshop.host_album
      - if workshop.host_album.featured_photo
        = render 'photos/photo', photo: workshop.host_album.featured_photo, size: :large, url: url_for(workshop)
      - elsif workshop.host_album.photos.first
        = render 'photos/photo', photo: workshop.host_album.photos.sort_by { |photo| photo.position(album_id: workshop.host_album.id) }.first, size: :large, url: url_for(workshop)
      - else
        %a{ href: url_for(edit_workshop_path(workshop)) }
          %img.default-photo-large{ src: "/images/common/upload-photos-400px.jpg" }
    .box-details
      - unless current_user.blank?
        - if workshop.user == current_user
          - if workshop.started?
            = link_to "Edit", edit_workshop_path(workshop), class: "btn btn-mini pull-right"
          - elsif workshop.accepted?
            = link_to "Edit", edit_workshop_path(workshop), class: "btn btn-mini pull-right"

      = link_to workshop.title_html, workshop_path(workshop), class: "title-boxlink"

      Ages
      %span.label
        = workshop.age_min ? workshop.age_min : '_'
        - if workshop.age_max > 18
          = "and Up"
        - else
          to
          = workshop.age_max ? workshop.age_max : '_'
      %br
      %span.date
        - if workshop.datetime_tba == false
          = workshop.begins_at ? workshop.begins_at.strftime('%a, %b %d') : '_'
        - else
          %b Dates TBA
      %span.spots
        - unless workshop.datetime_tba
          - if workshop.begins_at > Date.today
            &nbsp;
            = workshop.spots_left
          - else
            &nbsp;
            %b Closed
      = avatar_for(workshop.user, class: "avatar", size: 50, tag: 'medium')
