- show = (params[:action] == 'show')
#public
  #msg.alert.hide
  %section.section
    .container
      - if show
        - if current_user && current_user==@workshop.user
          = link_to "Edit", edit_workshop_path(@workshop), name: "edit_button", class: "btn btn-primary pull-right"

      - unless show
        %h2 Nice! Let's design your workshop
        • Click on the text to edit any field you want to change
        %br
        • Hover on the
        %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"The question marks have tips to answer your questions!"} }
          %i.fa.fa-question-circle.small-iconnext
        next to each field for tips & more info
        %br
        %p• We'll save automatically as you go, and we've emailed you a link to come back to it at any time
        %br
        %h1#page-header.pull-right Build your Workshop
        %br
        = render 'checkmark_nav'
      %br
      #top
        .row-fluid
          - unless show
            .pull-right
              #preview-buttons-top
                = link_to "Preview #{content_tag(:i, "", class: "fa fa-external-link")}".html_safe, '#', class: 'btn preview-btn', data: { url: workshop_path(@workshop) }

          //Banner //////////////////
          #banner
            - if !show
              .small Upload an Avatar
              #avatar.field{ rel: 'popover', data: {placement: "right", content:'Upload an image of yourself that shows a little of your personality'} }
                = link_to(avatar_for(current_user, size: 50, tag: :medium), '#avatarModal', id: 'avatar-edit', data: {toggle: "modal"} )
                #avatarModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "avatarModal", :role => "dialog", :tabindex => "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                    %h3#galleryModalLabel My Avatar
                  .modal-body
                    = simple_form_for(@user, :url => update_avatar_path, defaults: { input_html: { class: 'span5' } }, html: { :method => :put } ) do |f|
                      = render 'dashboards/avatar_fields', f: f
            - else
              #avatar.field
                = avatar_for(@workshop.user, size: 50, tag: :medium)


            %br
            - if !show
              %i.fa.fa-asterisk
            %h1#title.field.text
              = editable_link_to 'Topic of Your Workshop', field: :topic, resource: @workshop, type: :text
            - if !show
              %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"Give a snappy title for the workshop. You could include the type of workshop in the name. Example: 'Production Workshop for Fab.com', or you could focus on what you'll be doing; 'Soldering and Casting Workshop' "} }
                %i.fa.fa-question-circle.small-icon
            %br
            with
            - if !show
              %i.fa.fa-asterisk
            #first-name.field.text
              = editable_link_to 'Your First Name', field: :host_firstname, resource: @workshop, type: :text
            - if !show
              %i.fa.fa-asterisk
            #last-name.field.text
              = editable_link_to 'Your Last Name', field: :host_lastname, resource: @workshop, type: :text
            - if !show || @workshop.host_business.present?
              of
              #business.field.text.optional
                = editable_link_to 'Your Business (Optional)', field: :host_business, resource: @workshop, type: :text
            %br

            #kind.field.label.label-inverse
              %span
                Workshop
            %br

            - if !show
              %i.fa.fa-asterisk
            #description.field.textarea
              = editable_link_to "Tell us about your workshop. Describe what you'll be making or doing, what level of experience you're teaching, as well as any expectations of those attending.", field: :description, resource: @workshop, type: :textarea
            - if !show
              %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"Tell us about your workshop. Describe what you'll be doing as well as your expectations of those attending."} }
                %i.fa.fa-question-circle.small-icon
            %br
            - if !show
              %br
              %i.fa.fa-asterisk
              %p.images-desc Upload 5 images of your studio & your work as it pertains to the workshop.
              %br
              %p.images-desc Max size: 1300px, Min size: 600px.

            //Social bttns //////////////////
            - if show
              .socials
                %a{"data-pin-do" => "buttonBookmark", :href => "//pinterest.com/pin/create/button/"}
                  %img{:src => "//assets.pinterest.com/images/pidgets/pin_it_button.png"}/
                .fb-like{"data-layout" => "button_count", "data-show-faces" => "false", "data-width" => "450"}
                %a.twitter-share-button{"data-via" => "TheGirlsGuild", :href => "https://twitter.com/share"} Tweet
                :javascript
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            %br
            %br


//Images Section //////////////////
= render 'host_album', show: show


%section.section
  .container
    #bottom
      .row-fluid

        //Details Section //////////////////
        %span#details.pull-left.span9
          %dl.dl-horizontal
            %dt
              - if !show
                %i.fa.fa-asterisk
              When
            %dd
              - if !show || !@workshop.datetime_tba
                #dates{class: @workshop.datetime_tba ?  'hidden' : '' }
                  #begins-at.field.date.optional
                    = editable_link_to "Date", field: :begins_at, resource: @workshop, type: :date, link_text: get_formated_date(@workshop.begins_at), data: { viewformat: 'MM d, yyyy', template: 'MM d, yyyy'}
                  from
                  #begins-at-time.field.combodate.optional
                    = editable_link_to "Start Time", field: :begins_at_time, resource: @workshop, type: :combodate, link_text: get_formated_date(@workshop.begins_at_time, format: "%l:%M %P"), data: { viewformat: 'h:mm a', template: 'h:mm a', format: "DD-MM-YYYY h:mm a"}
                  to
                  #ends-at-time.field.combodate.optional
                    = editable_link_to "End Time", field: :ends_at_time, resource: @workshop, type: :combodate, link_text: get_formated_date(@workshop.ends_at_time, format: "%l:%M %P"), data: { viewformat: 'h:mm a', template: 'h:mm a', format: "DD-MM-YYYY h:mm a"}
              - if !show
                %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"Choose 'Schedule' to set the date of the workshop. Choose 'TBA' to let people 'follow it' to show their interest in it before you announce a date."} }
                  %i.fa.fa-question-sign.small-icon

              #close-registrations{class: ( @workshop.datetime_tba) ?  'hidden' : '' }
                Signups close on
                #ends-at.field.date.optional
                  = editable_link_to "Date", field: :ends_at, resource: @workshop, type: :date, link_text: get_formated_date(@workshop.ends_at), data: { viewformat: 'MM d, yyyy', template: 'MM d, yyyy'}
                - if !show
                  %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"Think about how far in advance you would like to know if someone registers for your workshop. How much time will it take to prep. for that number of students?"} }
                    %i.fa.fa-question-circle.small-icon
            %dt
              - if !show
                %i.fa.fa-asterisk
              Where
            %dd
              - if !show || @workshop.location_private
                The location is a
                #private-address.field.select
                  - if @workshop.location_private == true
                    - private_text = "Residential"
                  - elsif @workshop.location_private == false
                    - private_text = "Public"
                  = editable_link_to "Public/Residential", field: :location_private, resource: @workshop, type: :select, link_text: @workshop.location_private.nil? ? nil : private_text , data: { source: '{true : "Residential", false : "Public"}'}
                address
                #nbrhood-toggle{class: !@workshop.location_private ?  'hidden' : '' }
                  in the
                  - if !show || @workshop.location_private
                    #nbrhood.field.text.optional
                      = editable_link_to "Neighborhood", field: :location_nbrhood, resource: @workshop, type: :text
                    neighborhood
                - if !show
                  %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:'A "Public" address will be displayed on the workshop page with a map of the exact location, while a "Residential" address will only display a map of the neighborhood until the student has been accepted and confirmed.'} }
                    %i.fa.fa-question-circle.small-icon
                %br

              - if !show || !@workshop.location_private || current_user && (current_user.signedup?(@workshop) or current_user==@workshop.user)
                #address
                  #address1.field.address
                    = editable_link_to "Street Address", field: :location_address, resource: @workshop, type: :text
                  #city.field.address
                    = editable_link_to "City", field: :location_city, resource: @workshop, type: :text
                  ,
                  #state.field.address
                    = editable_link_to "State", field: :location_state, resource: @workshop, type: :text
                  #zip.field.address
                    = editable_link_to "Zip", field: :location_zipcode, resource: @workshop, type: :text
                  %br

            %dt
              - if !show
                %i.fa.fa-asterisk
              Who
            %dd
              #gender.field.checkbox
                - if @workshop.gender == true
                  - gender_text = "Open to all gender identities"
                - elsif @workshop.gender == false
                  - gender_text = "Girls/Women"
                = editable_link_to "Describe your student(s)", field: :gender, resource: @workshop, type: :select, link_text: gender_text, data: { source: '{"false" : "Girls/Women", "true" : "Open to all gender identities"}'}
              ages
              #min-age.field.select
                = editable_link_to "Min Age", field: :age_min, resource: @workshop, type: :number
              to
              #max-age.field.select
                = editable_link_to "Max Age", field: :age_max, resource: @workshop, type: :number
              - if !show
                %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"This is entirely up to you. We suggest a minimum age of 11 because our research has shown a need for fabulous mentors before middle school. If you need someone with a specific skill set or experience you may want to set the age higher and be clear about your needs in the workshop description above."} }
                  %i.fa.fa-question-circle.small-icon

            %dt
              - if !show
                %i.fa.fa-asterisk
              How Many
            %dd
              #registration-min.field.number
                = editable_link_to "Min", field: :registration_min, resource: @workshop, type: :text
              to
              #registration-max.field.number
                = editable_link_to "Max", field: :registration_max, resource: @workshop, type: :text
              participants.
              - if !show
                %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"What is the minimum number of participants you need to run the workshop? If fewer than this number have signed up by the time registration closes, the workshop will be cancelled. What is the maximum number of participants you can accommodate in the workshop? Once this many people have signed up, we will close registration for the workshop."} }
                  %i.fa.fa-question-circle.small-icon
              - if show
                %b
                  = @workshop.spots_left
            %dt
              - if !show
                %i.fa.fa-asterisk
              Price
            %dd
              - if !show
                $
                #price.field.number
                  = editable_link_to "Your Price", field: :price, resource: @workshop, type: :text
                #price-details
                  total. You'll receive
                $
                %span#total-price.field
                  = @workshop.total_price
                per participant.
              - if !show
                %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"Please list the total fee each girl will pay (remember to account for materials). We split it 80% / 20% and show you how much you'll receive per girl. See our FAQ page for details and examples of our cost structure."} }
                  %i.fa.fa-question-circle.small-icon
              - if show
                $
                %span#total-price.field
                  = @workshop.price.to_i

            %dt
              - if !show
                %i.fa.fa-asterisk
              Skills Taught
            %dd
              #skills.field.tags
                = editable_link_to "Skills and techniques you'll be teaching", field: :skill_list, resource: @workshop, type: :select2
              - if !show
                %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", trigger: "hover", content:"Be as specific as possible so that we can give your student credit for learning new skills allow her to show them off in her portfolio!"} }
                  %i.fa.fa-question-circle.small-icon
            %dt
              - if !show
                %i.fa.fa-asterisk
              Tools Taught
            %dd
              #tools.field.tags
                = editable_link_to "Tools and materials you'll be teaching", field: :tool_list, resource: @workshop, type: :select2
              - if !show
                %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", trigger: "hover", content:"Be as specific as possible so that we can give your student credit for learning new tools and allow her to show them off in her portfolio!"} }
                  %i.fa.fa-question-circle.small-icon
            - if !show || !@workshop.requirement_list.empty?
              %dt
                Requirements
              %dd
                #prequisites.field.tags.optional
                  = editable_link_to 'Any required skills or tools participants should have previous experience with?', field: :requirement_list, resource: @workshop, type: :select2
                - if !show
                  %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", trigger: "hover", content:"Is this workshop more collaborative, or more directed? Be honest about the help that you need right from the begining. Example: chopsaw, welding, javascript"} }
                    %i.fa.fa-question-circle.small-icon
            /- if !show || @workshop.other_needs
            /  %dt
            /    Preparations
            /  %dd
            /    #preparations.field.tags.optional
            /      = editable_link_to 'Ex: "Must have their own laptop"', field: :other_needs, resource: @workshop, type: :text
            /    - if !show
            /      %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"Let the student know what she should prepare to bring, wear, or read before you get started working together. Example: a car, a cellphone, a computer, a sense of humor."} }
            /        %i.fa.fa-question-circle.small-icon



            - if current_user && current_user.signedup?(@workshop) or current_user==@workshop.user
              %hr
              %dt
                Email
              %dd
                = mail_to @workshop.user.email
                - if !show
                  %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content: "Don't worry, this will only be visible to participants AFTER they sign up!."} }
                    %i.fa.fa-question-circle.small-icon
                    = link_to "(Edit email)", edit_user_registration_path

            - if @workshop.user.bio.present?
              %dt
                Bio
              %dd
                = @workshop.user.bio
            - if @workshop.user.website.present?
              %dt
                Website
              %dd
                = link_to @workshop.user.website, nice_url(@workshop.user.website)
            - if @workshop.user.webshop.present?
              %dt
                Webshop
              %dd
                = link_to @workshop.user.webshop, nice_url(@workshop.user.webshop)
            - if @workshop.user.facebook.present?
              %dt
                Facebook
              %dd
                = link_to @workshop.user.facebook, nice_url(@workshop.user.facebook)
            - if @workshop.user.twitter.present?
              %dt
                Twitter
              %dd
                = link_to @workshop.user.twitter, nice_url(@workshop.user.twitter)


            - if show && current_user && current_user.admin? && @workshop.pending?
              %dt
                Legal Name
              %dd
                = @workshop.legal_name


            - if show
              - if current_user && current_user.signedup?(@workshop) || current_user && current_user==@workshop.user || current_user && current_user.admin?
                %hr
                %dt
                  Attendee(s)
                %dd
                  - @workshop.signups.where(state: ["confirmed", "completed"]).each do |work_signup|
                    = avatar_for(work_signup.user, size: 25, tag: :small)
                    - if work_signup.parent?
                      #{work_signup.user.name}'s daughter #{work_signup.daughter_firstname}
                    - else
                      = work_signup.user.name
                    \&nbsp; - &nbsp;
                    = mail_to work_signup.user.email
                    %br



        //Apply Sidebar //////////////////
        %span#applysidebar.span3
          - if show
            - if current_user && current_user.signedup?(@workshop) && @work_signup.confirmed?
              = link_to "Signed up #{content_tag(:i, "", class: "fa fa-check-circle")}".html_safe, '#workwithModal', data: {toggle: "modal"}, :class => "btn btn-block btn-success"
              #workwithModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "workwithModal", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h3#galleryModalLabel Nice!
                .modal-body
                  %p It looks like you've signed up already! Do you want to start a new registration?
                  %br
                  .span10.pull-right.right
                    = link_to "Sign myself up", new_work_signup_path(workshop_id: @workshop), :class => "btn btn-primary"
                    \&nbsp;
                    = link_to "Sign up my Daughter", new_parent_work_signup_path(workshop_id: @workshop), :class => "btn btn-primary"
                  %button.close.pull-right{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
                  %br

            - elsif current_user && current_user.signedup?(@workshop) && @work_signup.canceled?
              = link_to "Sign up", new_work_signup_path(workshop_id: @workshop), :class => "btn btn-block btn-primary"

            - elsif current_user && current_user.signedup?(@workshop) && @work_signup.completed?
              = link_to "Workshop passed", new_work_signup_path(workshop_id: @workshop), :class => "btn btn-block btn-inverse disabled"

            - elsif @workshop.datetime_tba == true
              %br

            - elsif @workshop.accepted? && @workshop.datetime_tba == false && @workshop.ends_at <= Date.today
              = link_to "Signups closed", '#workwithModal', rel: 'popover', data: {placement: "left", content:"Sorry, this workshop is closed for sign-ups, but you can follow this maker to be the first to know next time she's teaching."}, :class => "btn btn-block btn-inverse disabled"

            - elsif @workshop.filled?
              = link_to "Workshop filled", '#workwithModal', rel: 'popover', data: {placement: "left", content:"Sorry, this workshop is already full, but you can follow this maker to be the first to know next time she's teaching."}, :class => "btn btn-block disabled"

            - elsif @workshop.completed?
              = link_to "Workshop has passed", '#workwithModal', rel: 'popover', data: {placement: "left", content:"Sorry, this workshop has passed, but you can follow this maker to be the first to know next time she's teaching."}, :class => "btn btn-block btn-inverse disabled"

            - elsif @workshop.accepted? && @workshop.datetime_tba == false && @workshop.ends_at > Date.today
              - if current_user && current_user.age > @workshop.age_max
                = link_to "Sign up", '#workwithModal', data: {toggle: "modal"}, :class => "btn btn-block btn-primary"
                #workwithModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "workwithModal", :role => "dialog", :tabindex => "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                    %h3#galleryModalLabel Oops
                  .modal-body
                    %p It looks like you're older than the maximum age for this workshop. But you can sign your daughter up!
                    %br
                    = link_to "Sign up my Daughter", new_parent_work_signup_path(workshop_id: @workshop), :class => "btn btn-primary pull-right"
                    %button.close.pull-left{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
                    %br

              - elsif current_user && current_user.age < @workshop.age_min
                = link_to "Sign up", '#workwithModal', data: {toggle: "modal"}, :class => "btn btn-block btn-primary"
                #workwithModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "workwithModal", :role => "dialog", :tabindex => "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                    %h3#galleryModalLabel Whoops
                  .modal-body
                    %p It looks like you're younger than the minimum age for this workshop. But you can follow this maker to be notified when she posts a workshop or an apprenticeship!
                    %br
                    .span4.pull-right
                      = render :partial => "shared/prereg", :locals => {:event => @workshop}
                    %button.close.pull-left{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
                    %br

              - else
                = link_to "Sign up", new_work_signup_path(workshop_id: @workshop), :class => "btn btn-block btn-primary"

            %br
            = render :partial => "shared/prereg", :locals => {:event => @workshop}
            %br

          //Map //////////////////
          - if show
            #map-box
              = render 'layouts/googleshim', address: @workshop.google_address
              .map-top-shadow
              #map
              .map-bottom-shadow


      //Preview & Next //////////////////
      - if !show
        .row-fluid
          #preview-buttons-bottom
            = link_to "Preview #{content_tag(:i, "", class: "fa fa-external-link")}".html_safe, '#', class: 'btn preview-btn', data: { url: workshop_path(@workshop) }
            #proceed.preview-hide
              = link_to 'Next', private_workshop_path(@workshop), method: :get, class: 'btn btn-primary'

      //Disqus //////////////////
      - if show
        - if current_user && current_user.signedup?(@workshop)
          = render 'disqus'
        - if current_user==@workshop.user
          = render 'disqus'


  //Admin Controls //////////////////
  %section#admin_section.section
    .container
      .row-fluid
        - if current_user && current_user.admin? && @workshop.pending?
          = link_to "Reject Workshop", '#rejectModal', data: {toggle: "modal"}, :class => "btn"
          #rejectModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "rejectModal", :role => "dialog", :tabindex => "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h3#galleryModalLabel Perp Alert!
            .modal-body
              %p What's the problem with this submission?
              %br
              = simple_form_for(@workshop) do |f|
                = f.input :reject_reason, input_html: { rows: "2",
                  placeholder: "This reason will be plopped into the email we send the maker."}
                = f.submit "Reject Workshop", :name => "reject_button", :class => "btn"
              %button.close.pull-left{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
              %br
          = link_to "Approve Workshop", { :controller => 'workshops', :action => 'accept', :id => @workshop.id }, class: "btn btn-success", :method => 'post', :data => { :confirm => 'Hey Nerds, did you do a background check yet?'}

          %br
          %br

        - if current_user && current_user.admin? && @workshop.accepted?
          = link_to "Revoke Workshop", '#revokeModal', data: {toggle: "modal"}, :class => "btn"
          #revokeModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "revokeModal", :role => "dialog", :tabindex => "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h3#galleryModalLabel Uh-oh!
            .modal-body
              %p What's the issue with this workshop?
              %br
              = simple_form_for(@workshop) do |f|
                = f.input :revoke_reason, input_html: { rows: "2",
                  placeholder: "This reason will be plopped into the email we send the maker.",
                  rel: 'popover'}
                = f.submit "Revoke Workshop", :name => "revoke_button", :class => "btn btn-warning"
              %button.close.pull-left{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
              %br
          %br
          %br

        - if current_user && current_user == @workshop.user && !@workshop.started? && !@workshop.completed? && !@workshop.canceled?
          = link_to "Cancel Workshop", { :controller => 'workshops', :action => 'cancel', :id => @workshop.id }, class: "btn btn-danger", :method => 'post', data: { :confirm => "Are you sure? Your workshop will be saved in your Dashboard, but you'll have to resubmit it in order to post it again." }
          %br
          %br

        - if current_user && current_user == @workshop.user && @workshop.started?
          = link_to "Delete Workshop", { :controller => 'workshops', :action => 'destroy', :id => @workshop.id }, class: "btn btn-danger", :method => 'delete', data: { :confirm => "Are you sure? You can't undo after you delete your workshop. It will really be gone!" }
          %br
          %br