%section#workshops-index.section
  .container
    %h1 Workshops
    = link_to "Offer a Workshop!", new_workshop_path, class: 'btn btn-large btn-primary pull-right'
    %br/
    %br/
    /%a.toggleheader.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseOne"} How it works
    .accordion.form-horizontal#accordion2
      .accordion-group
        .accordion-heading
          %h2
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseOne"}
        #collapseOne.accordion-body.collapse
          .accordion-inner
            %h2 How it Works
            %br/
            .row-fluid
              %ul.thumbnails.bordered
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.icon-beaker.enormous-icon.circled.pull-center
                    .span8
                      %h3 Step 1
                      %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.icon-cloud.enormous-icon.circled.pull-center
                    .span8
                      %h3 Step 2
                      %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.icon-map-marker.enormous-icon.circled.pull-center
                    .span8
                      %h3 Step 3
                      %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    .row
      - unless @workshops.blank?
        = render :partial => "workshop", :collection => @workshops
    - unless current_user.blank?
      - if current_user.admin?
        %hr
        %h2 Admin
        - unless @allsaved_workshops.blank?
          %br/
          %h4 Saved Workshops
          .row.row-saved
            = render :partial => "workshop", :collection => @allsaved_workshops
        - unless @allpending_workshops.blank?
          %br/
          %h4 Pending Workshops Needing Review
          .row.row-pending
            = render :partial => "workshop", :collection => @allpending_workshops
        - unless @allcanceled_workshops.blank?
          %br/
          %h4 Canceled Workshops Since Being Accepted
          .row.row-canceled
            = render :partial => "workshop", :collection => @allcanceled_workshops
        - unless @allfull_workshops.blank?
          %br/
          %h4 Full Workshops
          .row.row-full
            = render :partial => "workshop", :collection => @allfull_workshops
        - unless @allcompleted_workshops.blank?
          %br/
          %h4 Completed Workshops
          .row.row-completed
            = render :partial => "workshop", :collection => @allcompleted_workshops
      - unless current_user.workshops.blank?
        %hr
        %h2 My Workshops
        - unless @mycanceled_workshops.blank?
          %br/
          %h4 My Canceled Workshops
          .row.row-canceled
            = render :partial => "workshop", :collection => @mycanceled_workshops
        - unless @mysaved_workshops.blank?
          %br/
          %h4 My Saved Workshops
          .row.row-saved
            = render :partial => "workshop", :collection => @mysaved_workshops
        - unless @mypending_workshops.blank?
          %br/
          %h4 My Pending Workshops
          .row.row-pending
            = render :partial => "workshop", :collection => @mypending_workshops
        - unless @myactive_workshops.blank?
          %br/
          %h4 My Upcoming Workshops
          .row.row-upcoming
            = render :partial => "workshop", :collection => @myactive_workshops
        - unless @myfull_workshops.blank?
          %br/
          %h4 My Full Workshops
          .row.row-full
            = render :partial => "workshop", :collection => @myfull_workshops
        - unless @mycompleted_workshops.blank?
          %br/
          %h4 My Completed Workshops
          .row.row-completed
            = render :partial => "workshop", :collection => @mycompleted_workshops
