<%= content_tag :section, :class => "section" do %>
	<%= content_tag :div, :class => "container" do %>
		<%= link_to "Offer a Workshop", new_workshop_path, :class => 'btn btn-large btn-primary' %>


		<% unless current_user.blank? %>
			<% if current_user.admin? %>
				<hr />
				<h2>Admin</h2>
				<% unless @allsaved_workshops.blank? %>
					<h3>Saved Workshops</h3>
					<%= render :partial => "workshop", :collection => @allsaved_workshops %>
				<% end %>

				<% unless @allpending_workshops.blank? %>
					<h3>Pending Workshops Needing Review</h3>
					<%= render :partial => "workshop", :collection => @allpending_workshops %>
				<% end %>

				<% unless @allcanceled_workshops.blank? %>
					<h4>Canceled Workshops Since Being Accepted</h4>
					<%= render :partial => "workshop", :collection => @allcanceled_workshops %>
				<% end %>

				<% unless @allcompleted_workshops.blank? %>
					<h4>Completed Workshops</h4>
					<%= render :partial => "workshop", :collection => @allcompleted_workshops %>
				<% end %>
			<% end %>


			<% unless current_user.workshops.blank? %>
				<hr />
				<h2>My Workshops</h2>
				<% unless @mycanceled_workshops.blank? %>
					<h4>My Canceled Workshops</h4>
					<%= render :partial => "workshop", :collection => @mycanceled_workshops %>
				<% end %>

				<% unless @mysaved_workshops.blank? %>
					<h4>My Saved Workshops</h4>
					<%= render :partial => "workshop", :collection => @mysaved_workshops %>
				<% end %>

				<% unless @mypending_workshops.blank? %>
					<h4>My Pending Workshops</h4>
					<%= render :partial => "workshop", :collection => @mypending_workshops %>
				<% end %>

				<% unless @myactive_workshops.blank? %>
					<h4>My Upcoming Workshops</h4>
					<%= render :partial => "workshop", :collection => @myactive_workshops %>
				<% end %>

				<% unless @mycompleted_workshops.blank? %>
					<h4>My Completed Workshops</h4>
					<%= render :partial => "workshop", :collection => @mycompleted_workshops %>
				<% end %>
			<% end %>
		<% end %>


		<% unless @workshops.blank? %>
			<hr />
			<h2>All Workshops</h2>
			<%= render :partial => "workshop", :collection => @workshops %>
		<% end %>


	<% end %>
<% end %>