%section#workshops-index.section
  .container
    %h1 Workshops
    = link_to "Offer a Workshop!", new_workshop_path, class: 'btn btn-large btn-primary pull-right'
    .row
      - unless @workshops.blank?
        = render :partial => "workshop", :collection => @workshops
    - unless current_user.blank?
      - if current_user.admin?
        %hr
        %h2 Admin
        - unless @allsaved_workshops.blank?
          %h3 Saved Workshops
          .row
            = render :partial => "workshop", :collection => @allsaved_workshops
        - unless @allpending_workshops.blank?
          %h3 Pending Workshops Needing Review
          .row
            = render :partial => "workshop", :collection => @allpending_workshops
        - unless @allcanceled_workshops.blank?
          %h4 Canceled Workshops Since Being Accepted
          .row
            = render :partial => "workshop", :collection => @allcanceled_workshops
        - unless @allfilled_workshops.blank?
          %h4 Filled Workshops
          .row
            = render :partial => "workshop", :collection => @allfilled_workshops
        - unless @allcompleted_workshops.blank?
          %h4 Completed Workshops
          .row
            = render :partial => "workshop", :collection => @allcompleted_workshops
      - unless current_user.workshops.blank?
        %hr
        %h2 My Workshops
        - unless @mycanceled_workshops.blank?
          %h4 My Canceled Workshops
          .row
            = render :partial => "workshop", :collection => @mycanceled_workshops
        - unless @mysaved_workshops.blank?
          %h4 My Saved Workshops
          .row
            = render :partial => "workshop", :collection => @mysaved_workshops
        - unless @mypending_workshops.blank?
          %h4 My Pending Workshops
          .row
            = render :partial => "workshop", :collection => @mypending_workshops
        - unless @myactive_workshops.blank?
          %h4 My Upcoming Workshops
          .row
            = render :partial => "workshop", :collection => @myactive_workshops
        - unless @myfilled_workshops.blank?
          %h4 My Filled Workshops
          .row
            = render :partial => "workshop", :collection => @myfilled_workshops
        - unless @mycompleted_workshops.blank?
          %h4 My Completed Workshops
          .row
            = render :partial => "workshop", :collection => @mycompleted_workshops
