%section#workshops-index.section
  .container
    %h1 Workshops
    = link_to "Offer a Workshop!", new_workshop_path, class: 'btn btn-large btn-primary pull-right'
    %br/
    %br/
    .accordion#accordion2
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-toggle" => "collapse", href: "#collapseOne", class: 'pull-center' }
            How it Works
            %i.icon-chevron-down
        #collapseOne.accordion-body.collapse
          .accordion-inner
            %br/
            .row-fluid
              %ul.thumbnails.bordered
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.icon-beaker.enormous-icon.circled.pull-center
                    .span8
                      %h3 Find a Maker
                      %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.icon-cloud.enormous-icon.circled.pull-center
                    .span8
                      %h3 Apply to Work with Her
                      %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.icon-map-marker.enormous-icon.circled.pull-center
                    .span8
                      %h3 3. Get Recognition
                      %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .row
      - unless @workshops.blank?
        = render :partial => "workshop", :collection => @workshops
    - unless current_user.blank?
      - if current_user.admin?
        %hr/
        %h2 Admin
        .alert
          - unless @allsaved_workshops.blank?
            %br/
            %h4 Saved Workshops
            .row-fluid.row-saved
              = render :partial => "workshop-tbl", locals: {workshops: @allsaved_workshops}
          - unless @allpending_workshops.blank?
            %br/
            %h4 Pending Workshops Needing Review
            .row-fluid.row-pending
              = render :partial => "workshop-tbl", locals: {workshops: @allpending_workshops}
          - unless @allcanceled_workshops.blank?
            %br/
            %h4 Canceled Workshops Since Being Accepted
            .row-fluid.row-canceled
              = render :partial => "workshop-tbl", locals: {workshops: @allcanceled_workshops}
          - unless @allfilled_workshops.blank?
            %br/
            %h4 Filled Workshops
            .row-fluid.row-filled
              = render :partial => "workshop-tbl", locals: {workshops: @allfilled_workshops}
          - unless @allcompleted_workshops.blank?
            %br/
            %h4 Completed Workshops
            .row-fluid.row-completed
              = render :partial => "workshop-tbl", locals: {workshops: @allcompleted_workshops}
      - unless current_user.workshops.blank?
        %hr
        %h2 My Workshops
        .alert.alert-info
          - unless @mycanceled_workshops.blank?
            %br/
            %h4 My Canceled Workshops
            .row-fluid.row-canceled
              = render :partial => "workshop-tbl", locals: {workshops: @mycanceled_workshops}
          - unless @mysaved_workshops.blank?
            %br/
            %h4 My Saved Workshops
            .row-fluid.row-saved
              = render :partial => "workshop-tbl", locals: {workshops: @mysaved_workshops}
          - unless @mypending_workshops.blank?
            %br/
            %h4 My Pending Workshops
            .row-fluid.row-pending
              = render :partial => "workshop-tbl", locals: {workshops: @mypending_workshops}
          - unless @myactive_workshops.blank?
            %br/
            %h4 My Upcoming Workshops
            .row-fluid.row-upcoming
              = render :partial => "workshop-tbl", locals: {workshops: @myactive_workshops}
          - unless @myfilled_workshops.blank?
            %br/
            %h4 My Filled Workshops
            .row-fluid.row-filled
              = render :partial => "workshop-tbl", locals: {workshops: @myfilled_workshops}
          - unless @mycompleted_workshops.blank?
            %br/
            %h4 My Completed Workshops
            .row-fluid.row-completed
              = render :partial => "workshop-tbl", locals: {workshops: @mycompleted_workshops}
