- provide(:title, 'Workshops')
%section#workshops-index.section
  .container
    %h1 Workshops
    = link_to "Offer a Workshop", new_workshop_path, class: 'btn btn-large btn-primary pull-right'
    %span.bttn-call.kristi.pull-right
      Hey Makers!
    %br
    %br
    .accordion#accordion2
      .accordion-group
        .accordion-heading
          %a.accordion-toggle.howitworks-drop{"data-toggle" => "collapse", href: "#collapseOne", class: 'pull-center' }
            How it Works
            %i.fa.fa-chevron-down
        #collapseOne.accordion-body.collapse
          .accordion-inner
            %br/
            .row-fluid
              %ul.thumbnails
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.fa.fa-bolt.enormous-icon.circled.pull-center.fa-4x
                    .span8
                      %h3 Get Inspired
                      %p
                        Check out the list of brilliant Makers below and pre-register to show your interest in working together. We'll let you know when they schedule an event or apprenticeship.
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.fa.fa-check-circle.enormous-icon.circled.pull-center.fa-4x
                    .span8
                      %h3 Sign Up
                      %p
                        Find a workshop you're stoked about? Sign up right now, or if it's full, let the maker know you're interested in working with them next time!
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.fa.fa-shield.enormous-icon.circled.pull-center.fa-4x
                    .span8
                      %h3 Earn Cred
                      %p
                        We'll keep track of the skills, tools, and techniques you're learning to begin to build out an incredible portfolio. Pretty soon you'll be hosting a workshop!
    .row
      - unless @workshops.blank?
        = render partial: "workshop", collection: @workshops
      - unless @tba_workshops.blank?
        = render partial: "workshop", collection: @tba_workshops
      - unless @closed_workshops.blank?
        = render partial: "workshop", collection: @closed_workshops

    %hr
    - unless current_user.blank?
      - if current_user.admin?
        - unless @allsaved_workshops.blank? && @allpending_workshops.blank? && @allcanceled_workshops.blank? && @allfilled_workshops.blank? && @allcompleted_workshops.blank?
          %h2 Admin
          - unless @allpending_workshops.blank?
            %h3 Pending
            .row-fluid.row-pending
              = render :partial => "workshop-tbl", locals: {workshops: @allpending_workshops}
          - unless @allsaved_workshops.blank?
            %h3 Saved
            .row-fluid.row-saved
              = render :partial => "workshop-tbl", locals: {workshops: @allsaved_workshops}
          - unless @allcanceled_workshops.blank?
            %h3 Canceled
            .row-fluid.row-canceled
              = render :partial => "workshop-tbl", locals: {workshops: @allcanceled_workshops}
          - unless @allfilled_workshops.blank?
            %h3 Filled
            .row-fluid.row-filled
              = render :partial => "workshop-tbl", locals: {workshops: @allfilled_workshops}
          - unless @allcompleted_workshops.blank?
            %h3 Completed
            .row-fluid.row-completed
              = render :partial => "workshop-tbl", locals: {workshops: @allcompleted_workshops}

