<%= content_tag :section, :class => "section" do %>
  <%= content_tag :div, :class => "container" do %>
    <% provide(:title, @workshop.title) %>
    <div class="row">
      <aside class="span8">
        <section>
          <h1>
            <%= @workshop.topic %> Workshop with <%= @workshop.host_firstname %> <%=@workshop.host_lastname %>
            <% unless @workshop.host_business.blank? %>
              of <%=@workshop.host_business %>
            <% end %>
          </h1>

          <h4>Bio</h4>
          <p><%= @workshop.bio %></p>

          <h4>Website</h4>
          <p><%= @workshop.website %></p>
          <p><%= @workshop.webshop %></p>

          <% unless @workshop.facebook.blank? && @workshop.twitter.blank? %>
            <h4>Social Media</h4>
              <p>@<%= @workshop.twitter %></p>
              <p>facebook.com/<%= @workshop.facebook %></p>
          <% end %>

          <hr />

          <h4>Workshop Description</h4>
          <p><%= @workshop.description %></P>
          
          <h4>Skills</h4> 
          <p><%= @workshop.skill_list %></p>
          
          <h4>Tools</h4>
          <p><%= @workshop.tool_list %></p>
          
          <% unless @workshop.requirement_list.blank? %>
            <h4>Requirements</h4>
            <p><%= @workshop.requirement_list %><p>
          <% end %>

          <% unless @workshop.other_needs.blank? %>
            <p>Note: <%= @workshop.other_needs %></p>
          <% end %>

          <h4>When</h4>
            <% if @workshop.datetime_tba.blank? %>
                <p><%= @workshop.begins_at.strftime("%m/%d/%Y") %>, <%= @workshop.begins_at_time.strftime("%l:%M%P") %> to <%= @workshop.ends_at_time.strftime("%l:%M%P") %></p>
            <% else %>
                <p>TBA</p>        
            <% end %>

          <h4>Where</h4>
          <p>
            <% if @workshop.location_private.blank? %>
              <%= @workshop.location_address %>, <%= @workshop.location_address2 %><br />
              <%= @workshop.location_city %>, <%= @workshop.location_state %> <%= @workshop.location_zipcode %>
            <% else %>
              <%= @workshop.location_nbrhood %>        
            <% end %>
          </p>

          <h4>Age Range</h4>
          <p><%= @workshop.age_min %> to <%= @workshop.age_max %></p>

          <h4>Cost</h4>
          <p><%= number_to_currency(@workshop.price, :unit => "$") %>


          <p>
            <% unless current_user.blank? %>
              <% if @workshop.started? && @workshop.user == current_user %>
               (<%= link_to "Resume", edit_workshop_path(@workshop) %>)
              <% elsif @workshop.pending? && @workshop.user == current_user %>
               (<%= link_to 'Delete', @workshop, :method => :delete, :data => { :confirm => 'Are you sure you want to delete this workshop? Deleting cannot be undone.' } %>)
              <% elsif @workshop.accepted? && @workshop.user == current_user or current_user.admin? %>
                (<%= link_to "Cancel", @workshop, :method => :cancel, :data => { :confirm => "Are you sure you want to cancel this workshop? It will be closed for sign-up and moved under My Canceled Workshops. You will still be able to edit and resubmit it."} %>)
               (<%= link_to "Edit", edit_workshop_path(@workshop) %>)
              <% end %>
            <% end %>
          </p>
          
          <% if @workshop.accepted? %>
            <%= link_to "Work with #{@workshop.host_firstname}", new_workshop_work_signup_path(@workshop), :class => "btn btn-large btn-primary" %>
          <% end %>

        </section>
      </aside>
    </div>
  <% end %>
<% end %>