<!-- app/views/inquiries/_inquiryform.html.erb -->
<%= simple_form_for inquiry, :html => {:class => "form-horizontal"}, :validate => true do |f| %>
	<fieldset>
		<div class='control-group'>
			<%= f.label :name, :class => "control-label" %>
			<div class='controls'>
				<%= f.text_field :name, :class => 'input-xlarge', :rel => 'popover' %>
			</div>
		</div>
		<div class='control-group'>
			<%= f.label :email, :class => "control-label" %>
			<div class='controls'>
				<%= f.text_field :email, :class => 'input-xlarge' %>
			</div>
		</div>
		<div class='control-group'>
			<%= f.label :message, :class => "control-label" %>
			<div class='controls'>
				<%= f.text_area :message, :class => 'input-xlarge', :rows=>'3' %>
			</div>
		</div>		
		<div class='control-group'>
			<div class='controls'>
				<%= f.submit "Send mail", :class => 'btn btn-primary' %>
			</div>
		</div>
	</fieldset>
<% end %>