- provide(:title, 'FAQ for Makers')
/ FAQ For Makers

%section#promo.section.alt
  .container
    .hero-unit
      %h1 FAQ for Makers
      %small
        .pull-right.faqlinknav
          = link_to "/ FAQ for Girls »", faq_girls_path

%br

%section.section#FAQ
  .container
    .row-fluid
      .span9
        .row-fluid
          .span2.pull-center
            %i.enormous-icon.icon-lightbulb.circled.pull-center
          .span10
            %h3 Get Listed as a Maker
            %p
              Want to test out an idea by seeing who's interested first? Post an idea for a topic you'll teach, upload a few images, and leave the dates "TBA".  We'll notify you as people follow it to show their interest in working together!
              /%a{href: "#more-get-listed" } Learn More »
              %br
            .label.label-info.pull-left Free to list
            = link_to "Post an Idea", new_workshop_path, class: "btn btn-small pull-right btn-callout"

        %hr/

        .row-fluid
          .span2.pull-center
            %i.enormous-icon.icon-wrench.circled.pull-center
          .span10
            %h3 Lead an Apprenticeship
            %p
              Become a Maker-mentor and share your knowledge! Get help with a big order, an event, or just with your day-to-day practice. List an apprenticeship and choose the right person from those who apply.
              %a{href: "#more-lead-apprenticeship" } Learn More »
              %br
            .label.label-info.pull-left $9.00 to post
            = link_to "Post an Apprenticeship", new_apprenticeship_path, class: "btn btn-small pull-right btn-callout"

        %hr/

        .row-fluid
          .span2.pull-center
            %i.enormous-icon.icon-pencil.circled.pull-center
          .span10
            %h3 Lead a Workshop
            %p
              Connect with your community! Take a few hours to teach your tools and share your skills with a group of girls who absolutely love what you do and want to learn how to do it. You set the price you'd like to earn. GirlsGuild takes 16% to promote it, take registrations, and keep track of your students.
              %a{href: "#more-lead-workshop" } Learn More »
              %br
            .label.label-info.pull-left Free to post
            %br
            = link_to "Post a Workshop", new_workshop_path, class: "btn btn-small pull-right btn-callout"

        %hr/

        /.row-fluid
        /  .span2.pull-center
        /    %i.enormous-icon.icon-home.circled.pull-center.commingsoon
        /      .commingsoon-text Coming Soon!
        /  .span10
        /    %h3 Host a Studio Visit
        /    %p
        /      There's no better way to create and refine your own ideas than by talking about them with smart people. Request or host a studio visit with someone you respect in the community.
        /    .kristi.pull-left $0
        /    %a{href: "#" } Learn More
        /    = link_to "Register", apprenticeships_path, class: "btn btn-small pull-right btn-success disabled"
        /%hr/


        %br#more-lead-apprenticeship

%section.section#FAQ
  .container
    .row-fluid
      .span9

        %article.blog-post
          %h2
            Leading an Apprenticeship
            %small
          %p
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q01"}
                  %strong
                    %i.icon-angle-down
                    Tips for running a great apprenticeship
              #q01.accordion-body.collapse
                .accordion-inner
                  .row-fluid
                    .well.span3
                      %h3
                        %i.icon-fire.inline
                        Challenge
                      The apprentice should be learning new things frequently enough to stay challenged, but don't forget to have them also practice what they're learning.
                    .well.span3
                      %h3
                        %i.icon-globe.inline
                        World View
                      Think about giving the apprentice a feel for what its like to run a small business, OR why you choose not to.
                      %br
                      %br
                      %br
                      %br
                    .well.span3
                      %h3
                        %i.icon-refresh.inline
                        Feedback
                      Remember to give gentle but constructive feedback. Help her learn from her mistakes which is often the best way to gain experience.
                      %br
                      %br
                    .well.span3
                      %h3
                        %i.icon-thumbs-up.inline
                        Encourage
                      Get to know each others goals and dreams! We want to help you build a mentor network because we're all stronger when we learn together.
                      %br
                      %br

          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q02"}
                  %strong
                    %i.icon-angle-down
                    How do these work?
              #q02.accordion-body.collapse
                .accordion-inner
                  We've tried to keep our framework for apprenticeships broad, so you can offer an apprenticeship that will truly meet your needs. However, we've found that most apprenticeships fall into three main categories; Production, Event, and Ongoing.
                  %br/
                  %br/
                  %h3 Production Apprenticeship
                  If you need help producing a big order or a new line of your work, you might consider taking on a girl to help you as a production apprentice.
                  %br/
                  %br/
                  %h3 Event Apprenticeship
                  If you have an upcoming event you could use a hand with, consider an apprentice to help plan, prepare for, and carry it out.
                  %br/
                  %br/
                  %h3 Ongoing Apprenticeship
                  Or if you're simply interested in new collaborations and the chance to teach your skills and share your process, an ongoing apprenticeship carries a lot of possibilities.
                  %br/
                  %br/
                  Once you know what you'd like in an apprentice, you can let us know by proposing an apprenticeship for us to list on our website. We'll collect applications from interested girls for you to review, and you choose the applicant that seems best suited to work with you.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q03"}
                  %strong
                    %i.icon-angle-down
                    How much does it cost?
              #q03.accordion-body.collapse
                .accordion-inner
                  There's a listing fee of $9 for us to list your apprenticeship on our site, promote it to the community, accept applications for you to review, and connect you with the apprentice you choose..
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q04"}
                  %strong
                    %i.icon-angle-down
                    Do I pay her, or get paid?
              #q04.accordion-body.collapse
                .accordion-inner
                  In most cases, the give and take of teaching and working will likely balance out; you teach your process and skills in return for her assistance with your work. However, we leave it up to you to decide whether the level of work you expect your apprentice to do should be paid, or whether you'll be taking on a level of teaching that merits payment. Either way, payment would be a matter between you and the apprentice, and would not be managed by GirlsGuild. If you do plan to pay, or ask for payment, you should explain that in the description of your apprenticeship when you propose it.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q05"}
                  %strong
                    %i.icon-angle-down
                    How long is it for?
              #q05.accordion-body.collapse
                .accordion-inner
                  It's up to you, based on your needs. Some apprenticeships might be as short as a few weeks, but we think the most rewarding will be for a longer period of a few months or more. That way you'll have time to teach your apprentice the skills and techniques she needs, and see her progress in the work she's doing with you.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q06"}
                  %strong
                    %i.icon-angle-down
                    Can I interview candidates prior to selection?
              #q06.accordion-body.collapse
                .accordion-inner
                  Sure. What we'll do is forward you the applications as we receive them and when you see someone you'd like to interview just let us know what dates you're available to meet up with her. We'll email her to see if she's available and CC you on the email so that you have each other's contact info in case there are any questions about directions, etc.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q07"}
                  %strong
                    %i.icon-angle-down
                    If we don't find a good match are we obligated to choose someone?
              #q07.accordion-body.collapse
                .accordion-inner
                  Nope.  It's totally up to you, we just want to facilitate a good connection for both of you.
          .accordion#more-lead-workshop
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q08"}
                  %strong
                    %i.icon-angle-down
                    What if it really isn't working out?
              #q08.accordion-body.collapse
                .accordion-inner
                  If your apprentice isn't working out for any reason, just let us know and we'd be happy to gently end it early.  We think that being honest and clear about expectations from the apprentice is the best way to find someone who's committed.  And of course it will always be our priority to help out if you have any difficulty along the way.


        %br


        %article.blog-post
          %h2
            Leading a Workshop
            %small
          %p
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q09"}
                  %strong
                    %i.icon-angle-down
                    Tips for running a great workshop
              #q09.accordion-body.collapse
                .accordion-inner
                  .row-fluid
                    .well.span3
                      %h3
                        %i.icon-bolt.inline
                        Share Skills
                      The students should be learning new or specialized skills and techniques that provide a foundation for building out a skill set.
                      %br
                      %br
                    .well.span3
                      %h3
                        %i.icon-wrench.inline
                        Teach New Tools
                      Consider teaching students to use the key tools for your craft, especially ones they may never have had a chance to try before.
                    .well.span3
                      %h3
                        %i.icon-compass.inline
                        Explore
                      Give your students a chance to explore a new medium, technique, or process that can help them begin or grow their own practice.
                      %br
                      %br
                    .well.span3
                      %h3
                        %i.icon-rocket.inline
                        Inspire Growth
                      The workshop should give students inspiration and next steps to continue practicing and developing their new skills on their own.

          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q10"}
                  %strong
                    %i.icon-angle-down
                    How much should it cost?
              #q10.accordion-body.collapse
                .accordion-inner
                  We believe that the maker is the best person to determine the cost of their workshop based on materials, length of the session, and effort. That's why we leave the cost up to you. Sometimes that means it will be too high and you will get fewer registrants, or if it's too low, you may feel like it wasn't quite worth the effort. So to give you some basic guidelines, when we spoke to parents they were comfortable paying between $40-60 for a 2-3 hour workshop. The cost of materials should be included in the cost you set for your workshop. Sometimes the materials can be expensive, so let that show by listing the materials in the class description! Generally, it's up to the maker to source and provide materials (depending on what you plan to teach).
                  %br/
                  %br/
                  We want to make GirlsGuild a viable way to make supplementary income, so we encourage you not to sell yourself short. Even if you'd be happy to teach a workshop for free, we've found that putting a small cost ($5-10 or so) actually gets better attendance - people see it as more valuable, and more of a commitment, when they've paid for it.

          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q11"}
                  %strong
                    %i.icon-angle-down
                    What's the cost split?
              #q11.accordion-body.collapse
                .accordion-inner
                  GirlsGuild workshop cost structure:
                  %ol
                    %li You set the cost - Example: $45.00 per person
                    %li We add 20% - Example: 45 x 1.2 = $54.00 per person
                    %li
                      Of that new total cost per person, GirlsGuild takes 16.7%, and the maker takes 83.3%
                      = succeed "Example:" do
                        %br/
                      total cost = $54, GirlsGuild takes $9, the artists takes $45.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q12"}
                  %strong
                    %i.icon-angle-down
                    When should it happen?
              #q12.accordion-body.collapse
                .accordion-inner
                  The date/time of the workshop is up to you! It helps to consider your audience; if you're leading a workshop for teens or children, after-school hours or weekends will be best. If you're teaching a workshop for adults, evenings might be a good option. Whatever time you choose, it's always best to schedule the date far enough in advance to give us 4 weeks or more to promote it, and give people a chance to sign up.
                  %br/
                  %br/
                  If you're not quite ready to set a date, we can add the workshop with a pre-register link to let girls sign up to be notified when the date is set.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q13"}
                  %strong
                    %i.icon-angle-down
                    What about tools?
              #q13.accordion-body.collapse
                .accordion-inner
                  If you need help sourcing enough tools for the workshop, we'll do our best to help. Another suggestion is to put out a request for tools on our Facebook page.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q14"}
                  %strong
                    %i.icon-angle-down
                    What's the cancellation policy?
              #q14.accordion-body.collapse
                .accordion-inner
                  We offer students a full refund if they let us know 7 days before the workshop. We do this so that you know a full week before the event to prepare for the full number of students.


        %br


        %article.blog-post
          %h2
            General Questions
            %small
          %p
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q15"}
                  %strong
                    %i.icon-angle-down
                    Can I open my event up to all gender identities?
              #q15.accordion-body.collapse
                .accordion-inner
                  Absolutely!  Though we want to create a space for learning where girls and women feel safe and confident, we also want to be inclusive of everyone who would appreciate this space as well.  We give you the option to specify your workshop or apprenticeship be opened to all gender identities.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q16"}
                  %strong
                    %i.icon-angle-down
                    How do I protect my style?
              #q16.accordion-body.collapse
                .accordion-inner
                  We're committed to protecting our artists' style, and we recognize that copying can sometimes feel like it's not the best form of flattery. Which is why we ask everyone who signs up to take a workshop to agree not to replicate the individual styles of our amazing artists, although they should feel free to use the techniques they learn to develop their own style. This is a checkbox that comes right before purchasing the registration. We also make forms available to each artist to hand out at the beginning of the workshop on the same form as the waiver to get that agreement in writing as well.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q3"}
                  %strong
                    %i.icon-angle-down
                    How do I know it’s safe?
              #q3.accordion-body.collapse
                .accordion-inner
                  It’s of utmost importance to us that you feel confident leading or hosting workshops and apprenticeships. We exist to build a supportive and collaborative community of makers, and we believe the girls and women who get involved are also inspired by this goal. We require all students agree to a participation waiver as well as an indemnification waiver for minors before signing up in order to protect you if something were to happen. We will also send you a link to download a copy of those waivers to have your participants sign in person and for you to keep on file. We encourage you to contact us at any time; we’ll do our best to address any questions or issues that arise.
                  %br
                  %a{href: "waivers/ReleaseWaiver-adults.pdf"}
                    %i.icon-bookmark
                    Participation Waiver

                  %br
                  %a{href: "waivers/IndemnificationAgreement-minors.pdf"}
                    %i.icon-bookmark
                    Indemnification Agreement for Minors




        /%article.blog-post
        /  %h2
        /    Being Open for 1-day Apprenticeships
        /    %small
        /  %p
        /  .accordion
        /    .accordion-group
        /      .accordion-heading
        /        %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q16"}
        /          %strong Why just 1 day?
        /      #q16.accordion-body.collapse
        /        .accordion-inner
        /          Because we know how busy you are - we created a framework for 1-day apprenticeships to give you a low-commitment way to get involved in the GirlsGuild community. When you list on our website as open for 1-day apprenticeship, you don't have to schedule anything until a girl requests it. When you get a request, you suggest a few date/time options for a 3-4 hour apprenticeship session, and the girl chooses the option that works for her.
        /  .accordion
        /    .accordion-group
        /      .accordion-heading
        /        %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q17"}
        /          %strong How do I do it?
        /      #q17.accordion-body.collapse
        /        .accordion-inner
        /          When a girl visits your studio on the agreed day, you show her your workspace, tools, and materials, explain and demonstrate some of your process, let her try it, and most importantly, talk with her about why she's interested in it. This is different from a workshop where you're teaching a specific project or technique; a 1-day apprenticeship should give an overview of your practice as a whole.
        /  .accordion
        /    .accordion-group
        /      .accordion-heading
        /        %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q18"}
        /          %strong How does the cost work?
        /      #q18.accordion-body.collapse
        /        .accordion-inner
        /          Apprentices pay a fee of $45 for 1-day apprenticeships. You get 83.3% of that, or $37.50, while GirlsGuild takes 16.6%, or $7.50. (There's some math that explains those percentages, related to our workshop cost structure - see below.)

      %aside.span3.sidebar
        .sidebar-widget
          %h3.sidebar-header Other Burning Questions?
          %p
            We hope that all helps! If you have any questions or just want to talk with us more about GirlsGuild and how it works, we'd love to sit down to chat with you sometime. Let us know if you'd like to schedule a time to meet up!
            %br/
            %br/
            Cheyenne &amp; Diana
            %br/
            GirlsGuild HQ
          %a.btn.btn-primary.pull-right{:href => contact_path} Send email




%section#promo.section.alt.donate
  %a{name: "donate"}
  .hero-unit.pull-center

    %h1.pull-center Cool, right? Help us do more!
    %p.pull-center
      Donate to the scholarship fund by making a purchase in our Etsy store to help provide apprenticeship
      %br opportunities like these in partnership with youth advocacy organizations and programs for at-risk youth.

    = link_to "#{content_tag(:i, "", class: "icon-gift")} Donate a Scholarship".html_safe, "https://www.etsy.com/shop/GirlsGuildGoods", class: "btn btn-large btn-primary", target: "_blank"

    /%form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
    / %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
    / %input{:name => "hosted_button_id", :type => "hidden", :value => "8GLHRBAARGK2J"}/
    / %input{:alt => "Donate a Scholarship", :border => "0", :name => "submit", :class => "btn btn-large btn-primary", :type => "image"}/
    / %img{:alt => "Donate a Scholarship", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
    %br
    %br
