- provide(:title, 'Get Involved - Girls')
%section#promo.section.alt
  .container
    .hero-unit.kristi-title
      %h1 Get Involved
      .kristi as a Girl

%section.section#getinvolved
  .container
    .page-header
      %h2
        We think you're kind of a big deal
        %small
    .row-fluid
      %ul.thumbnails.bordered
        %li.span6
          .row-fluid
            .span4.pull-center
              %i.enormous-icon.circled.pull-center
                .kristi $0
            .span8
              %h3 Get Updates on Makers You Like
              %p
                Let a maker know that you're interested in working with them by signing up for updates. We'll keep you posted when they schedule an event.
                %br
              = link_to "Browse Makers", makers_path, class: "btn btn-small pull-right btn-success"
          %hr/

          .row-fluid
            .span4.pull-center
              %i.enormous-icon.circled.pull-center
                .kristi.small $ Varies
            .span8
              %h3 Take a Workshop
              %p
                Play with new materials and techniques, or refine your already awesome skills by taking a workshop taught by someone whose work you love.
                %br
              = link_to "Browse Workshops", workshops_path, class: "btn btn-small pull-right btn-success"
          %hr/

          .row-fluid
            .span4.pull-center
              %i.enormous-icon.circled.pull-center.commingsoon
                .kristi $0
                .commingsoon-text Coming Soon!
            .span8
              %h3 Do a Studio Visit
              %p
                There's no better way to create and refine your own ideas than by talking about them with smart people. Request or host a studio visit with someone you respect in the community.
              = link_to "Register", apprenticeships_path, class: "btn btn-small pull-right btn-success disabled"
          %br



        %li.span6
          .row-fluid
            .span4.pull-center
              %i.enormous-icon.circled.pull-center
                .kristi $29
            .span8
              %h3 Do a Production Apprenticeship
              %p
                Learn the skills, tools, and techniques unique to the artist's creative process while helping a maker create an edition of her work for an order, a sale, or a show.
              = link_to "Browse Apprenticeships", apprenticeships_path, class: "btn btn-small pull-right btn-success"
          %hr/

          .row-fluid
            .span4.pull-center
              %i.enormous-icon.circled.pull-center
                .kristi $29
            .span8
              %h3 Do an Event Apprenticeship
              %p
                Help a maker out with organizing, running, curating, or facilitating an event! Learn first hand what it takes to hang a show, or organize a gala.
                %br
              = link_to "Browse Apprenticeships", apprenticeships_path, class: "btn btn-small pull-right btn-success"
          %hr/

          .row-fluid
            .span4.pull-center
              %i.enormous-icon.circled.pull-center
                .kristi $29
            .span8
              %h3 Do an Ongoing Apprenticeship
              %p
                Work with a creative by assisting her with her day-to-day studio tasks. Help her create work and learn what it's like to own and operate a small creative business.
              = link_to "Browse Apprenticeships", apprenticeships_path, class: "btn btn-small pull-right btn-success"
          %hr/

          .row-fluid
            .span4.pull-center
              %i.enormous-icon.circled.pull-center.commingsoon
                .kristi $45
                .commingsoon-text Coming Soon!
            .span8
              %h3 Do a 1-Day Apprenticeship
              %p
                Get a taste of what it's like to be a carpenter, a web developer, a painter, or a baker, by signing up for a 1-Day Apprenticeship!
                %br
              = link_to "Browse Apprenticeships", apprenticeships_path, class: "btn btn-small pull-right btn-success disabled"
              %a{name: "donate"}



%section#promo.section.alt
  .container.pull-center

    %br
    %h2.pull-center Cool, right? Help us offer more!
    %p.pull-center
      Donate to the scholarship fund to help provide apprenticeship opportunities like these in partnership with
      %br youth advocacy organizations and programs for at-risk youth.

    %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
      %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
      %input{:name => "hosted_button_id", :type => "hidden", :value => "8GLHRBAARGK2J"}/
      %input{:alt => "Donate a Scholarship", :border => "0", :name => "submit", :class => "btn btn-large btn-primary", :type => "image"}/
      %img{:alt => "Donate a Scholarship", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
    %br
    %br