- provide(:title, 'Get Involved - Makers')
%section#promo.section.alt
  .container
    .hero-unit.hero-title
      %h1 Lead
      .kristi.pull-right.faqlinknav
        = link_to "Or Learn", get_involved_girls_path
%section.section#getinvolved
  .container
    .page-header
      %h2
        Become a Maker-mentor today!
        %small
    .row-fluid
      %ul.thumbnails.bordered
        %li

          .row-fluid
            .span2.pull-center
              %i.enormous-icon.icon-lightbulb.circled.pull-center
            .span10
              %h3 Post an Idea to Gain Interest
              %p
                Want to test out an idea by seeing who's interested first? Post an idea for a topic you'll teach, upload a few images, and leave the dates "TBA".  We'll notify you as people follow it to show their interest in working together!
                %br
              .kristi.pull-left $9.00
              = link_to "Post an Idea", new_apprenticeship_path, class: "btn btn-small pull-right btn-success"
          %hr/

          .row-fluid
            .span2.pull-center
              %i.enormous-icon.icon-wrench.circled.pull-center
            .span10
              %h3 Host an Apprenticeship
              %p
                Become a Maker-mentor and share your knowledge! Get help with a big order, an event, or just with your day-to-day practice. List an apprenticeship and choose the right person from those who apply.
                %br
              .kristi.pull-left $9.00
              = link_to "Post an Apprenticeship", new_apprenticeship_path, class: "btn btn-small pull-right btn-success"
          %hr/

          .row-fluid
            .span2.pull-center
              %i.enormous-icon.icon-pencil.circled.pull-center
            .span10
              %h3 Host a Workshop
              %p
                Connect with your community! Take a few hours to teach your tools and share your skills with a group of girls who love what you do and want to learn how to do it. You set the price!
                %br
              .kristi.pull-left You set the price
              = link_to "Post a Workshop", new_workshop_path, class: "btn btn-small pull-right btn-success"
          %hr/

          .row-fluid
            .span2.pull-center
              %i.enormous-icon.icon-fire.circled.pull-center.commingsoon
                .commingsoon-text Coming Soon!
            .span10
              %h3 Host a Studio Visit
              %p
                There's no better way to create and refine your own ideas than by talking about them with smart people. Request or host a studio visit with someone you respect in the community.
              .kristi.pull-left $0
              = link_to "Register", apprenticeships_path, class: "btn btn-small pull-right btn-success disabled"
          %hr/



%section#promo.section.alt.donate
  .hero-unit.pull-center

    %h1.pull-center Cool, right? Help us do more!
    %p.pull-center
      Donate to the scholarship fund by making a purchase in our Etsy store to help provide apprenticeship
      %br opportunities like these in partnership with youth advocacy organizations and programs for at-risk youth.

    = link_to "#{content_tag(:i, "", class: "icon-gift")} Donate a Scholarship".html_safe, "https://www.etsy.com/shop/GirlsGuildGoods", class: "btn btn-large btn-primary", target: "_blank"

    /%form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
    /  %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
    /  %input{:name => "hosted_button_id", :type => "hidden", :value => "8GLHRBAARGK2J"}/
    /  %input{:alt => "Donate a Scholarship", :border => "0", :name => "submit", :class => "btn btn-large btn-primary", :type => "image"}/
    /  %img{:alt => "Donate a Scholarship", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
    %br
    %br