<!-- SmartBiz theme -->
<!-- Main Content -->
    <div id='content' role='main'>
      <section class='section alt' id='promo'>
        <div class='container'>
          <div class='carousel slide' id='myCarousel'>
            <!-- Carousel items -->
            <div class='carousel-inner'>
              <div class='active item'>
                <div class='row-fluid'>
                  <div class='span6'>
                    <div class='hero-unit'>
                      <h1>Learn from <br/>Makers & Doers</h1>
                      <p>Apprenticeships for girls, by girls.</p>
                      <div style="display:inline;">
                        <%= link_to "Join GirlsGuild for Free!", new_user_registration_path, class: "btn btn-large btn-primary" %>
                      </div>
                      <div style="float:right; margin:5px;" class="fb-like" data-href="http://www.facebook.com/GirlsGuild" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false">
                      </div>
                      <div style="float:right; margin:9px;">
                        <a href="https://twitter.com/TheGirlsGuild" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @TheGirlsGuild</a>
                      </div> 
                      <img alt='for makers' class='pull-left' src='images/formakers.png' />
                    </div>
                  </div>
                  <div class='span6'>
                    <img alt='imac' class='pull-right' src='images/gg-illust-andand.png' />
                  </div>
                </div>
                <div class='row-fluid'>
                  <div class='span6'>
                    <div class='well'>
                      <ul class='pull-center valueprop'> 
                        <h2>
                          Learn a new Skill
                        </h2>             
                        <li> Learn new skills</li>
                        <li>Connect to makers and doers</li>
                        <li>Discover a new career</li>
                        <li>Build a portfolio</li>
                        <li>Make new friends</li>
                        <li><%= link_to "Take a Workshop", workshops_path, class: "btn btn-large" %></li>
                      </ul>
                    </div>
                  </div>
                  <div class='span6'>
                    <div class='well'>
                      <ul class='pull-center valueprop'>
                        <h2>
                          Be an Apprentice
                        </h2>
                        <li>Learn a process</li>
                        <li>Work with makers</li>
                        <li>Understand making as a small business</li>
                        <li>Strengthen your portfolio</li>
                        <li>Be part of a community</li>
                        <li><%= link_to "Be an Apprentice", apprenticeships_path, class: "btn btn-large" %></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class='item'>
                <div class='row-fluid'>
                  <div class='span6'>
                    <div class='hero-unit'>
                      <h1>Join the Maker Community</h1>
                      <p>Apprenticeships for girls, by girls.</p>
                      <div style="display:inline;">
                        <%= link_to "Join GirlsGuild for Free!", new_user_registration_path, class: "btn btn-large btn-primary" %>
                      </div>
                      <div style="float:right; margin:5px;" class="fb-like" data-href="http://www.facebook.com/GirlsGuild" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false">
                      </div>
                      <div style="float:right; margin:9px;">
                        <a href="https://twitter.com/TheGirlsGuild" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @TheGirlsGuild</a>
                      </div> 
                      <img alt='for girls' class='pull-left' src='images/forgirls.png' />
                    </div>
                  </div>
                  <div class='span6'>
                    <img alt='imac' class='pull-right' src='images/gg-illust-andand.png' />
                  </div>
                </div>
                <div class='row-fluid'>
                  <div class='span6'>
                    <div class='well'>
                      <ul class='pull-center valueprop'> 
                        <h2>
                          Teach a Skill
                        </h2>             
                        <li>Earn extra income</li>
                        <li>Teach what you love</li>
                        <li>Increase your recognition</li>
                        <li>Build your network</li>
                        <li>Collaborate on projects</li>
                        <li><%= link_to "Propose a Workshop", workshops_path, class: "btn btn-large" %></li>
                      </ul>
                    </div>
                  </div>
                  <div class='span6'>
                    <div class='well'>
                      <ul class='pull-center valueprop'>
                        <h2>
                          Find an Apprentice
                        </h2>
                        <li>Expand production</li>
                        <li>Find girls with the skills you need</li>
                        <li>Share your process</li>
                        <li>Build your team</li>
                        <li>Refine your brand</li>
                        <li><%= link_to "Find an Apprentice", apprenticeships_path, class: "btn btn-large" %></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Carousel nav -->
            <a class='carousel-control left' data-slide='prev' href='#myCarousel'>&lsaquo;</a>
            <a class='carousel-control right' data-slide='next' href='#myCarousel'>&rsaquo;</a>
          </div>
        </div>
      </section>

      <section class='section newsletter'>
        <div class='container'>
          <div class='row-fluid'>
            <div class="input-append bttn-newsletter">
              <input class="span3" id="appendedInputButton" type="text">
              <button class="btn btn-primary" type="button">Sign up for our Newsletter!</button>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class='container'>
          <div class='page-header'>
            <h4 class='pull-center'>
              Featured in
            </h4>
          </div>
          <div class='row-fluid'>
            <ul class='thumbnails bordered pull-center'>
              <li class='span2'>
                <img alt='' src='images/assets/press/poppytalk.png'>
                  <h5>
                    <a target="_blank" href="http://poppytalk.blogspot.com/2012/09/dispatches-from-austin-trans-pecos.html">Poppy Talk</a>
                  </h5>
                </img>
              </li>
              <li class='span2'>
                <img alt='' src='images/assets/press/culturemap.png'>
                  <h5>
                    <a target="_blank" href="http://austin.culturemap.com/newsdetail/06-08-12-22-40-girls-guild-building-a-community-of-artistic-women-through-apprenticeships/">Culture Map</a>
                  </h5>
                </img>
              </li>
              <li class='span2'>
                <img alt='' src='images/assets/press/bestinaustin.png'>
                  <h5>
                    <a target="_blank" href="http://www.austinchronicle.com/gyrobase/Awards/BestOfAustin?Award=1373018">Best in Austin</a>
                  </h5>
                </img>
              </li>
              <li class='span2'>
                <img alt='' src='images/assets/press/tribeza.png'>
                  <h5>
                    <a target="_blank" href="http://www.tribeza.com/magazine_content/girlsguild">Tribeza</a>
                  </h5>
                </img>
              </li>
              <li class='span2'>
                <img alt='' src='images/assets/press/creativelbeasts.png'>
                  <h5>
                    <a target="_blank" href="http://creativelittlebeasts.tumblr.com/post/31990019776/handmade-to-sell-with-kelly-rand-and-girls-guild">Creative Little Beasts</a>
                  </h5>
                </img>
              </li>
              <li class='span2'>
                <img alt='' src='images/assets/press/apartmenttherapy.png'>
                  <h5>
                    <a target="_blank" href="http://www.apartmenttherapy.com/cheyenne-weavers-gilded-simplicityhome-tour-171948">Apartment Therapy</a>
                  </h5>
                </img>
              </li>
            </ul>
            <hr/>
          </div>
        </div>
      </section>
    </div>
