<% provide(:title, "Sign in") %>
<!-- SmartBiz theme -->
<section class='section' id='promo'>
  <div class='container'>
    <h1>Sign in</h1>
    <div class="row">
      <div class="span6 fancyform">
        <%= form_for(:session, url: sessions_path) do |f| %>

          <%= f.label :email %>
          <%= f.text_field :email, :class => "span6"  %>

          <%= f.label :password %>
          <%= f.password_field :password, :class => "span6"  %>

          <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
        <% end %>
        <p class="pull-right">New user? <%= link_to "SIGN UP NOW!", signup_path %></p>
      </div>
    </div>
  </div>
</section>