= simple_form_for(@interview, :url => url_for(controller: 'interviews', action: 'create', app_signup:@app_signup.id)) do |f|
  = f.error_notification

  .form-inputs
    = f.input :interview_time
    = f.input :interview_location
    %br

    = f.submit "Send Request", class: "btn btn-primary pull-right"