<%= render 'shared/error_messages', :form_model => @app_signup %>
<div class="accordion form-horizontal event-accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
          1. My Details
        </a>
      </h2>
    </div>

    <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
      <div class="accordion-inner">
        <br/>
        <dl class="dl-horizontal dl-application">
          <dt>Name</dt>
          <dd><%= "#{current_user.first_name} #{current_user.last_name}" %></dd>
          <dt>Email</dt>
          <dd><%= "#{current_user.email}"%></dd>
          <dt>Age</dt>
          <dd><%= current_user.age %> years old</dd>
        </dl>

        <p class="pull-right">Not you? <%= link_to "Sign in as a different user.", destroy_user_session_path %></p>
        <br/>
      </div>
    </div>
  </div>

  <br/>

  <div class="accordion-group">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
          2. A Few Details
        </a>
       </h2>
    </div>

    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <br />
        <p>Phone Number (Work on this)</p>
        <%= text_field_tag "user[phone]", current_user.phone, :required => true, label: 'Phone Number' %>
        <br />
        <br />
        <% unless current_user.over_18 %>
          <div class="alert">Since you're under 18, you'll need to ask your parents to finish the rest of the form.</div>
          <br />

          <%= f.input :parent_name, label: "Parent's name" %>
          <%= f.input :parent_phone, label: "Parent's phone" %>
          <%= f.input :parent_email, label: "Parent's email" %>

          <%= f.input :parents_waiver, label: "Indemnification Agreement for Minors" do %>
            <textarea readonly="true" rows="3" class="span6">This is where the waiver goes to which you must agree to be able to sign up for the workshop. It will remove GirlsGuild from all liability as well as the artist involved in teaching. Blah blah bla wheoreoyroweyr e ayeasy fays fyasiduf yiasyfiuaysoifyaos dfias ydfoiyasoid foia sdfio isudfy oiasy dfoiua ysofiyaosdfyiosy foisy dfoasodfyoi asydfi asyfo asof ysoid.</textarea>
            <br/>
            <%= f.check_box :parents_waiver %>
            <span class="simpleform-text"> I am the legal parent/guardian of the participant, and have read and agree to this indeminification agreement.</span>
          <% end %>
        <% end %>

        <%= f.input :waiver, label: "Participation Waiver" do %>
          <textarea readonly="true" rows="3" class="span6">This is where the waiver goes to which you must agree to be able to sign up for the workshop. Blah blah bla wheoreoyroweyr e ayeasy fays fyasiduf yiasyfiuaysoifyaos dfias ydfoiyasoid foia sdfio isudfy oiasy dfoiua ysofiyaosdfyiosy foisy dfoasodfyoi asydfi asyfo asof ysoid.</textarea>
          <br/>
          <%= f.check_box :waiver %>
          <span class="simpleform-text"> I have read and agree to the apprenticeship participation waiver.</span>
        <% end %>

        <% if @apprenticeship.respect_my_style == "1" %>
          <%= f.input :respect_agreement, label: "Style Agreement" do %>
            <textarea readonly="true" rows="3" class="span6">This is where I agree not to reuse an artist's style for my own profit. Blah blah bla wheoreoyroweyr e ayeasy fays fyasiduf yiasyfiuaysoifyaos dfias ydfoiyasoid foia sdfio isudfy oiasy dfoiua ysofiyaosdfyiosy foisy dfoasodfyoi asydfi asyfo asof ysoid.</textarea>
            <br/>
            <%= f.check_box :respect_agreement %>
            <span class="simpleform-text"> I have read and agree to respect the artist's style.</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <br/>

  <div class="accordion-group">
    <div class="accordion-heading">
      <h2>
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
          3. Payment
        </a>
      </h2>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <br/>
        <h3>Apprenticeship fee: $29</h3>
        <br/>
        <%= render :partial => "shared/credit_card", :locals => { :f => f, :paid => @app_signup.charge_id.present? } %>
        <br />
      </div>
    </div>
  </div>
</div>


