<%= render 'shared/error_messages', :form_model => @app_signup %>
  <hr />

  <h4>Name:</h4>
  <p><%= "#{current_user.first_name} #{current_user.last_name}" %></p>

  <h4>Email:</h4>
  <p><%= "#{current_user.email}"%></p>

  <h4>Age:</h4>
  <p><%= current_user.age %> years old</p>
  <br />

  <p>Not you? <%= link_to "Sign in as a different user.", "../../../users/sign_out" %></p>
  <hr />

  <h4>Phone number: *</h4>
  <%= text_field_tag "user[phone]", current_user.phone, :required => true %>
  <br />

  <br />
  <% if @apprenticeship.respect_my_style.present? %>
    <h4>I won't copy the artist's work *</h4>
    <div class="form-inline" >
      <p>(Put one of those scrolly waiver boxes here)</p>
      <%= f.check_box :respect_agreement %>
      <%= f.label :respect_agreement, capture { %>
      <p>I have read and agree to respect the artist's style.</p>
      <% } %>
    </div>
  <% end %>

  <% unless current_user.over_18 %>
    <h3>The boring stuff...</h3>
    <p>Since you're under 18, you'll need to ask your parents to finish the rest of the form.</p>
    <br />

    <%= f.label :parent_name %>
    <%= f.text_field :parent_name %>

    <%= f.label :parent_phone %>
    <%= f.text_field :parent_phone %>

    <%= f.label :parent_email %>
    <%= f.text_field :parent_email %>

    <h4>Indemnification Agreement for Minors *</h4>
    <div class="form-inline" >
      <p style="color:red;">[Put one of those scrolly waiver boxes here]</p>
      <%= f.check_box :parents_waiver %>
      <%= f.label :parents_waiver, capture { %>
      <p>I am the legal parent/guardian of the apprenticeship participant, and have read and agree to this indeminification agreement.</p>
      <% } %>
    </div>
  <% end %>

  <h4>Apprenticeship Participation Waiver *</h4>
  <div class="form-inline" >
    <p style="color:red;">[Put one of those scrolly waiver boxes here]</p>
    <%= f.check_box :waiver %>
    <%= f.label :waiver, capture { %>
    <p>I have read and agree to the apprenticeship participation waiver.</p>
    <% } %>
  </div>

  <br />

  <h3>Apprenticeship fee: $29</h3>
  <%= render :partial => "shared/credit_card", :locals => { :f => f, :paid => @app_signup.charge_id.present? } %>

  <br />

