<%= render 'shared/error_messages', :form_model => @app_signup %>

<div class="accordion form-horizontal" id="accordion2">
	<div class="accordion-group">
	  <div class="accordion-heading">
	  	<h2>
				<a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
		      1. My Details
		    </a>
		  </h2>
	  </div>

	  <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
	  	<div class="accordion-inner">
	  		<br/>
				<dl class="dl-horizontal dl-application">
					<dt>Name:</dt>
					<dd><%= "#{current_user.first_name} #{current_user.last_name}" %></dd>

					<dt>Email:</dt>
					<dd><%= "#{current_user.email}"%></dd>

					<% if current_user.age > @apprenticeship.age_max %>
						<dt>Your daughter's name</dt>
						<%= f.input :daughter_firstname, 	label: "Daughter's First Name"  %>
						<%= f.input :daughter_lastname, 	label: "Daughter's Last Name"  %>

						<br/>
						<%= f.label :daughter_age, capture { %>
							<dt>Your daughter's age</dt>
						<% } %>
						<dd><%= f.number_field :daughter_age, :class => "span1" %> *She must be between <%= "#{@apprenticeship.age_min}" %> - <%= "#{@apprenticeship.age_max}" %> years old to be eligible for this apprenticeship.</dd>

					<% else %>
						<dt>Age:</dt>
						<dd><%= current_user.age %> years old</dd>
						<br />
					<% end %>
				</dl>

				<p class="pull-right">Not you? <%= link_to "Sign in as a different user.", destroy_user_session_path %></p>
				<br/>
	    </div>
	  </div>
	</div>

	<br/>

	<div class="accordion-group">
	  <div class="accordion-heading">
	  	<h2>
		    <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
		      2. About Me
		    </a>
		   </h2>
	  </div>

	  <div id="collapseTwo" class="accordion-body collapse">
	    <div class="accordion-inner">

				<br />
				<%= f.input :happywhen, label: "I'm truly happy when...", input_html: { rows: "4",
										placeholder: "Give the maker a sense of who they'll be working with.",
										rel: 'popover',
										data: { :content => "Tell us a little bit about what makes you happy and what you love to do - just to give a sense of who you are and what you like." }}  %>
				<br />

				<%= f.input :collaborate, label: "I like working together on projects because...", input_html: { rows: "4",
										placeholder: "Give the maker a sense of who they'll be working with.",
										rel: 'popover',
										:data => { :content => "Tell us a bit about your working style and what kinds of collaboration you enjoy." }} %>
				<br />

				<%= f.input :interest, label: "What’s most interesting to me about this apprenticeship is...", input_html: { rows: "4",
										placeholder: "Give the maker a sense of who they'll be working with.",
										rel: 'popover',
										data: { :content => "Tell us a bit about why this apprenticeship is something you want to do." }} %>
				<br />

				<%= f.input :experience, label: "My experience with tools and making...", input_html: { rows: "4",
										placeholder: "Give the maker a sense of who they'll be working with.",
										rel: 'popover',
										data: { :content => "What kinds of things have you made before? What kinds of tools or techniques have you used?" }} %>
				<br />



				<!--<% if @apprenticeship.skill_list.present? %>
					<p>
						<label for="amount"><%= @apprenticeship.skill_list %></label>
						<input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold; width:20px;" />
					</p>
					<div id="slider-range-max" class="span6"></div>
					<p class="span6"><span>Newbie</span> <span class="pull-right">Expert</span></p>
				<% end -%>
				<br />
				<br />
				<br />-->


				<%= f.input :confirm_available, label: 'Confirm your availability' do %>
					<%= f.check_box :confirm_available %>
					<span class="simpleform-text"> Yes, I'm available to take on an apprenticeship for <strong><%= "#{@apprenticeship.hours}" %></strong> hours per <strong><%= "#{@apprenticeship.hours_per}" %></strong>, between <strong><%= "#{@apprenticeship.begins_at}" %></strong> and <strong><%= "#{@apprenticeship.ends_at}" %></strong>.</span>
				<% end %>

				<br />

				<%= f.input :preferred_times, label: 'Preferred meeting times',
																			placeholder: "Flexible within the times above? What are the best days/times for you?",
																			input_html: { rel: 'popover',
																			:data => { :content => "Example: “I’m flexible but prefer Mondays & Wednesdays, 4-6pm.” Or: “I’m flexible but NOT available Thursdays and Fridays.” Or: “I’m only available Sunday mornings.”" }} %>
				<br />
	    </div>
	  </div>
	</div>

	<br/>

	<div class="accordion-group">
	  <div class="accordion-heading">
	  	<h2>
		    <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
		      3. Things to Note
		    </a>
		  </h2>
	  </div>
	  <div id="collapseThree" class="accordion-body collapse">
	    <div class="accordion-inner">
	    	<br />
				<%= f.input :confirm_unpaid, label: '&nbsp;' do %>
					<%= f.check_box :confirm_unpaid %>
					<span class="simpleform-text">I understand that this is an unpaid apprenticeship. I agree that if accepted I will work with <%= "#{@apprenticeship.host_firstname}" %> in return for the chance to learn from her.</span>
				<% end %>

				<%= f.input :confirm_fee, label: '&nbsp;' do %>
					<%= f.check_box :confirm_fee %>
					<span class="simpleform-text">I agree that if accepted as an apprentice I will pay the $29 matching fee to GirlsGuild before being connected with <%= "#{@apprenticeship.host_firstname}" %> for the apprenticeship.</span>
				<% end %>
				<br />
			</div>
		</div>
	</div>
</div>

