= content_tag :section, class: "section alt-grey", id: 'apply' do
  = content_tag :div, class: "container" do
    - provide(:title, 'Apply for an Apprenticeship')
    %h1 Apprenticeship Application
    %p
      Yes! We’re excited you want to work with #{"#{@apprenticeship.host_firstname}"} for her apprenticeship in #{link_to "#{@app_signup.event.topic}", apprenticeship_path(@apprenticeship) }.
    %br/
    .howitworks
      = render 'howitworks'
    .row-fluid
      .span9
        = simple_form_for @app_signup, class: 'form-horizontal', html: {class: "payment_form"}, :validate => false, defaults: { input_html: { class: 'span6' } }  do |f|
          = render 'form', f: f
          - if current_user && current_user.age >= @apprenticeship.age_min && current_user.age <= @apprenticeship.age_max
            = link_to 'Delete', @app_signup, :method => :delete, :class => "btn btn-danger", :data => { :confirm => "Are you sure you want to delete your application? It will be removed permanently." }
            = f.submit "Save for Later", name: 'save_button', class: "btn"
            = f.submit "Apply!", name: 'create_button', class: "btn btn-primary pull-right"
      .span3.accordionFAQ
        = render 'faq'


