<%= content_tag :section, :class => "section alt", :id => 'apply' do %>
	<%= content_tag :div, :class => "container" do %>
		<% provide(:title, 'Apply for an Apprenticeship') %>

  	<h1>Apprenticeship Application</h1>
		<p>Yes! We’re excited you want to work with <%= "#{@apprenticeship.host_firstname}" %>!</p>
		<br />

		<div class="howitworks">
      <%= render 'howitworks' %>
    </div>

    <div class="row-fluid">
  	  <div class="span9">
  			<%= simple_form_for @app_signup, class: 'form-horizontal', html: {class: "payment_form"}, :validate => false, defaults: { input_html: { class: 'span6' } }  do |f| %>
  	    	<%= render 'form', f: f %>
  		    <%= f.submit "Save for Later", name: 'save_button', class: "btn" %>
  				<%= f.submit "Submit Application", name: 'create_button', class: "btn btn-primary" %>
  			<% end %>
  	  </div>

      <div class="span3 accordionFAQ">
        <%= render 'faq' %>
      </div>
    </div>

	<% end %>
<% end %>