- provide(:title, 'Thanks!')
%section#confirmed.section.alt-grey
  .container
    .row

      .span12
        %h1
          %icon.icon-check
          Boss!

      .span8
        .fancyform-light.form-horizontal
          %p
            Thanks for paying the <strong>$29.00</strong> apprenticeship matching fee for
            = link_to "#{@apprenticeship.title}.", apprenticeship_path(@app_signup.event.id)
            A receipt will be sent to your email.
          %p You can check on the status of your apprenticeship any time by visiting your #{link_to "Events Dashboard", dashboard_path}.
          %br
          .alert.alert-info
            %strong Starting -
            #{get_formated_date(@apprenticeship.begins_at, format: "%b %e, %Y")}
            %br
            %strong Where -
            #{@apprenticeship.location_address} #{@apprenticeship.location_address2}, #{@apprenticeship.location_city}, #{@apprenticeship.location_state}
          %p
            You can review the
            = link_to "#{@apprenticeship.title} details page", apprenticeship_path(@app_signup.event.id)
            for more info on what to expect and prepare for, or check out the FAQ for Girls.
          %p
            Let us know if you have any questions!
            %br
            xo GirlsGuild HQ
      .span4
        %ul.icons
          %li
            %i.icon-bookmark
            For more info check out the
            %a{href: "/faq_girls"}
              FAQ
          %li
            %i.icon-envelope
            Email us with any questions
            %a{href: "mailto:hello@girlsguild.com?Subject=Howdy"}
              hello@girlsguild.com

      .span12
        %hr
        %br
        %h2 Tips for a great apprenticeship
        .row-fluid
          .well.span3
            %h3
              %i.icon-wrench.inline
              Get Dirty
            Roll up your sleeves! You should be learning new things frequently enough to stay challenged, but don't be afraid to practice what you're learning; you're there to both learn and be helpful!
          .well.span3
            %h3
              %i.icon-globe.inline
              Be Curious
            Ask your Maker-Mentor what its like to run a small business, how she got to where she is in her field, and the challenges she's had along the way - it's likely that you've experienced some of the same stuff.
          .well.span3
            %h3
              %i.icon-refresh.inline
              Ask for Feedback
            Remeber to ask for gentle but constructive feedback. You'll gain the best kind of real-life experience when you're learning from your mistakes.
            %br
            %br
            %br
          .well.span3
            %h3
              %i.icon-thumbs-up.inline
              Share Goals
            Get to know each others goals and dreams! We want to help you build a mentor network because we're all stronger when we learn together.
            %br
            %br
            %br