= content_tag :section, :class => "section alt-grey", :id => 'apply' do
  = content_tag :div, :class => "container" do
    - provide(:title, "Application for Apprenticeship")
    
    - if @app_signup.interviews.count != 0
      .row-fluid
        .span12.well
          - if @app_signup.state == 'interview_requested'
            - if current_user == @app_signup.user
              %strong= "What hours work best for you?"
              %br/
              = "Interview Time:"
              = @app_signup.interviews.last.interview_time
              %br/
              = "Interview Location:"
              = @app_signup.interviews.last.interview_location
              %br/
              %br/
              %strong= "Choose one hour"
              = render :partial => "interviews/form", :locals => {:interview => @interview}
            - else current_user == @app_signup.event.user
              Interview reqested! Waiting for  #{@app_signup.user.name} to respond!

          - elsif @app_signup.state == 'interview_scheduled'
            %center
              %strong
                - if current_user == @app_signup.user
                  You're all set to meet with #{@app_signup.event.user.name}!
                - else current_user == @app_signup.event.user
                  You're all set to meet with #{@app_signup.user.name}!
            %br/
            = "Interview Time:"
            = @app_signup.interviews.last.interview_time
            %br/
            = "Interview Location:"
            = @app_signup.interviews.last.interview_location


    - if current_user == @app_signup.event.user && @app_signup.canceled?
      %h2 Rats! It looks like #{@app_signup.user.first_name} has canceled this application
      %br
    - if @app_signup.accepted? && @app_signup.user == current_user
      %h1 Confirm My Apprenticeship for #{link_to "#{@app_signup.event.topic}", apprenticeship_path(@app_signup.event)}
      - if @app_signup.parent?
        %p
          Congratulations, #{"#{@apprenticeship.host_firstname}"} would love to work with you for #{link_to "#{@app_signup.event.topic}", apprenticeship_path(@app_signup.event)}.
        %p
          Let us know if you’d like to interview before you confirm to make sure it’s a good fit for both of you.
      - else
        %p
          Congratulations, #{"#{@apprenticeship.host_firstname}"} would love to work with you for #{link_to "#{@app_signup.event.topic}", apprenticeship_path(@app_signup.event)}.
        %p
          Let us know if you’d like to interview before you confirm to make sure it’s a good fit for both of you.

      %a.btn.btn-primary{} Schedule an Interview
      %br
      %br
      %br

      .row-fluid
        .span9
          = simple_form_for @app_signup, class: 'form-horizontal', html: {class: "payment_form"}, url: confirm_app_signups_path, method: :post, :validate => true, defaults: { input_html: { class: 'span6' } }  do |f|
            = render 'confirm_form', f: f
            = f.hidden_field :id, value: @app_signup.id
            = f.submit "Confirm Apprenticeship", name: 'confirm_button', class: "btn btn-success btn-create pull-right", id: "cc_process"
            = link_to "Cancel Application", { :controller => 'app_signups', :action => 'cancel', :id => @app_signup.id }, class: "btn btn-danger btn-create", :method => 'post', :data => { :confirm => "Are you sure you want to cancel your application? It will be closed for review and you will not be able to resubmit it."}
          %br
          %br
          %h2 Your Accepted Application
        .span3.accordionFAQ
          - if current_user == @app_signup.user
            = render 'faq'
    - if @app_signup.pending?

      - if @app_signup.user == current_user
        - if @app_signup.parent?
          %h1 #{@app_signup.daughter_firstname}'s Application for #{link_to "#{@app_signup.event.topic}", apprenticeship_path(@app_signup.event)}
        - else
          %h1 My Application for #{link_to "#{@app_signup.event.topic}", apprenticeship_path(@app_signup.event)}
        %p
          #{@app_signup.event.user.first_name} has
          %span.badge.badge-success #{(@app_signup.state_stamps.last.stamp + 14.days).mjd - Date.today.mjd} days
          to review your application and make her decision.

      - elsif current_user == @app_signup.event.user
        - if @app_signup.parent?
          %h1 #{@app_signup.daughter_firstname}'s Application for #{link_to "#{@app_signup.event.topic}", apprenticeship_path(@app_signup.event)}
        - else
          %h1 #{@app_signup.user.first_name}'s Application for #{link_to "#{@app_signup.event.topic}", apprenticeship_path(@app_signup.event)}
        %p
          You have
          %span.badge.badge-success #{(@app_signup.state_stamps.last.stamp + 14.days).mjd - Date.today.mjd} days
          to review her application and make your decision.

    .row-fluid
      .span12.well
        #avatar
          = avatar_for(@app_signup.user, size: 50, tag: :medium)
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th Question
              %th Answer
          %tbody
            %tr
              %td Name
              %td
                - if @app_signup.parent?
                  = @app_signup.daughter_firstname
                - else
                  = @app_signup.user.first_name
            %tr
              %td Age
              %td
                - unless @app_signup.parent?
                  = @app_signup.user.age
                - else
                  = @app_signup.daughter_age
            %tr
              %td I'm truly happy when
              %td= @app_signup.happywhen
            %tr
              %td I like working together on projects because
              %td= @app_signup.collaborate
            %tr
              %td What’s most interesting to me about this apprenticeship is
              %td= @app_signup.interest
            %tr
              %td Experience with tools and making
              %td= @app_signup.experience
            %tr
              %td Preferred meeting times
              %td= @app_signup.preferred_times
        %p
          - unless current_user.blank?
            - if @app_signup.started? && @app_signup.user == current_user
              = link_to 'Resume', edit_app_signup_path(@app_signup), class: "btn btn-warning"
              = link_to 'Delete', @app_signup, :method => :delete, class: "btn btn-danger", :data => { :confirm => 'Are you sure you want to delete this application? Deleting cannot be undone.' }
            - if @app_signup.user == current_user && @app_signup.pending? || @app_signup.accepted?

              /.row-fluid
              /  .span4.pull-center
              /    = link_to "Cancel Application", { :controller => 'app_signups', :action => 'cancel' }, class: "btn btn-danger", :/method => 'post', data: { :confirm => "Are you sure? Your application will be saved in your Dashboard, but /you'll have to resubmit it in order to apply again." }
              /    .well.fancyform-light
              /      %h3 Want to Cancel?
              /      It's a bummer if your schedule has changed, but we understand. You can cancel your application here.


          - if current_user == @app_signup.event.user && @app_signup.pending?
            .pull-center
              %hr/
              %h3 #{@app_signup.event.user.first_name}, it's your call

            .row-fluid
              .span4.pull-center
                = link_to "Decline Apprentice", '#declineModal', data: {toggle: "modal"}, :class => "btn btn-danger pull-center"
                #declineModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "declineModal", :role => "dialog", :tabindex => "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                    %h3#galleryModalLabel Decline Application
                    .modal-body
                    %p Are you sure you want to decline this applicant?
                    %p We'll send her a gentle email letting her know you were honored she applied, but you've chosen another apprentice.
                    %p You can include a (totally optional) personal message if you'd like.
                    %br
                    = simple_form_for(@app_signup) do |f|
                      = f.input :decline_reason, input_html: { class: "span12", rows: 5, placeholder: "You can write a personal message, or leave this blank."}
                      = f.submit "Decline Application", :name => "decline_button", class: "btn btn-danger pull-right"
                    %button.close.pull-left{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
                    %br
                .well.fancyform-light
                  %h3 Want to Decline?
                  We'll send a gentle email letting the applicant know. You can even personalize the message it if you like.


              .span4.pull-center
                %a.btn.btn-primary{} Schedule an Interview
                .well.fancyform-light
                  %h3 Meet up first?
                  We suggest you meet up first before you accept so you can both see if it's a good fit. Let us know when you're available. We'll set it up and confirm it for you.


              .span4.pull-center
                - if @app_signup.event.filled?
                  = link_to "Accept Apprentice", app_signup_path(@app_signup), rel: 'popover', data: {placement: "top", content: "Sorry, you can't accept this applicant because you've already filled your apprenticeship. Let us know if this is an error or if you'd like to accept another apprentice."},class: "btn btn-success disabled"
                - else
                  = link_to "Accept Apprentice", {:action => "accept", id: @app_signup, :controller => "app_signups"}, :method => :post, class: "btn btn-success", :data => { :confirm => "Are you sure you want to accept this applicant as your apprentice now? If you would like to schedule an interview before making a decision, we'd be happy to set that up first. If so, click 'Cancel' and then choose 'Schedule an Interview'. Thanks!"}
                .well.fancyform-light
                  %h3 Want to Accept?
                  After you accept this applicant we'll give her the chance to meet up with you first. Afterwards she'll confirm by paying, and once she does, we'll put you two in touch to get started!


              .row-fluid
                .span12.well
                  %center
                    %strong
                      Request an interview
                  = render :partial => "interviews/form", :locals => {:interview => @interview}


