<% provide(:title, 'Sign in') %>
<!-- SmartBiz theme -->
<section class='section' id='promo'>
	<div class='container'>
		<h2>Sign in</h2>
		    <div class="row">
      			<div class="span8 fancyform">
					<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
					    <%= f.input :email, :required => false, :autofocus => true %>
					    <%= f.input :password, :required => false %>
					    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
					  	<%= f.button :submit, "Sign in", :class => "btn btn-primary" %>
					<% end %>
					<%= render "users/shared/links" %>
				</div>
			</div>
		</div>
	</div>
</section>