<%= form_for @artwork, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', :form_model => @artwork %>
  <%= f.hidden_field :portfolio_id %>
  <%= f.hidden_field :image_cache %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.file_field :image, multiple: true, title: "artwork[image]" %>
  </p>
  <p>
    <%= f.label :year %>
    <%= f.number_field :year %>
  </p>
  <p>
    <%= f.label :material %>
    <%= f.text_field :material %>
  </p>
  <p>
    <%= f.label :category %>
    <%= f.text_field :category %>
  </p>
  <p><%= f.submit %></p>
<% end %>
