<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @artwork.title %>
</p>

<p>
  <b>Year:</b>
  <%= @artwork.year %>
</p>

<p>
  <b>Material:</b>
  <%= @artwork.material %>
</p>

<p>
  <b>Category:</b>
  <%= @artwork.category %>
</p>

<div id="artworks">
  <% @portfolio.artworks.each do |artwork| %>
    <div class="artwork">
      <%= image_tag artwork.image_url.to_s %>
      <div class="name"><%= artwork.name %></div>
      <div class="actions">
        <%= link_to "edit", edit_artwork_path(artwork) %> |
        <%= link_to "remove", artwork, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>
</div>


<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
