<% provide(:title, "Edit user") %> 
<%= content_tag :section, :class => "section" do %>
	<%= content_tag :div, :class => "container" do %>
		<h1>Update your profile</h1>
		<div class="row">
		  <div class="span6 fancyform">
		    <%= simple_form_for(@user) do |f| %>
		    <%= render 'fields', f: f %>

		    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		    <% end %>

		    <%= gravatar_for @user %>
		    <a href="http://gravatar.com/emails">change</a>
		  </div>
		</div>
	<% end %>
<% end %>