<% provide(:title, 'All users') %>
<!--
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
-->
<%= content_tag :section, :class => "section alt" do %>
  <%= content_tag :div, :class => "container" do %>
    <div class='hero-unit'>
      <h1>All Users</h1>
    </div>
  </div>
</section>
<section class='section'>
  <div class='container'>
    <div class='row-fluid'>
      <%= will_paginate %>

      <ul class="users">
        <%= render @users %>
      </ul>

      <%= will_paginate %>
    </div>
  <% end %>
<% end %>