<% provide(:title, 'Sign up') %>

<!-- SmartBiz theme -->
<section class='section' id='promo'>
	<div class='container'>
		<h1>Sign up</h1>
		<div class="row">
		  <div class="span6 fancyform">

		    <%= simple_form_for @user, :validate => true, :defaults => {:input_html => { :class => 'span6'}} do |f| %>
			    <%= render 'fields', f: f %>
			    <!-- this terms is not working right now -->
					<div class="form-inline">
						<%= f.check_box :terms_of_service %>
						<%= f.label :terms_of_service, capture { %>
							<p>I have read the <%= active_link_to 'terms and conditions', termsandconditions_path, :target => '_blank' %></p>
						<% } %>
					</div>
		      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		    <% end %>
		    <p class="pull-right">Already have an account? <%= link_to "SIGN IN", signin_path %></p>
		  </div>
		</div>
	</div>
</section>

