<% provide(:title, 'Sign up') %>
<%= content_tag :section, :class => "section" do %>
	<%= content_tag :div, :class => "container" do %>
		<h1>Sign up</h1>
		<div class="row">
		  <div class="span6 fancyform">
		    <%= simple_form_for @user, :validate => true do |f| %>
		    <%= render 'fields', f: f %>
		      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		    <% end %>
		    <p class="pull-right">Already have an account? <%= link_to "SIGN IN", signin_path %></p>
		  </div>
		</div>
	<% end %>
<% end %>

