- if (events||=false)
  - events.each do |event|
    .span4
      .box.box-large
        - if event.type == "Apprenticeship"
          - if event && event.host_album
            - if event.host_album.featured_photo
              = render 'photos/photo', photo: event.host_album.featured_photo, size: :large, url: url_for(event)
            - elsif event.host_album.photos.first
              = render 'photos/photo', photo: event.host_album.photos.sort_by { |photo| photo.position(album_id: event.host_album.id) }.first, size: :large, url: url_for(event)
            - else
              %a{ href: url_for(edit_apprenticeship_path(event)) }
                %img.default-photo-large{ src: "/images/common/upload-photos-400px.jpg" }
          .box-details
            - unless current_user.blank?
              - if event.user == current_user
                - if event.started?
                  = link_to "Edit", edit_apprenticeship_path(event), class: "btn btn-mini pull-right"
                - elsif event.accepted?
                  = link_to "Edit", edit_apprenticeship_path(event), class: "btn btn-mini pull-right"
              - if current_user.admin?
                -if event.featured?
                  %a.feature.btn.featured-btn.fa.fa-star.pull-right.relative{type: 'submit', rel: 'tooltip', data: {toggle: 'tooltip', title: "Remove listing from home page", url: "#{url_for(controller: event.class.name.underscore.pluralize, action: 'set_featured_listing', id: event.id)}" }}
                - else
                  %a.feature.btn.featured-btn.fa.fa-star-o.pull-right.relative{type: 'submit', rel: 'tooltip', data: {toggle: 'tooltip', title: "Display listing on home page", url: "#{url_for(controller: event.class.name.underscore.pluralize, action: 'set_featured_listing', id: event.id)}" }}


            = link_to event.title_html, apprenticeship_path(event), class: "title-boxlink"
            = event.type

            Ages
            %span.label
              = event.age_min ? event.age_min : '_'
              - if event.age_max > 18
                = "and Up"
              - else
                to
                = event.age_max ? event.age_max : '_'
            %br
            %span.date
              - if event.datetime_tba == false
                = event.begins_at ? event.begins_at.strftime('%a, %b %d') : '_'
                &nbsp;-&nbsp;
                = event.ends_at ? event.ends_at.strftime('%a, %b %d') : '_'
              - else
                %b Dates TBA
            %span.spots
              - unless event.datetime_tba
                - if event.accepted?
                  &nbsp;
                  = event.spots_left
                - elsif event.filled? || event.completed?
                  &nbsp;
                  %b Closed
            = avatar_for(event.user, class: "avatar", size: 50, tag: 'medium')

        - if event.type == "Workshop"
          - if event && event.host_album
            - if event.host_album.featured_photo
              = render 'photos/photo', photo: event.host_album.featured_photo, size: :large, url: url_for(event)
            - elsif event.host_album.photos.first
              = render 'photos/photo', photo: event.host_album.photos.sort_by { |photo| photo.position(album_id: event.host_album.id) }.first, size: :large, url: url_for(event)
            - else
              %a{ href: url_for(edit_workshop_path(event)) }
                %img.default-photo-large{ src: "/images/common/upload-photos-400px.jpg" }
          .box-details
            - unless current_user.blank?
              - if event.user == current_user
                - if event.started?
                  = link_to "Edit", edit_workshop_path(event), class: "btn btn-mini pull-right"
                - elsif event.accepted?
                  = link_to "Edit", edit_workshop_path(event), class: "btn btn-mini pull-right"
              - if current_user.admin?
                -if event.featured?
                  %a.feature.btn.featured-btn.fa.fa-star.pull-right.relative{type: 'submit', rel: 'tooltip', data: {toggle: 'tooltip', title: "Stop showing this listing on the home page", url: "#{url_for(controller: event.class.name.underscore.pluralize, action: 'set_featured_listing', id: event.id)}" }}
                - else
                  %a.feature.btn.featured-btn.fa.fa-star-o.pull-right.relative{type: 'submit', rel: 'tooltip', data: {toggle: 'tooltip', title: "Display this listing on the home page", url: "#{url_for(controller: event.class.name.underscore.pluralize, action: 'set_featured_listing', id: event.id)}" }}

            = link_to event.title_html, workshop_path(event), class: "title-boxlink"
            = event.type

            Ages
            %span.label
              = event.age_min ? event.age_min : '_'
              - if event.age_max > 18
                = "and Up"
              - else
                to
                = event.age_max ? event.age_max : '_'
            %br
            %span.date
              - if event.datetime_tba == false
                = event.begins_at ? event.begins_at.strftime('%a, %b %d') : '_'
              - else
                %b Dates TBA
            %span.spots
              - unless event.datetime_tba
                - if event.begins_at > Date.today
                  &nbsp;
                  = event.spots_left
                - else
                  &nbsp;
                  %b Closed
            = avatar_for(event.user, class: "avatar", size: 50, tag: 'medium')


