- provide(:title, 'Events')
%section#apprenticeships-index.section
  .container
    %h1 Events
    = render 'shared/nav_events'
    %br/
    %br/
    .accordion#accordion2
      .accordion-group
        .accordion-heading
          %a.accordion-toggle.howitworks-drop{"data-toggle" => "collapse", href: "#collapseOne", class: 'pull-center' }
            How it Works
            %i.fa.fa-chevron-down
        #collapseOne.accordion-body.collapse
          .accordion-inner
            %br/
            .row-fluid
              %ul.thumbnails
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.fa.fa-bullhorn.enormous-icon.circled.pull-center.fa-4x
                    .span8
                      %h3 Get Notified
                      %p
                        Check out the list of events hosted by brilliant Makers and "Follow" them to show your interest in working together. If the date was set as "TBA", we'll let you know when they schedule a workshop or apprenticeship.
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.fa.fa-check-circle.enormous-icon.circled.pull-center.fa-4x
                    .span8
                      %h3 Sign up or Apply
                      %p
                        Find an event you're stoked about? Sign up for a workshop right away, or apply for an apprenticeship! We'll send the Maker your application to check out and we'll only request you pay the $30.00 matching fee if it works out.
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.fa.fa-shield.enormous-icon.circled.pull-center.fa-4x
                    .span8
                      %h3 Earn Cred
                      %p
                        We'll keep track of the skills, tools, and techniques you're learning to begin to build out an incredible portfolio. You may even consider hosting a workshop or apprenticeship yourself!

    .row
      - unless @events.blank?
        = render 'event', events: @events
      - unless @tba_events.blank?
        = render 'event', events: @tba_events
      - unless @filled_events.blank?
        = render 'event', events: @filled_events
    %br
    %br
    %h1 Past Events
    %br
    %br
    .row
      - unless @closed_events.blank?
        = render 'event', events: @closed_events


