= f.error_notification
%br
= f.input :use_gravatar, label: false do
  .form-inline
    %input{id: 'user_use_gravatar_true',name: "user[use_gravatar]", type: 'radio', value: 'true', :checked => (@user.use_gravatar ? "checked" : false) }
    .input-append
      = gravatar_for(@user)
    %label.collection_radio_buttons{:for => 'user_use_gravatar_true'}
      Use
      %a{href: 'http://gravatar.com/emails', target: '_blank'} Gravatar
  %br
  .form-inline
    %input{id: 'user_use_gravatar_false',name: "user[use_gravatar]", type: 'radio', value: 'false',  :checked => (!@user.use_gravatar ? "checked" : false) }
    .input-append
      - if @user.avatar.url(:medium) != "/avatars/medium/missing.png"
        = image_tag(@user.avatar.url(:medium))
    %label.collection_radio_buttons{:for => 'user_use_gravatar_false'}
      Upload an Avatar
    .file-upload
      %input.dummy-file-upload{ type: 'text'}
      %button.btn.dummy-button-upload{type: 'button'}
        Browse
      = f.file_field :avatar, class: 'real-file-upload'
      &nbsp;
.form-actions
  = f.button :submit, "Save!", :class => "btn btn-large btn-primary"