- if (events||=false)
  - events.each do |event|
    %table.table.table-bordered.table-hover.table-condensed#userdashboard
      %tbody
        - submitted_signups = event.submitted_signups.sort_by { |s| s.created_at }.reverse!
        - submitted_preregs = event.submitted_preregs.sort_by { |p| p.created_at }.reverse!
        %tr
          %td.image
            - if event.host_album
              - if event.host_album.featured_photo
                = render 'photos/photo', photo: event.host_album.featured_photo, size: :thumb
              - elsif event.host_album.photos.first
                = render 'photos/photo', photo: event.host_album.photos.sort_by { |photo| photo.position(album_id: event.host_album.id) }.first, size: :thumb, url: url_for(event)
              - else
                %a{ href: url_for(event) }
                  %img.default-photo-thumb
          %td.title
            - if event.type == "Apprenticeship"
              .label.pull-right Apprenticeship
            - elsif event.type == "Workshop"
              .label.pull-right Workshop
            = link_to event.title_html, url_for(controller: event.class.name.underscore.pluralize, action: 'show', id: event.id ), class: "title-boxlink"
            - unless current_user.blank?
              - if event.user == current_user and (event.started? or event.pending? or event.accepted?)
                = link_to "Edit", url_for(controller: event.class.name.underscore.pluralize, action: 'edit', id: event.id )
              - if event.canceled? or event.filled? or event.completed?
                = link_to "Duplicate", url_for(controller: event.class.name.underscore.pluralize, action: 'duplicate', id: event.id ), data: { :confirm => "Are you sure? 'Duplicate' will start a new listing pre-populated with the information from this apprenticeship listing." }
              - if event.pending? or event.accepted? or event.filled?
                &nbsp; | &nbsp;
                = link_to "Cancel", url_for(controller: event.class.name.underscore.pluralize, action: 'cancel', id: event.id), method: :post, data: { :confirm => "Are you sure? Your apprenticeship will be saved in your Dashboard, but you'll have to resubmit it in order to post it again." }
              - if event.accepted?
                &nbsp; | &nbsp;
                = link_to "Close", url_for(controller: event.class.name.underscore.pluralize, action: 'close', id: event.id), method: :post, data: { :confirm => "Are you sure? Your event will be closed for signups." }
              - if event.filled? and !event.max_capacity_met?
                &nbsp; | &nbsp;
                = link_to "Re-Open", url_for(controller: event.class.name.underscore.pluralize, action: 'reopen', id: event.id), method: :post, data: { :confirm => "Are you sure? Your event will be reopened for signups." }
              - if event.started?
                &nbsp; | &nbsp;
                = link_to "Delete", url_for(controller: event.class.name.underscore.pluralize, action: 'destroy', id: event.id), method: :delete, data: { :confirm => "Are you sure? Your apprenticeship will be deleted permanantly." }

          %td.spots
            = event.spots_left
          %td.dates
            - if event.type == "Apprenticeship"
              = event.nice_dates_apprenticeships
            - elsif event.type == "Workshop"
              = event.nice_dates_workshops
          %td.state
            %span.label{class: event.state_label_class}
              = event.state_label
          %td.countdown
            = event.countdown_message
        - if !submitted_signups.empty?
          %tr
            %td.nested-table{ colspan: 6 }
              %table.table.table-bordered.table-hover.table-condensed.table-subtable
                %tbody
                  - submitted_signups.each_with_index do |signup, index|
                    %tr
                      %td.image
                        = index + 1
                      %td.name
                        = link_to avatar_for(signup.user, size: 25, tag: :small), url_for(controller: signup.class.name.underscore.pluralize, action: 'show', id: signup.id )
                        - if signup.parent?
                          = link_to "#{signup.user.name}'s daughter #{signup.daughter_firstname}".html_safe, url_for(controller: signup.class.name.underscore.pluralize, action: 'show', id: signup.id )
                        - else
                          = link_to signup.user.name, url_for(controller: signup.class.name.underscore.pluralize, action: 'show', id: signup.id )
                      %td.age
                        age
                        - if signup.parent?
                          = signup.daughter_age
                        - else
                          = signup.user.age
                      %td.state
                        %span{class: signup.state_label_class}
                          = signup.state_label
                      %td.countdown
                        = signup.countdown_message_maker
        - if !submitted_preregs.empty?
          %tr
            %td.nested-table{ colspan: 6 }
              %table.table.table-bordered.table-hover.table-condensed.table-subtable
                %tbody
                  - submitted_preregs.each_with_index do |prereg, index|
                    %tr
                      %td.image

                      %td.name
                        = avatar_for(prereg.user, size: 25, tag: :small)
                        = prereg.user.name
                      %td.age
                        age
                        = prereg.user.age
                      %td.state
                        .following &nbsp;following
                      %td.countdown

