- if (events||=false)
  - events.each do |event|
    %table.table.table-bordered.table-hover.table-condensed
      %tbody
        - submitted_signups = event.submitted_signups
        %tr
          %td.image
            - if event.host_album
              - if event.host_album.featured_photo
                = render 'photos/photo', photo: event.host_album.featured_photo, size: :thumb
              - elsif event.host_album.photos.first
                = render 'photos/photo', photo: event.host_album.photos.sort_by { |photo| photo.position(album_id: event.host_album.id) }.first, size: :thumb, url: url_for(event)
              - else
                %a{ href: url_for(event) }
                  %img.default-photo-thumb
              - unless current_user.blank?
                - if event.user == current_user
                  - if event.started?
                    = link_to "Edit", url_for(controller: event.class.name.underscore.pluralize, action: 'edit', id: event.id ), class: "btn btn-mini pull-right"
                  - elsif event.accepted? or event.canceled? or event.filled?
                    = link_to "Edit", url_for(controller: event.class.name.underscore.pluralize, action: 'edit', id: event.id ), class: "btn btn-mini pull-right"
          %td.title
            - if event.type == "Apprenticeship"
              .span{:class => "label"}= Apprenticeship
            - elsif event.type == "Workshop"
              .span{:class => "label"}= Workshop
            = link_to event.title_html, url_for(controller: event.class.name.underscore.pluralize, action: 'show', id: event.id ), class: "title-boxlink"
          %td.spots
            = event.spots_left
          %td.dates
            = event.nice_dates
          %td.state
            %span.label{class: event.state_label_class}
              = event.state
          %td.countdown
            = event.countdown_message
        - if !submitted_signups.empty?
          %tr
            %td.nested-table{ colspan: 6 }
              %table.table.table-bordered.table-hover.table-condensed.table-subtable
                %tbody
                  - submitted_signups.each_with_index do |signup, index|
                    %tr
                      %td.image
                        = index + 1
                      %td.name
                        = avatar_for(signup.user, size: 25, tag: :small)
                        = signup.user.name
                      %td.state
                        %span.label{class: signup.state_label_class}
                          = signup.state
                      %td.countdown
                        = signup.countdown_message_maker

