- if (signups||=false)
  - signups.each do |signup|
    /- unless signup.event.type == "Workshop" && signup.state == "started"
    %table.table.table-bordered.table-striped.table-hover.table-condensed
      %tbody
        - event = signup.event
        %tr
          %td.image
            - if event.host_album
              - if event.host_album.featured_photo
                = render 'photos/photo', photo: event.host_album.featured_photo, size: :thumb
              - elsif event.host_album.photos.first
                = render 'photos/photo', photo: event.host_album.photos.sort_by { |photo| photo.position(album_id: event.host_album.id) }.first, size: :thumb, url: url_for(event)
              - else
                %a
                  %img.default-photo-thumb
          %td.title
            - if event.type == "Apprenticeship"
              .label.pull-right Apprenticeship
            - elsif event.type == "Workshop"
              .label.pull-right Workshop
            = link_to event.title_html, url_for(controller: event.class.name.underscore.pluralize, action: 'show', id: event.id ), class: "title-boxlink"
            - if event.type == "Workshop" && signup.confirmed?
              %br
              = link_to 'Cancel registration', { :controller => 'work_signups', :action => 'cancel', :id => signup.id }, :method => :post, :data => { :confirm => 'Are you sure you want to cancel your registration for this workshop?'}
            - if event.type == "Apprenticeship"
              - if signup.started? || signup.pending? || signup.interview_requested? || signup.interview_scheduled?
                %br
                = link_to 'Cancel application', { :controller => 'app_signups', :action => 'cancel', :id => signup.id }, :method => :post, :data => { :confirm => 'Are you sure you want to cancel your application for this apprenticeship?'}
                &nbsp; | &nbsp;
                = link_to 'View application', { :controller => 'app_signups', :action => 'show', :id => signup.id }
              - if signup.accepted?
                %br
                = link_to 'Cancel application', { :controller => 'app_signups', :action => 'cancel', :id => signup.id }, :method => :post, :data => { :confirm => 'Are you sure you want to cancel your application for this apprenticeship?'}
                &nbsp; | &nbsp;
                = link_to 'Confirm application', { :controller => 'app_signups', :action => 'show', :id => signup.id }
              - if signup.canceled?
                %br
                = link_to 'Edit & resubmit application', { :controller => 'app_signups', :action => 'edit', :id => signup.id }
              - if signup.confirmed? || signup.completed?
                %br
                = mail_to event.user.email, 'Email the maker'
          %td.spots
            = event.spots_left
          %td.dates
            - if event.type == "Apprenticeship"
              = event.nice_dates_apprenticeships
            - elsif event.type == "Workshop"
              = event.nice_dates_workshops
          %td.state
            %span.label.btn-block{class: signup.state_label_class}
              = signup.state_label
          %td.countdown
            = signup.countdown_message



