-if (signups||=false)
  - signups.each do |signup|
    %table.table.table-bordered.table-striped.table-hover.table-condensed
      %tbody
        - event = signup.event
        %tr
          %td.image
            - if event.host_album
              - if event.host_album.featured_photo
                = render 'photos/photo', photo: event.host_album.featured_photo, size: :thumb
              - elsif event.host_album.photos.first
                = render 'photos/photo', photo: event.host_album.photos.sort_by { |photo| photo.position(album_id: event.host_album.id) }.first, size: :thumb
              - else
                %a
                  %img.default-photo-thumb
          %td.title
            = link_to event.title_html, url_for(controller: event.class.name.underscore.pluralize, action: 'show', id: event.id ), class: "title-boxlink"
          %td.spots
            = event.spots_left
          %td.state
            %span.label{class: signup.state_label_class}
              = signup.state
          %td.dates
            = event.nice_dates
          %td.countdown
            = signup.countdown_message

