- if (events||=false)
  - events.each do |event|
    - if event.started?
      %table.table.table-bordered.table-striped.table-hover.table-condensed
        %tbody
          %tr
            %td.image
              - if event.host_album
                - if event.host_album.featured_photo
                  = render 'photos/photo', photo: event.host_album.featured_photo, size: :thumb
                - elsif event.host_album.photos.first
                  = render 'photos/photo', photo: event.host_album.photos.sort_by { |photo| photo.position(album_id: event.host_album.id) }.first, size: :thumb, url: url_for(event)
                - else
                  %a{ href: url_for(event) }
                    %img.default-photo-thumb
            %td.title
              - if event.type == "Apprenticeship"
                .label.pull-right Apprenticeship
              - elsif event.type == "Workshop"
                .label.pull-right Workshop
              = link_to event.title_html, url_for(controller: event.class.name.underscore.pluralize, action: 'show', id: event.id ), class: "title-boxlink"
              - unless current_user.blank?
                - if event.user == current_user
                  - if event.started?
                    = link_to "Edit", url_for(controller: event.class.name.underscore.pluralize, action: 'edit', id: event.id ), class: ""
                  - elsif event.accepted? or event.canceled? or event.filled?
                    = link_to "Edit", url_for(controller: event.class.name.underscore.pluralize, action: 'edit', id: event.id ), class: ""
            %td.spots
              = event.spots_left
            %td.dates
              - if event.type == "Apprenticeship"
                = event.nice_dates_apprenticeships
              - elsif event.type == "Workshop"
                = event.nice_dates_workshops
            %td.state
              %span.label{class: event.state_label_class}
                = event.state_label
            %td.countdown
              = event.countdown_message