- provide(:title, 'Admin')
%section#dashboard-display.section.alt-grey
  .container
    .row-fluid
      .span12.pull-right
        %h1 Apprenticeships
        %br

        %h2 Pending Apprenticeships
        .fancyform-light
          = render 'pending', events: @apprenticeships
        %h2 Posted Apprenticeships
        .fancyform-light
          = render 'posted', events: @apprenticeships
        %h2 Filled Apprenticeships
        .fancyform-light
          = render 'filled', events: @apprenticeships
        %h2 Saved Apprenticeships
        .fancyform-light
          = render 'saved', events: @apprenticeships
        %h2 Cancelled Apprenticeships
        .fancyform-light
          = render 'canceled', events: @apprenticeships
        %h2 Completed Apprenticeships
        .fancyform-light
          = render 'completed', events: @apprenticeships

        %h1 Workshops
        %br

        %h2 Pending Workshops
        .fancyform-light
          = render 'pending', events: @workshops
        %h2 Posted Workshops
        .fancyform-light
          = render 'posted', events: @workshops
        %h2 Filled Workshops
        .fancyform-light
          = render 'filled', events: @workshops
        %h2 Saved Workshops
        .fancyform-light
          = render 'saved', events: @workshops
        %h2 Cancelled Workshops
        .fancyform-light
          = render 'canceled', events: @workshops
        %h2 Completed Workshops
        .fancyform-light
          = render 'completed', events: @workshops

