- provide(:title, 'Admin')
%section#dashboard-display.section.alt-grey
  .container
    .row-fluid
      .span12.pull-right
        %h1 Apprenticeships
        %br

        %h2 Pending Apprenticeships
        .fancyform-light
          = render 'events', events: @pending_apprenticeships
        %h2 Posted Apprenticeships
        .fancyform-light
          = render 'events', events: @posted_apprenticeships
        %h2 Filled Apprenticeships
        .fancyform-light
          = render 'events', events: @filled_apprenticeships
        %h2 Saved Apprenticeships
        .fancyform-light
          = render 'events', events: @saved_apprenticeships
        %h2 Canceled Apprenticeships
        .fancyform-light
          = render 'events', events: @canceled_apprenticeships
        %h2 Completed Apprenticeships
        .fancyform-light
          = render 'events', events: @completed_apprenticeships

        %h1 Workshops
        %br

        %h2 Pending Workshops
        .fancyform-light
          = render 'events', events: @pending_workshops
        %h2 Posted Workshops
        .fancyform-light
          = render 'events', events: @posted_workshops
        %h2 Filled Workshops
        .fancyform-light
          = render 'events', events: @filled_workshops
        %h2 Saved Workshops
        .fancyform-light
          = render 'events', events: @saved_workshops
        %h2 Canceled Workshops
        .fancyform-light
          = render 'events', events: @canceled_workshops
        %h2 Completed Workshops
        .fancyform-light
          = render 'events', events: @completed_workshops

