- provide(:title, 'My Events')
%section#dashboard-display.section.alt-grey
  .container
    .row-fluid
      .span2.pull-left
        = render 'dashboards/nav'
      .span10.pull-right
        %h1 My Events
        %br
        - if current_user
          - if @events && !@events.empty?
            .fancyform-light
              %h2 I'm Leading
              = render 'leading', events: @events
            %br
          - if @signups && !@signups.empty?
            .fancyform-light
              %h2 I'm Learning
              = render 'learning', signups: @signups
            %br
          - if @preregs && !@preregs.empty?
            .fancyform-light
              %h2 I'm Following
              = render 'following', preregs: @preregs
        - if @events && @events.empty? && @signups && @signups.empty?
          %p You haven't hosted or signed up for any events yet. Go for it!
          #{ link_to "Sign up for an apprenticeship", apprenticeships_path, class: "btn btn-small btn-primary" } - OR - #{ link_to "Sign up for a workshop", workshops_path, class: "btn btn-small btn-primary" }