-if current_user.admin?
  - provide(:title, 'Metrics')
  %section#dashboard-display.section.alt-grey
    .container
      .row-fluid
        .span12.pull-right
          %hr
          %h1 Metrics
          %br
          User accounts:
          = User.count
          %br
          Active users:
/ REPLACE THIS QUERY
          = (User.all.select { |u| u.events.count >= 1 }).count + (User.all.select { |u| u.signups.count >= 1 && u.events.count == 0 }).count
     / NEW QUERY IN PROGRESS
          / = User.includes(:events).where('COUNT(events) >= 1').count

          %br
          Active makers:
     / OLD QUERY
          / = User.all.select { |u| u.events.where(state: ["accepted", "filled", "completed"]).count >= 1 }.count
     / NEW QUERY
          = User.includes(:events).where(:events => {:state => ["accepted", "filled", "completed"]}).count
          %br

          %br
          Makers who have posted apprenticeships:
     / OLD QUERY
          / = User.all.select { |u| u.apprenticeships.where(state: ["accepted", "filled", "completed"]).count >= 1 }.count
     / NEW QUERY
          = User.includes(:apprenticeships).where(:events => {:state => ["accepted", "filled", "completed"]}).count

          %br
          Total apprenticeship postings:
          = Apprenticeship.where(:state => ["accepted", "filled", "completed"]).count
          %br
          Applications for apprenticeships:
          = AppSignup.count+51
          %br
          Confirmed apprentices:
          = AppSignup.where(:state => ["confirmed", "completed"]).count+18
          %br
          %br
          Makers who have posted workshops:
     / OLD QUERY
          / = User.all.select { |u| u.workshops.where(state: ["accepted", "filled", "completed"]).count >= 1 }.count
     / NEW QUERY
          = User.includes(:workshops).where(:events => {:state => ["accepted", "filled", "completed"]}).count

          %br
          Total workshop postings:
          = Workshop.where(:state => ["accepted", "filled", "completed"]).count
          %br
          Workshop participants:
          = WorkSignup.where(state: ["confirmed","completed"]).count
          %br
          %br
          Makers with repeat apprenticeship postings:
/ REPLACE THIS QUERY
          = User.all.select { |u| u.apprenticeships.count > 1 }.count
          %br
          Repeat signups for any events:
/ REPLACE THIS QUERY
          = User.all.select { |u| u.signups.count > 1 }.count
          %br
          Repeat applicants for apprenticeships:
/ REPLACE THIS QUERY
          = User.all.select { |u| u.app_signups.count > 1 }.count
          %br
          Repeat apprentices:
/ REPLACE THIS QUERY
          = User.all.select { |u| u.app_signups.where(:state => ["confirmed", "completed"]).count > 1 }.count
          %br
          Applicants declined more than once:
/ REPLACE THIS QUERY
          = User.all.select { |u| u.signups.where(:state => "declined").count > 1 }.count
          %br
          %br
          Apprentices who have become Makers:
/ REPLACE THIS QUERY
          = User.all.select { |u| u.app_signups.where(:state => ["confirmed", "completed"]).count >= 1 && u.events.count >= 1 }.count

