%table.table.table-bordered.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th.image
        Image
      %th.title
        Title
      %th.spots
        Spots Left
      %th.ages
        Ages
      %th.dates
        Date Range
  %tbody
    - apprenticeships.each do |apprenticeship|
      %tr
        %td
          - if apprenticeship && apprenticeship.host_album
            - if apprenticeship.host_album.featured_photo
              = render 'photos/photo', photo: apprenticeship.host_album.featured_photo, size: :thumb, url: url_for(apprenticeship)
            - elsif apprenticeship.host_album.photos.first
              = render 'photos/photo', photo: apprenticeship.host_album.photos.sort_by { |photo| photo.position(album_id: apprenticeship.host_album.id) }.first, size: :thumb, url: url_for(apprenticeship)
            - else
              %a{ href: url_for(edit_apprenticeship_path(apprenticeship)) }
                %img.default-photo-thumb
            - unless current_user.blank?
              - if apprenticeship.user == current_user
                - if apprenticeship.started?
                  = link_to "Edit", edit_apprenticeship_path(apprenticeship), class: "btn btn-mini pull-right"
                - elsif apprenticeship.accepted? or apprenticeship.canceled? or apprenticeship.filled?
                  = link_to "Edit", edit_apprenticeship_path(apprenticeship), class: "btn btn-mini pull-right"
        %td
          = link_to apprenticeship.title_html, apprenticeship_path(apprenticeship), class: "title-boxlink"
        %td
          - if apprenticeship.registration_max
            = apprenticeship.registration_max - apprenticeship.signups.where(:state => "confirmed").count
        %td
          = apprenticeship.age_min ? apprenticeship.age_min : '_'
          &nbsp;-&nbsp;
            - if apprenticeship.age_max > 18
              and Up
            - else
              to
              = apprenticeship.age_max ? apprenticeship.age_max : '_'

        %td
          = apprenticeship.begins_at ? apprenticeship.begins_at.strftime('%a, %b %d') : '_'
          &nbsp;-&nbsp;
          = apprenticeship.ends_at ? apprenticeship.ends_at.strftime('%a, %b %d') : '_'
