.span4
  .box.box-large
    - if apprenticeship && apprenticeship.host_album
      - if apprenticeship.host_album.featured_photo
        = render 'photos/photo', photo: apprenticeship.host_album.featured_photo, size: :large, url: url_for(apprenticeship)
      - elsif apprenticeship.host_album.photos.first
        = render 'photos/photo', photo: apprenticeship.host_album.photos.sort_by { |photo| photo.position(album_id: apprenticeship.host_album.id) }.first, size: :large, url: url_for(apprenticeship)
      - else
        %a{ href: url_for(apprenticeship) }
          %img.default-photo-large{ src: "/images/common/upload-photos-400px.jpg" }
    .box-details
      - unless current_user.blank?
        - if apprenticeship.user == current_user
          - if apprenticeship.started?
            = link_to "Resume", edit_apprenticeship_path(apprenticeship), class: "btn btn-mini pull-right"
          - elsif apprenticeship.accepted?
            = link_to "Edit", edit_apprenticeship_path(apprenticeship), class: "btn btn-mini pull-right"
      = link_to apprenticeship.title_html, apprenticeship_path(apprenticeship), class: "title-boxlink"
      %br
      Number of apprentices needed -
      = apprenticeship.registration_min - apprenticeship.signups.where(:state => "confirmed").count
      %br
      Ages
      = apprenticeship.age_min
      to
      = apprenticeship.age_max
      %br
      From
      = apprenticeship.begins_at.strftime('%A, %B %d')
      to
      = apprenticeship.ends_at.strftime('%A, %B %d')
