.span4
  .box.box-large
    - if apprenticeship && apprenticeship.host_album
      - if apprenticeship.host_album.featured_photo
        = render 'photos/photo', photo: apprenticeship.host_album.featured_photo, size: :large, url: url_for(apprenticeship)
      - elsif apprenticeship.host_album.photos.first
        = render 'photos/photo', photo: apprenticeship.host_album.photos.sort_by { |photo| photo.position(album_id: apprenticeship.host_album.id) }.first, size: :large, url: url_for(apprenticeship)
      - else
        %a{ href: url_for(edit_apprenticeship_path(apprenticeship)) }
          %img.default-photo-large{ src: "/images/common/upload-photos-400px.jpg" }
    .box-details
      - unless current_user.blank?
        - if apprenticeship.user == current_user
          - if apprenticeship.started?
            = link_to "Edit", edit_apprenticeship_path(apprenticeship), class: "btn btn-mini pull-right"
          - elsif apprenticeship.accepted?
            = link_to "Edit", edit_apprenticeship_path(apprenticeship), class: "btn btn-mini pull-right"
      = link_to apprenticeship.title_html, apprenticeship_path(apprenticeship), class: "title-boxlink"
      %br
      Ages
      %span.badge
        = apprenticeship.age_min
        to
        = apprenticeship.age_max
      %br
      %span.date
        - if apprenticeship.datetime_tba == false
          = apprenticeship.begins_at.strftime('%a, %b %d')
          &nbsp;-&nbsp;
          = apprenticeship.ends_at.strftime('%a, %b %d')
        - else
          Dates TBA
      = avatar_for(apprenticeship.user, class: "avatar", size: 50, tag: 'medium')

