.span4
  .box.box-large
    - if apprenticeship && apprenticeship.host_album
      - if apprenticeship.host_album.featured_photo
        = render 'photos/photo', photo: apprenticeship.host_album.featured_photo, size: :large, url: url_for(apprenticeship)
      - elsif apprenticeship.host_album.photos.first
        = render 'photos/photo', photo: apprenticeship.host_album.photos.sort_by { |photo| photo.position(album_id: apprenticeship.host_album.id) }.first, size: :large, url: url_for(apprenticeship)
      - else
        %a{ href: url_for(edit_apprenticeship_path(apprenticeship)) }
          %img.default-photo-large{ src: "/images/common/upload-photos-400px.jpg" }
    .box-details
      - unless current_user.blank?
        - if apprenticeship.user == current_user
          - if apprenticeship.started?
            = link_to "Edit", edit_apprenticeship_path(apprenticeship), class: "btn btn-mini pull-right"
          - elsif apprenticeship.accepted?
            = link_to "Edit", edit_apprenticeship_path(apprenticeship), class: "btn btn-mini pull-right"

      = link_to apprenticeship.title_html, apprenticeship_path(apprenticeship), class: "title-boxlink"

      Ages
      %span.badge
        = apprenticeship.age_min ? apprenticeship.age_min : '_'
        - if apprenticeship.age_max > 18
          = "and Up"
        - else
          to
          = apprenticeship.age_max ? apprenticeship.age_max : '_'
      %br
      %span.date
        - if apprenticeship.datetime_tba == false
          = apprenticeship.begins_at ? apprenticeship.begins_at.strftime('%a, %b %d') : '_'
          \-
          = apprenticeship.ends_at ? apprenticeship.ends_at.strftime('%a, %b %d') : '_'
        - else
          %b Dates TBA
      %span.spots
        - unless apprenticeship.datetime_tba
          - if apprenticeship.accepted?
            &nbsp;
            = apprenticeship.spots_left
          - elsif apprenticeship.filled? || apprenticeship.completed?
            &nbsp;
            %b Closed
      = avatar_for(apprenticeship.user, class: "avatar", size: 50, tag: 'medium')

