- action = {}
- action[params[:action].to_sym] = true
- checkmarks = @apprenticeship.checkmarks
#top-buttons
  %ul.nav.nav-pills
    %li{class: action[:edit] ? 'active' : ''}
      .number-circle
        %i#checkmark-design.icon-ok.icon-2x{ class: checkmarks[:design] ? "" : "hidden"}
        #number-design.number-text{ class: !checkmarks[:design] ? "" : "hidden"}
          1
      = link_to "Public Posting", action[:edit] ? '#' : edit_apprenticeship_path(@apprenticeship)
    %li{class: action[:private] ? 'active' : ''}
      .number-circle
        %i#checkmark-private.icon-ok.icon-2x{ class: checkmarks[:private] ? "" : "hidden"}
        #number-private.number-text{ class: !checkmarks[:private] ? "" : "hidden"}
          2
      = link_to "Private Details", action[:private] ? '#' : private_apprenticeship_path(@apprenticeship)
    %li{class: action[:payment] ? 'active' : ''}
      .number-circle
        %i#checkmark-payment.icon-ok.icon-2x{ class: checkmarks[:payment] ? "" : "hidden"}
        #number-payment.number-text{ class: !checkmarks[:payment] ? "" : "hidden"}
          3
      = link_to "Payment", checkmarks[:payment] ? '#' : payment_apprenticeship_path(@apprenticeship)
#checkmarks-url.hidden{ data: { url: "#{checkmarks_apprenticeships_path}", id: "#{@apprenticeship.id}" } }