<%= render 'shared/error_messages', :form_model => @apprenticeship %>

<% f.label :type %>
<% f.radio_button :type, "apprenticeship" %>
<% f.label :type, "Apprenticeship", :value => 'apprenticeship', :checked => true %>
<!--I want the type to be a hidden field that's automatically selected. Is it okay to just not print the field (< % instead of < % =)? Then to change which field is selected in the different forms for different types?--> 

<p>Title</p>
<%= f.label :topic %>
<%= f.text_field :topic, :required => true, :placeholder => "Ex. 'Printmaking' or 'Jewelry Design'" %> 
<!--How do I generate helper text to appear beside the fields? (how do I search for it??) I assume it may require JQuery, but also saw a link that used :help => "blah blah" - is this a thing?-->
<!--How do I get the default value text to highlight/delete when a user clicks on the field?-->

<p>Apprenticeship with</p> 
<%= f.text_field :host, :required => true, :placeholder => "Your name or business name" %>

<%= f.label :description %>
<%= f.text_area :description, :required => true, :placeholder => "Describe your apprenticeship." %>

<p>Timeframe</p>
<%= f.label :begins_at %>
<div class="input-append date" data-behaviour="datepicker" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
  <input class="span2" size="16" type="text" value="12-02-2012" readonly>
  <span class="add-on"><i class="icon-th"></i></span>
</div>
<%#= f.text_field :begins_at, :data => { :behaviour => 'datepicker' } %>

