<%= render 'shared/error_messages', :form_model => @apprenticeship %>

<%= f.label :topic %>
<%= f.text_field :topic, :required => true, :placeholder => "Ex. 'Printmaking' or 'Jewelry Design'", :rel => 'popover', :data => { :content => 'What will you be teaching?', "original-title" => 'Topic' } %> 

<%= f.label :host %>
<%= f.text_field :host, :required => true, :placeholder => "Ex. Natalie Davis of Canoe", :rel => 'popover', :data => { :content => 'How would you like to be listed? You can choose to use your own name, your business name, or both.', "original-title" => 'Name' }  %>

<!--Add a host?-->

<%= f.label :description %>
<%= f.text_area :description, :required => true, :placeholder => "Tell us about your apprenticeship.", :rel => 'popover', :data => { :content => "Describe what you'll be doing with your apprentice: what you'll be teaching as well as your expectations of her. Based on your expectations, consider whether you plan to pay the apprentice, and if so, how much?", "original-title" => 'Description' }  %>


<%= f.label :skill_list, capture { %> 
<h4>Skills & Techniques</h4> 
<% } %>
<div rel='popover' data-content="What skills and techniques will your apprentice(s) learn? (List them, separated by commas). Be as specific as possible to give your apprentice credit for her experience. We’ll keep track, to help her show off her skills!" data-original-title='Description' >
<%= f.text_field :skill_list, :required => true, :placeholder => "Ex. Natalie Davis of Canoe", :data => { :pre => @apprenticeship.skills.map { |t|  { :id => t.name, :name => t.name } } } %>
</div>
<!--Helper text: Be as specific as possible to give your apprentice credit for her experience. We’ll keep track, to help her show off her skills! -->
<br />


<!-- <%= f.label :tool_list %> -->
<h4>Tools & Materials</h4>
<p>What tools and materials will your apprentice(s) learn to use? (List them, separated by commas)</p>
<%= f.text_field :tool_list, :required => true, :placeholder => "Ex. Natalie Davis of Canoe", :data => { :pre => @apprenticeship.tools.map { |t|  { :id => t.name, :name => t.name } } }  %>
<!--Helper text: Be as specific as possible to give your apprentice credit for her experience. We’ll keep track, to help her show off her skills! -->
<br />


<!-- <%= f.label :requirement_list %> -->
<h4>Requirements</h4>
<p>Do applicants need experience with any skills, techniques, or tools before they apply? (List them, separated by commas)</p>
<%= f.text_field :requirement_list, :data => { :pre => @apprenticeship.requirements.map { |t|  { :id => t.name, :name => t.name } } }  %>
<br />

<h4>TIMEFRAME</h4>
<!-- <%= f.label :begins_at %> -->
<h4>Start date</h4>
<div class="input-append date" data-behaviour="datepicker" rel='popover' data-content="Describe what you'll be doing with your apprentice: what you'll be teaching as well as your expectations of her. Based on your expectations, consider whether you plan to pay the apprentice, and if so, how much?" data-original-title='Description' >
  <%= f.text_field :begins_at, :required => true, :class => "span2", :value => @apprenticeship.begins_at.strftime("%m/%d/%Y")  %>
  <span class="add-on"><i class="icon-calendar"></i></span>
</div>

<!-- <%= f.label :ends_at %> -->
<h4>End date</h4>
<div class="input-append date" data-behaviour="datepicker">
  <%= f.text_field :ends_at, :required => true, :class => "span2", :value => @apprenticeship.ends_at.strftime("%m/%d/%Y") %>
  <span class="add-on"><i class="icon-calendar"></i></span>
</div>


<%= f.label :hours, "How Often" %>
<%= f.text_field :hours, :required => true, :class => "span1" %>

<%= f.label :hours_per, " per " %>
<%= f.select :hours_per, [ "day", "week", "month" ], {}, :class => "span2" %>

<h4>Location</h4>

<div class="controls">
  <%= f.text_field :location_address, :required => true, :class => "span6" %>
</div>
<div class="controls">
  <%= f.text_field :location_address2, :class => "span6" %>
</div>
<div class="controls controls-row">
  <%= f.text_field :location_city, :required => true, :class => "span3" %>
  <%= f.text_field :location_state, :required => true, :class => "span1" %>
  <%= f.text_field :location_zipcode, :required => true, :class => "span2" %>
</div>

<%= f.label :location_private, :class => "checkbox" do %>
  <%= f.check_box :location_private %>This is a private or home address
<% end %>

<%= f.label :location_varies, :class => "checkbox" do %>
  <%= f.check_box :location_varies %>Varying locations (must have transportation)
<% end %>


<h4>Age Range</h4>

<h4>Close applications after I've accepted _#_ apprentice(s).</h4>



<%= render :partial => "shared/credit_card", :locals => { :f => f, :paid => @apprenticeship.charge_id.present? } %>


