<%= render 'shared/error_messages', :form_model => @apprenticeship %>

<div class="accordion form-horizontal" id="accordion2">
	<div class="accordion-group">
	  <div class="accordion-heading">
	  	<h2>
				<a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
		      1. About Me
		    </a>
		  </h2>
	  </div>

	  <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
	  	<div class="accordion-inner">
	      <!--<p>We’ll post this with your apprenticeship listing to show people who they’ll be working with.</p>-->

<!--THE BASICS -->
      	<h3>The Basics</h3>

				<%= f.input :host_firstname, 	label: 'First Name',
																			input_html: { value: ( !current_user.admin? ? current_user.first_name : '' ) }  %>
				<%= f.input :host_lastname, 	label: 'Last Name',
																			input_html: { value: ( !current_user.admin? ? current_user.last_name : '' ) }  %>
				<%= f.input :host_business, 	label: 'Business Name',
																			input_html: { rel: 'popover',
																										data: { content: "If you have a line of products or a brand for your work, include it here."} } %>
				<!--Add a host?-->
				<br />
      	<hr />

<!--SHOW OFF A LITTLE -->
      	<h3>Show off a little</h3>

				<%= f.input :bio, input_html: { rows: "8",
																				placeholder: "Give people a sense of who they'll be working with.",
																				rel: 'popover',
																				data: { :content => "Think about including: schooling, current work, recent shows, what you’re interested in as an artist and why you’re interested in teaching it - and a bit of personality, too!" } }  %>

				<%= f.input :website, :wrapper => :prepend do  %>
					<span class="add-on">www.</span>
					<%= f.input_field :website, rel: 'popover',
																			data: { :content => "Your studio website, or any other site that shows off your work."} %>
				<% end -%>

				<%= f.input :webshop, :wrapper => :prepend do  %>
					<span class="add-on">www.</span>
					<%= f.input_field :webshop, rel: 'popover',
																			data: { :content => "Your online shop (Etsy, Big Cartel, etc.), if you have one."} %>
				<% end -%>

				<%= f.input :facebook, :wrapper => :prepend do  %>
					<span class="add-on">facebook.com/</span>
					<%= f.input_field :facebook, rel: 'popover',
																			data: { :content => "We'll link to your business facebook page, to help us promote you and your events!"} %>
				<% end -%>

				<%= f.input :twitter, :wrapper => :prepend do  %>
					<span class="add-on">@</span>
					<%= f.input_field :twitter, rel: 'popover',
																			data: { :content => "A link to your Twitter profile helps give a sense of who you are and what you're interested in."} %>
				<% end -%>

				<ul class="icons">
					<li>
						<a data-toggle="collapse" data-target="#collapseOne" >
							<i class="icon-chevron-up"></i>
						</a>
					</li>
				</ul>
	    </div>
	  </div>
	</div>

	<br/>

	<div class="accordion-group">
	  <div class="accordion-heading">
	  	<h2>
		    <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">
		      2. About my apprenticeship
		    </a>
		   </h2>
	  </div>

	  <div id="collapseTwo" class="accordion-body collapse">
	    <div class="accordion-inner">
	    	<!--<p>Give people an idea of what they'll learn and work on with you.</p>-->


<!--TOPIC -->
				<h3>What</h3>

				<%= f.input :topic, input_html: { placeholder: "Ex. 'Furniture Design'", rel: 'popover', data: { content: 'What will you be teaching?' } }  %>
				<!--Add a host?-->
				<%= f.input :kind, label: 'What Kind', as: :radio_buttons do %>
					<%= f.radio_button :kind, "Event Apprenticeship" %> Event&nbsp;&nbsp;
					<%= f.radio_button :kind, "Production Apprenticeship" %> Production&nbsp;&nbsp;
					<%= f.radio_button :kind, "Ongoing Apprenticeship" %> Ongoing&nbsp;&nbsp;
				<% end -%>
				<%= f.input :description, input_html: {   rows: "8", placeholder: "Tell us about your apprenticeship.",
																									rel: 'popover',
																									data: { content: "Describe what you'll be doing with your apprentice: what you'll be teaching as well as your expectations of her. Based on your expectations, consider whether you plan to pay the apprentice, and if so, how much?" } }  %>

<!--SKILLS & TECHNIQUES -->
				<%= f.input :skill_list, label: 'Skills & Techniques' do %>
					<%= f.text_field :skill_list, wrapper: false, data: { pre: @apprenticeship.skills.map { |t|  { id: t.name, name: t.name } } }  %>
				<% end -%>
				<!-- Add Tooltip above - "Be as specific as possible to give your apprentice credit for her experience. We’ll keep track, to help her show off her skills!" -->

<!--TOOLS & MATERIALS -->
				<%= f.input :tool_list, label: 'Tools & Materials' do %>
					<%= f.text_field :tool_list, wrapper: false, data: { pre: @apprenticeship.tools.map { |t|  { id: t.name, name: t.name } } }  %>
				<% end -%>
				<!-- Add Tooltip above - "Be as specific as possible to give your apprentice credit for her experience. We’ll keep track, to help her show off her skills!" -->

<!--REQUIREMENTS / PREREQUISITES -->
				<%= f.input :requirement_list, label: 'Prerequisites' do %>
					<%= f.text_field :requirement_list, wrapper: false, data: { pre: @apprenticeship.requirements.map { |t|  { id: t.name, name: t.name } } }  %>
				<% end -%>
				<!-- Add Tooltip above - "Applicants will rate their level of experience with these skills and tools for you to see on their application." -->

				<%= f.input :other_needs, label: 'Preparations',
																			input_html: { placeholder: "Ex. Must have their own laptop", rel: 'popover', data: { content: 'Applicants will confirm on their application that they have these things.' } } %>

<!--AGE -->
				<%= f.input :age_min, label: 'Age Range' do %>
					<span class="controls-row">
						<%= f.number_field :age_min, placeholder: 'Min. Age', class: "span3", rel: 'popover', data: { content: "This is entirely up to you. We suggest a minimum age of 11 because our research has shown a need for fabulous mentors before middle school. If you need someone with a specific skill set or experience you may want to set the age higher and be clear about your needs in the apprenticeship description above." } %>
						<%= f.number_field :age_max, placeholder: 'Max. Age', class: "span3", rel: 'popover', data: { content: "If you want to work specifically with youth, you can set a maximum age accordingly. If you're happy to work with adults or seniors, you can set the maximum to 99." } %>
					</span>
				<% end -%>

				<%= f.input :registration_min, label: 'Registrations' do %>
					<span class="simpleform-text">Close applications after I've accepted, </span>
					<%= f.number_field :registration_min, :placeholder => "", :class => 'span1', :rel => 'popover', :data => { :content => "After receiving an application you must accept or reject it within two weeks. Your listing will remain open until you fill or cancel the apprenticeship." } %>
					<span class="simpleform-text">Apprentices.</span>
				<% end -%>

				<br/>
				<hr/>

<!--WHEN -->
				<h3>When</h3>

				<%= f.input :begins_at, label: 'Date Range' do %>
					<div class="input-append date bootstrap-timepicker-component" data-behaviour="datepicker">
						<%= f.text_field :begins_at, :class => "span2", :value => @apprenticeship.begins_at.strftime("%m/%d/%Y")  %>
						<span class="add-on"><i class="icon-th"></i></span>
					</div>
						<span class="simpleform-text"> &nbsp;to&nbsp;</span>
					<div class="input-append date bootstrap-timepicker-component" data-behaviour="datepicker">
						<%= f.text_field :ends_at, :class => "span2", :value => @apprenticeship.begins_at.strftime("%m/%d/%Y")  %>
						<span class="add-on"><i class="icon-th"></i></span>
					</div>
				<% end -%>

				<strong class="offset2">OR</strong><br/>
				<br/>

				<%= f.input :datetime_tba, label: 'TBA', as: :boolean do %>
					<%= f.check_box :datetime_tba %>
					<span class="simpleform-text">I'd like to gauge interest by gathering pre-registrations before I set a date range.</span>
				<% end -%>

<!--HOW OFTEN? -->
				<%= f.input :hours, label: 'How Often' do %>
					<%= f.number_field :hours, class: 'span2' %>
					<span class="simpleform-text"> hours per </span>
					<%= f.select :hours_per, [ "day", "week", "month" ], {}, class: 'span2' %>
				<% end -%>

				<br />
				<hr/>

<!--WHERE -->
				<h3>Where</h3>

				<%= f.input :location_address, label: 'Address' do %>
					<span class="controls-row">
						<%= f.text_field :location_address, placeholder: 'Address Line 1', class: "span6", rel: 'popover', data: { content: "Where will the apprenticeship take place? Please give the exact address. If it’s your home we’ll show only the neighborhood on the public listing, and send the address to participants when they sign up." } %>
					</span>
					<span class="controls controls-row">
						<%= f.text_field :location_address2, placeholder: 'Address Line 2', class: "span6" %>
					</span>
					<span class="controls controls-row">
						<%= f.text_field :location_city, :placeholder => 'City', class: "span3" %>
						<%= f.text_field :location_state, :placeholder => 'State', class: "span1" %>
						<%= f.text_field :location_zipcode, :placeholder => 'Zip', class: "span2" %>
					</span>
				<% end -%>

				<br/>

				<%= f.input :location_private do %>
					<%= f.check_box :location_private, value: true %>
					<span class="simpleform-text">This is a private address in the </span>
					<%= f.text_field :location_nbrhood, :placeholder => 'Ex. Clarksville', :class => 'span2' %>
					<span class="simpleform-text"> neighborhood.</span>
				<% end -%>

				<%= f.input :location_varies do %>
					<%= f.check_box :location_varies %>
					<span class="simpleform-text"> The apprenticeship will take place at varying locations.</span>
				<% end -%>

				<ul class="icons">
					<li>
						<a data-toggle="collapse" data-target="#collapseTwo">
							<i class="icon-chevron-up"></i>
						</a>
					</li>
				</ul>
	    </div>
	  </div>
	</div>

	<br/>

	<div class="accordion-group">
	  <div class="accordion-heading">
	  	<h2>
		    <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">
		      3. One last bit
		    </a>
		  </h2>
	  </div>
	  <div id="collapseThree" class="accordion-body collapse">
	    <div class="accordion-inner">
	    	<div class="alert alert-info">
	    		Note, this information will be kept private and will not be displayed with your apprenticeship
	    	</div>

<!--DON'T STEAL MY STYLE-->
				<h3>Don't steal my style!</h3>
				<p>We understand that for some makers, teaching your unique techniques can feel like risking your trade secrets. If this is a concern for you, we'll ask your apprentice to sign an agreement to respect your artistic style.</p>
				<%= f.label :respect_my_style, :class => "checkbox" do %>
				  <%= f.check_box :respect_my_style %>Yes, please ask my apprentice to sign a respect agreement.
				<% end %>

<!--COST -->
				<h3>Apprenticeship listing fee</h3>
				<%= render partial: "shared/credit_card", locals: { f: f, paid: @apprenticeship.charge_id.present? } %>

				<hr/>

<!--BACKGROUND CHECK -->
				<h3>Background check</h3>
				<%= f.input :permission, label: 'Yes' do %>
					<%= f.check_box :permission %>
					<span class="simpleform-text"> I give permission for GirlsGuild to run a background check on me.</span>
						<a href="javascript:;" rel='popover' data-placement="right" data-content="We run background checks on all maker-mentors as part of our efforts to foster a safe community.">
						  <i class="icon-question-sign small-icon"></i>
						</a>
				<% end -%>

				<br/>
				<hr/>
				<br/>

				<%= f.submit "Create Apprenticeship", name: 'create_button', class: "btn btn-large btn-primary btn-create", id: "cc_process" %>


				<ul class="icons">
					<li>
						<a data-toggle="collapse" data-target="#collapseThree">
							<i class="icon-chevron-up"></i>
						</a>
					</li>
				</ul>
	    </div>
	  </div>
	</div>
</div>


