- show = (params[:action] == 'show')
#public
  #msg.alert.hide
  %section.section
    .container
      - if show
        - if current_user && current_user==@apprenticeship.user
          = link_to "Edit", edit_apprenticeship_path(@apprenticeship), name: "edit_button", class: "btn btn-primary pull-right"
        - if current_user && @app_signup && current_user==@app_signup.user
          - if @app_signup.started?
            = link_to "Edit Application", edit_app_signup_path(@app_signup), name: "edit_button", class: "btn btn-primary pull-right"
        - if current_user && @app_signup && current_user==@app_signup.user
          - if @app_signup.pending?
            = link_to "Cancel Application", { :controller => 'app_signups', :action => 'cancel', :id => @app_signup.id }, class: "btn btn-danger pull-right", :method => 'post', data: { :confirm => "Are you sure? Your application will be saved in your Dashboard, but you'll have to resubmit it in order to apply again." }
            = link_to "View Application", app_signup_path(@app_signup), class: "btn pull-right"
          - if @app_signup.accepted?
            = link_to "Cancel Application", { :controller => 'app_signups', :action => 'cancel', :id => @app_signup.id }, class: "btn btn-danger pull-right", :method => 'post', data: { :confirm => "Are you sure? Your application will be saved in your Dashboard, but you'll have to resubmit it in order to apply again." }
            = link_to "Confirm Application", app_signup_path(@app_signup), class: "btn pull-right"

      - unless show
        %h2 Nice! Let's design your apprenticeship
        • Click on the text to edit any field you want to change
        %br
        • Hover on the
        %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"The question marks have tips to answer your questions!"} }
          %i.fa.fa-question-circle.small-iconnext
        next to each field for tips & more info
        %br
        %p• We'll save automatically as you go, and we've emailed you a link to come back to it at any time
        %br
        %h1#page-header.pull-right Build your Apprenticeship
        %br
        = render 'checkmark_nav'
      %br
      #top
        .row-fluid
          - unless show
            .pull-right
              #preview-buttons-top
                = link_to "Preview #{content_tag(:i, "", class: "fa fa-external-link")}".html_safe, '#', class: 'btn preview-btn', data: { url: apprenticeship_path(@apprenticeship) }

          //Banner //////////////////
          #banner
            - if !show
              .small Upload an Avatar
              #avatar.field{ rel: 'popover', data: {placement: "right", content:'Upload an image of yourself that shows a little of your personality'} }
                = link_to(avatar_for(current_user, size: 50, tag: :medium), '#avatarModal', id: 'avatar-edit', data: {toggle: "modal"} )
                #avatarModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "avatarModal", :role => "dialog", :tabindex => "-1"}
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                    %h3#galleryModalLabel My Avatar
                  .modal-body
                    = simple_form_for(@user, :url => update_avatar_path, defaults: { input_html: { class: 'span5' } }, html: { :method => :put } ) do |f|
                      = render 'dashboards/avatar_fields', f: f
            - else
              #avatar.field
                = avatar_for(@apprenticeship.user, size: 50, tag: :medium)


            %br
            - if !show
              %i.fa.fa-asterisk
            %h1#title.field.text
              = editable_link_to 'Topic of Your Apprenticeship', field: :topic, resource: @apprenticeship, type: :text
            - if !show
              %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"Give a snappy title for the apprenticeship. You could include the type of apprenticeship in the name. Example: 'Jewelry Production for Fab.com', or you could focus on what you'll be doing; 'Soldering and Casting' "} }
                %i.fa.fa-question-circle.small-icon
            %br
            with
            - if !show
              %i.fa.fa-asterisk
            #first-name.field.text
              = editable_link_to 'Your First Name', field: :host_firstname, resource: @apprenticeship, type: :text
            - if !show
              %i.fa.fa-asterisk
            #last-name.field.text
              = editable_link_to 'Your Last Name', field: :host_lastname, resource: @apprenticeship, type: :text
            - if !show || @apprenticeship.host_business.present?
              of
              #business.field.text.optional
                = editable_link_to 'Your Business (Optional)', field: :host_business, resource: @apprenticeship, type: :text
            %br
            - if !show
              %i.fa.fa-asterisk
            #kind.field.label.label-inverse
              = editable_link_to 'Kind of', field: :kind, resource: @apprenticeship, type: :select, data: {source: "{'Event':'Event', 'Production':'Production','Ongoing':'Ongoing','1-Day':'1-Day' }"}
              Apprenticeship
            - if !show
              %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"Is this an Event Apprenticeship with a specific timeline? Is it a Production Apprenticeship, where you need help making a run or building something in particular? Or is it an Ongoing Apprenticeship, through which you share your knowledge and creative practice for help with day-to-day business and the timeline is less set (though we suggest an initial 3 month timeline)?"} }
                %i.fa.fa-question-circle.small-icon
            %br
            - if !show
              %i.fa.fa-asterisk
            #description.field.textarea
              = editable_link_to "Tell us about your apprenticeship. Describe what you'll be doing with your apprentice: what you'll be teaching as well as your expectations of her. What will she be working on? What will she learn from it?", field: :description, resource: @apprenticeship, type: :textarea
            - if !show
              %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"Describe what you'll be doing with your apprentice: what you'll be teaching as well as your expectations of her. Based on your expectations, consider whether you plan to pay the apprentice, and if so, how much?"} }
                %i.fa.fa-question-circle.small-icon
            %br
            - if !show
              %br
              %i.fa.fa-asterisk
              %p.images-desc Upload 5 images of your studio & your work as it pertains to the apprenticeship.
              %br
              %p.images-desc Max size: 1300px, Min size: 600px.


            //Social bttns //////////////////
            - if show
              .socials
                %a{"data-pin-do" => "buttonBookmark", :href => "//pinterest.com/pin/create/button/"}
                  %img{:src => "//assets.pinterest.com/images/pidgets/pin_it_button.png"}/
                .fb-like{"data-layout" => "button_count", "data-show-faces" => "false", "data-width" => "450"}
                %a.twitter-share-button{"data-via" => "TheGirlsGuild", :href => "https://twitter.com/share"} Tweet
                :javascript
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            %br
            %br


//Images Section //////////////////
= render 'host_album', show: show


%section.section
  .container
    #bottom
      .row-fluid

        //Details Section //////////////////
        %span#details.pull-left.span9
          %dl.dl-horizontal
            %dt
              - if !show
                %i.fa.fa-asterisk
              When
            %dd
              / - if !show || @apprenticeship.datetime_tba
              /   #tba.field.checkbox.optional
              /     = editable_link_to "Date Options", field: :datetime_tba, resource: @apprenticeship, type: :select, link_text: @apprenticeship.datetime_tba ? "Schedule" : "TBA",  data: { source: '{false : "Schedule", true : "TBA"}'}
              / - if !show || !@apprenticeship.datetime_tba
              - if !show
                / #from{class: (show || @apprenticeship.datetime_tba) ?  'hidden' : '' }
                /   this Apprenticeship from
                / #dates{class: @apprenticeship.datetime_tba ?  'hidden' : '' }

              #begins-at.field.date.optional
                = editable_link_to "Starting date", field: :begins_at, resource: @apprenticeship, type: :date, link_text: get_formated_date(@apprenticeship.begins_at), data: { viewformat: 'MM d, yyyy', template: 'MM d, yyyy', firstItem: 'none'}
              to
              #ends-at.field.date.optional
                = editable_link_to "Ending date", field: :ends_at, resource: @apprenticeship, type: :date, link_text: get_formated_date(@apprenticeship.ends_at), data: { viewformat: 'MM d, yyyy', template: 'MM d, yyyy', firstItem: 'none'}
              - if !show
                %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"When do you want the apprenticeship to start? This will be an approximate start date, based on how you work out a schedule with your apprentice. How long is the apprenticeship? We suggest an initial 1-3 month period to see how it goes. You can always offer to extend it!"} }
                  %i.fa.fa-question-circle.small-icon
              %br
            %dt
              - if !show
                %i.fa.fa-asterisk
              Frequency
            %dd
              #frequency.field.text
                = editable_link_to "How many?", field: :hours, resource: @apprenticeship, type: :text
              hours per week
              - if !show
                %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"How often will you meet?"} }
                  %i.fa.fa-question-circle.small-icon
            %dt
              - if !show
                %i.fa.fa-asterisk
              Availability
            %dd
              #availability.field.text
                = editable_link_to "What's your availability?", field: :availability, resource: @apprenticeship, type: :text
              - if !show
                %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content: "Are you flexible? If so we'll assume that you're willing to work with the apprentice's schedule. If you are not flexible then let us know what days and times you are available."} }
                  %i.fa.fa-question-circle.small-icon


            %dt
              - if !show
                %i.fa.fa-asterisk
              Where
            %dd
              - if !show || @apprenticeship.location_private
                The location is a
                #private-address.field.select
                  - if @apprenticeship.location_private == true
                    - private_text = "Residential"
                  - elsif @apprenticeship.location_private == false
                    - private_text = "Public"
                  = editable_link_to "Public/Residential", field: :location_private, resource: @apprenticeship, type: :select, link_text: @apprenticeship.location_private.nil? ? nil : private_text , data: { source: '{true : "Residential", false : "Public"}'}
                address
                #nbrhood-toggle{class: !@apprenticeship.location_private ?  'hidden' : '' }
                  in the
                  - if !show || @apprenticeship.location_private
                    #nbrhood.field.text.optional
                      = editable_link_to "Neighborhood", field: :location_nbrhood, resource: @apprenticeship, type: :text
                    neighborhood

                - if !show
                  %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"If it's a 'Residential' address we'll only display a map of the neighborhood, while a 'Public' address will be displayed with a map of the exact location."} }
                    %i.fa.fa-question-circle.small-icon
                  %br

              - if !show || !@apprenticeship.location_private || current_user && (current_user.signedup?(@apprenticeship) or current_user==@apprenticeship.user)
                #address
                  #address1.field.address
                    = editable_link_to "Street Address", field: :location_address, resource: @apprenticeship, type: :text
                  #city.field.address
                    = editable_link_to "City", field: :location_city, resource: @apprenticeship, type: :text
                  ,
                  #state.field.address
                    = editable_link_to "State", field: :location_state, resource: @apprenticeship, type: :text
                  #zip.field.address
                    = editable_link_to "Zip", field: :location_zipcode, resource: @apprenticeship, type: :text
                  %br


            %dt
              - if !show
                %i.fa.fa-asterisk
              Who
            %dd
              #gender.field.checkbox
                - if @apprenticeship.gender == true
                  - gender_text = "Open to all gender identities"
                - elsif @apprenticeship.gender == false
                  - gender_text = "Girls/Women"
                = editable_link_to "Describe your apprentice(s)", field: :gender, resource: @apprenticeship, type: :select, link_text: gender_text, data: { source: '{"false" : "Girls/Women", "true" : "Open to all gender identities"}'}
              ages
              #min-age.field.select
                = editable_link_to "12", field: :age_min, resource: @apprenticeship, type: :number
              to
              #max-age.field.select
                = editable_link_to "100", field: :age_max, resource: @apprenticeship, type: :number
              - if !show
                %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"This is entirely up to you. We suggest a minimum age of 11 because our research has shown a need for fabulous mentors before middle school. If you need someone with a specific skill set or experience you may want to set the age higher and be clear about your needs in the apprenticeship description above."} }
                  %i.fa.fa-question-circle.small-icon

            %dt
              - if !show
                %i.fa.fa-asterisk
              How Many
            %dd
              Up to
              #registration-max.field.number
                = editable_link_to "2", field: :registration_max, resource: @apprenticeship, type: :select, data: { source: '{1: "1", 2:"2", 3:"3", 4:"4", 5:"5"}', showbuttons: false, value: '1' }
              Apprentice(s)
              - if !show
                %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"We suggest you start with 1-2 apprentice(s) if you're new to teaching or collaborating. You can always post again for another apprentice or two."} }
                  %i.fa.fa-question-circle.small-icon
            %dt
              - if !show
                %i.fa.fa-asterisk
              Skills Taught
            %dd
              #skills.field.tags
                = editable_link_to 'Skills and techniques will you be teaching', field: :skill_list, resource: @apprenticeship, type: :select2
              - if !show
                %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"Be as specific as possible so that we can give your apprentice credit for learning new skills allow her to show them off in her portfolio!"} }
                  %i.fa.fa-question-circle.small-icon
            %dt
              - if !show
                %i.fa.fa-asterisk
              Tools Taught
            %dd
              #tools.field.tags
                = editable_link_to 'Tools and materials will you be teaching or using', field: :tool_list, resource: @apprenticeship, type: :select2
              - if !show
                %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"Be as specific as possible so that we can give your apprentice credit for learning new tools and allow her to show them off in her portfolio!"} }
                  %i.fa.fa-question-circle.small-icon
            - if !show || !@apprenticeship.requirement_list.empty?
              %dt
                Requirements
              %dd
                #prequisites.field.tags.optional
                  = editable_link_to '(Optional) Any required skills or tools your apprentice should have experience with?', field: :requirement_list, resource: @apprenticeship, type: :select2
                - if !show
                  %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"Is this apprenticeship more collaborative, or more directed? Be honest about the help that you need right from the begining. Example: chopsaw, welding, javascript"} }
                    %i.fa.fa-question-circle.small-icon
            /- if !show || @apprenticeship.other_needs
            /  %dt
            /    Preparations
            /  %dd
            /    #preparations.field.tags.optional
            /      = editable_link_to 'Ex: "Must have their own laptop"', field: :other_needs, resource: @apprenticeship, type: :text
            /    - if !show
            /      %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"Let the apprentice know what she should prepare to bring, wear, or read before you get started working together. Example: a car, a cellphone, a computer, a sense of humor."} }
            /        %i.fa.fa-question-circle.small-icon



            - if current_user && current_user.signedup?(@apprenticeship) or current_user==@apprenticeship.user
              %hr
              %dt
                Email
              %dd
                = mail_to @apprenticeship.user.email
                - if !show
                  %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content: "Don't worry, this will only be visible to apprentices AFTER they've applied'! To use a different email address, you can edit your Settings (under your name in the top right corner)."} }
                    %i.fa.fa-question-circle.small-icon
                    = link_to "(Edit email)", edit_user_registration_path

            - if @apprenticeship.user.bio.present?
              %dt
                Bio
              %dd
                = @apprenticeship.user.bio
            - if @apprenticeship.user.website.present?
              %dt
                Website
              %dd
                = link_to @apprenticeship.user.website, nice_url(@apprenticeship.user.website)
            - if @apprenticeship.user.webshop.present?
              %dt
                Webshop
              %dd
                = link_to @apprenticeship.user.webshop, nice_url(@apprenticeship.user.webshop)
            - if @apprenticeship.user.facebook.present?
              %dt
                Facebook
              %dd
                = link_to @apprenticeship.user.facebook, nice_url(@apprenticeship.user.facebook)
            - if @apprenticeship.user.twitter.present?
              %dt
                Twitter
              %dd
                = link_to @apprenticeship.user.twitter, nice_url(@apprenticeship.user.twitter)


            - if show && current_user && current_user.admin? && @apprenticeship.pending?
              %dt
                Legal Name
              %dd
                = @apprenticeship.legal_name


            - if show
              - if current_user && current_user.signedup?(@apprenticeship) or current_user==@apprenticeship.user
                %hr
                %dt
                  Apprentice(s)
                %dd
                  - @apprenticeship.signups.where(state: ["confirmed", "completed"]).each do |app_signup|
                    = avatar_for(app_signup.user, size: 25, tag: :small)
                    - if app_signup.parent?
                      #{app_signup.user.name}'s daughter #{app_signup.daughter_firstname}
                    - else
                      = app_signup.user.name
                    \&nbsp; - &nbsp;
                    = mail_to app_signup.user.email
                    %br
                %dt


        //Apply Sidebar //////////////////
        %span#applysidebar.span3
          - if show
            - if current_user && current_user.signedup?(@apprenticeship) && @app_signup.started?
              = link_to "Finish applying", edit_app_signup_path(@app_signup), :class => "btn btn-block btn-warning"
            - elsif current_user && current_user.signedup?(@apprenticeship) && @app_signup.pending?
              = link_to "Application sent #{content_tag(:i, "", class: "fa fa-check-circle")}".html_safe, app_signup_path(@app_signup), rel: 'popover', data: {placement: "left", content:"Thanks for applying, we'll let you know just as soon as a decision has been made!"}, :class => "btn btn-block btn-success disabled"
            - elsif current_user && current_user.signedup?(@apprenticeship) && @app_signup.accepted?
              = link_to "Confirm apprenticeship", app_signup_path(@app_signup), rel: 'popover', data: {placement: "left", content:"Yay! You've been accepted for this apprenticeship. To get started please confirm by paying."}, :class => "btn btn-block btn-warning"
            - elsif current_user && current_user.signedup?(@apprenticeship) && @app_signup.confirmed?
              = link_to "Working with #{@apprenticeship.user.first_name} #{content_tag(:i, "", class: "fa fa-check-circle")}".html_safe, app_signup_path(@app_signup), rel: 'popover', data: {placement: "left", content:"Yippee, you're all set to start your apprenticeship!"}, :class => "btn btn-block btn-success disabled"
            - elsif current_user && current_user.signedup?(@apprenticeship) && @app_signup.canceled?
              = link_to "Re-apply with #{@apprenticeship.user.first_name}".html_safe, edit_app_signup_path(@app_signup), rel: 'popover', data: {placement: "left", content:"Looks like you canceled your application, but never fear. We've saved your answers and you can re-apply!"}, :class => "btn btn-block btn-primary"

            - elsif @apprenticeship.completed?
              = link_to "Apprenticeship passed", apprenticeship_path, rel: 'popover', data: {placement: "left", content:"Sorry, this apprenticeship has passed, but you can follow this maker to be the first to know next time she's teaching."}, :class => "btn btn-block btn-inverse disabled"

            - elsif @apprenticeship.filled?
              = link_to "Apprenticeship closed", apprenticeship_path, rel: 'popover', data: {placement: "left", content:"Sorry, this apprenticeship has already been filled, but you can follow this maker to be the first to know next time she's teaching."}, :class => "btn btn-block disabled"

            - elsif @apprenticeship.accepted? && @apprenticeship.datetime_tba == false
              - unless current_user && current_user == @apprenticeship.user || current_user && current_user.signedup?(@apprenticeship)
                - if current_user && current_user.age > @apprenticeship.age_max
                  = link_to "Work with #{@apprenticeship.user.first_name}", '#workwithModal', data: {toggle: "modal"}, :class => "btn btn-block btn-primary"
                  #workwithModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "workwithModal", :role => "dialog", :tabindex => "-1"}
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                      %h3#galleryModalLabel Oops
                    .modal-body
                      %p It looks like you're older than the maximum age for this apprenticeship. But you can help your daughter apply!
                      %br
                      = link_to "Sign up my Daughter", new_parent_app_signup_path(apprenticeship_id: @apprenticeship), :class => "btn btn-primary pull-right"
                      %button.close.pull-left{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
                      %br
                  %br

                - elsif current_user && current_user.age < @apprenticeship.age_min
                  = link_to "Work with #{@apprenticeship.user.first_name}", '#workwithModal', data: {toggle: "modal"}, :class => "btn btn-block btn-primary"
                  #workwithModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "workwithModal", :role => "dialog", :tabindex => "-1"}
                    .modal-header
                      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                      %h3#galleryModalLabel Whoops
                    .modal-body
                      %p It looks like you're younger than the minimum age for this apprenticeship. But you can follow this maker to be notified when she posts a workshop or an apprenticeship!
                      %br
                      .span4.pull-right
                        = render :partial => "shared/prereg", :locals => {:event => @apprenticeship}
                      %button.close.pull-left{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
                      %br
                  %br

                - else
                  = link_to "Work with #{@apprenticeship.user.first_name}", new_app_signup_path(apprenticeship_id: @apprenticeship), :class => "btn btn-block btn-primary"

            %br
            = render :partial => "shared/prereg", :locals => {:event => @apprenticeship}
            %br

          //Map //////////////////
          - if show
            #map-box
              = render 'layouts/googleshim', address: @apprenticeship.google_address
              .map-top-shadow
              #map
              .map-bottom-shadow


      //Preview & Next //////////////////
      - if !show
        .row-fluid
          #preview-buttons-bottom
            = link_to "Preview #{content_tag(:i, "", class: "fa fa-external-link")}".html_safe, '#', class: 'btn preview-btn', data: { url: apprenticeship_path(@apprenticeship) }
            #proceed.preview-hide
              = link_to 'Next', private_apprenticeship_path(@apprenticeship), method: :get, class: 'btn btn-primary'

      - elsif current_user && current_user==@apprenticeship.user && @apprenticeship.started?
        .row-fluid
          #preview-buttons-bottom
            = link_to "Edit", edit_apprenticeship_path(@apprenticeship), name: "edit_button", class: 'btn btn-success'
            #proceed.preview-hide
              = link_to 'Next', private_apprenticeship_path(@apprenticeship), method: :get, class: 'btn btn-primary'


      //Disqus //////////////////
      - if show
        - if current_user && current_user.signedup?(@apprenticeship)
          - if @app_signup.pending? || @app_signup.accepted? || @app_signup.confirmed? || @app_signup.completed?
            = render 'disqus'
        - if current_user==@apprenticeship.user
          = render 'disqus'


  //Admin Controls //////////////////
  %section#admin_section.section
    .container
      .row-fluid
        - if current_user && current_user.admin? && @apprenticeship.pending?
          = link_to "Reject Apprenticeship", '#rejectModal', data: {toggle: "modal"}, :class => "btn"
          #rejectModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "rejectModal", :role => "dialog", :tabindex => "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h3#galleryModalLabel Perp Alert!
            .modal-body
              %p What's the problem with this submission?
              %br
              = simple_form_for(@apprenticeship) do |f|
                = f.input :reject_reason, input_html: { rows: "2",
                  placeholder: "This reason will be plopped into the email we send the maker."}
                = f.submit "Reject Apprenticeship", :name => "reject_button", :class => "btn"
              %button.close.pull-left{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
              %br
          = link_to "Approve Apprenticeship", { :controller => 'apprenticeships', :action => 'accept', :id => @apprenticeship.id }, class: "btn btn-success", :method => 'post', :data => { :confirm => 'Hey Nerds, did you do a background check yet?'}

          %br
          %br

        - if current_user && current_user.admin? && @apprenticeship.accepted?
          = link_to "Revoke Apprenticeship", '#revokeModal', data: {toggle: "modal"}, :class => "btn"
          #revokeModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "revokeModal", :role => "dialog", :tabindex => "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h3#galleryModalLabel Uh-oh!
            .modal-body
              %p What's the issue with this apprenticeship?
              %br
              = simple_form_for(@apprenticeship) do |f|
                = f.input :revoke_reason, input_html: { rows: "2",
                  placeholder: "This reason will be plopped into the email we send the maker.",
                  rel: 'popover'}
                = f.submit "Revoke Apprenticeship", :name => "revoke_button", :class => "btn btn-warning"
              %button.close.pull-left{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} Cancel
              %br
          %br
          %br

        - if current_user && current_user == @apprenticeship.user && !@apprenticeship.started? && !@apprenticeship.completed? && !@apprenticeship.canceled?
          = link_to "Cancel Apprenticeship", { :controller => 'apprenticeships', :action => 'cancel', :id => @apprenticeship.id }, class: "btn btn-danger", :method => 'post', data: { :confirm => "Are you sure? Your apprenticeship will be saved in your Dashboard, but you'll have to resubmit it in order to post it again." }
          %br
          %br

        - if current_user && current_user == @apprenticeship.user && @apprenticeship.started?
          = link_to "Delete Apprenticeship", { :controller => 'apprenticeships', :action => 'destroy', :id => @apprenticeship.id }, class: "btn btn-small btn-danger pull-left", :method => 'delete', data: { :confirm => "Are you sure? You can't undo after you delete your apprenticeship. It will really be gone!" }
          %br
          %br


          %br
          %br
          %br