%section#apprenticeships-index.section
  .container
    %h1 Apprenticeships
    = link_to "Offer an apprenticeship!", new_apprenticeship_path, class: 'btn btn-large btn-primary pull-right'
    %br/
    %br/
    /%a.toggleheader.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseOne"} How it works
    .accordion.form-horizontal#accordion2
      .accordion-group
        .accordion-heading
          %h2
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseOne"}
        #collapseOne.accordion-body.collapse
          .accordion-inner
            %h2 How it Works
            %br/
            .row-fluid
              %ul.thumbnails.bordered
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.icon-beaker.enormous-icon.circled.pull-center
                    .span8
                      %h3 Step 1
                      %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.icon-cloud.enormous-icon.circled.pull-center
                    .span8
                      %h3 Step 2
                      %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.icon-map-marker.enormous-icon.circled.pull-center
                    .span8
                      %h3 Step 3
                      %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .row
      - unless @apprenticeships.blank?
        = render :partial => "apprenticeship", :collection => @apprenticeships
    - unless current_user.blank?
      - if current_user.admin?
        %hr/
        %h2 Admin
        - unless @allsaved_apprenticeships.blank?
          %br/
          %h4 Saved apprenticeships
          .row.row-saved
            = render :partial => "apprenticeship", :collection => @allsaved_apprenticeships
        - unless @allpending_apprenticeships.blank?
          %br/
          %h4 Pending apprenticeships Needing Review
          .row.row-pending
            = render :partial => "apprenticeship", :collection => @allpending_apprenticeships
        - unless @allcanceled_apprenticeships.blank?
          %br/
          %h4 Canceled apprenticeships Since Being Accepted
          .row.row-canceled
            = render :partial => "apprenticeship", :collection => @allcanceled_apprenticeships
        - unless @allfilled_apprenticeships.blank?
          %br/
          %h4 Filled apprenticeships
          .row.row-filled
            = render :partial => "apprenticeship", :collection => @allfilled_apprenticeships
        - unless @allcompleted_apprenticeships.blank?
          %br/
          %h4 Completed apprenticeships
          .row.row-completed
            = render :partial => "apprenticeship", :collection => @allcompleted_apprenticeships
      - unless current_user.apprenticeships.blank?
        %hr/
        %h2 My apprenticeships
        - unless @mycanceled_apprenticeships.blank?
          %br/
          %h4 My Canceled apprenticeships
          .row.row-canceled
            = render :partial => "apprenticeship", :collection => @mycanceled_apprenticeships
        - unless @mysaved_apprenticeships.blank?
          %br/
          %h4 My Saved apprenticeships
          .row.row-saved
            = render :partial => "apprenticeship", :collection => @mysaved_apprenticeships
        - unless @mypending_apprenticeships.blank?
          %br/
          %h4 My Pending apprenticeships
          .row.row-pending
            = render :partial => "apprenticeship", :collection => @mypending_apprenticeships
        - unless @myactive_apprenticeships.blank?
          %br/
          %h4 My Upcoming apprenticeships
          .row.row-upcoming
            = render :partial => "apprenticeship", :collection => @myactive_apprenticeships
        - unless @myfilled_apprenticeships.blank?
          %br/
          %h4 My Filled apprenticeships
          .row.row-filled
            = render :partial => "apprenticeship", :collection => @myfilled_apprenticeships
        - unless @mycompleted_apprenticeships.blank?
          %br/
          %h4 My Completed apprenticeships
          .row.row-completed
            = render :partial => "apprenticeship", :collection => @mycompleted_apprenticeships