<%= content_tag :section, :class => "section" do %>
	<%= content_tag :div, :class => "container" do %>
		<%= link_to "Offer an Apprenticeship", new_apprenticeship_path, :class => 'btn btn-large btn-primary' %>

		<% unless @saved_apprenticeships.blank? %>
		<h3>My Saved Apprenticeships</h3>
		<%= render :partial => "apprenticeship", :collection => @saved_apprenticeships %>
		<% end %>

		<% if current_user.admin? %>
			<% unless @savedadmin_apprenticeships.blank? %>
				<h3>Apprenticeships in Progress</h3>
				<p>These apprenticeships have not been submitted yet! This list just lets us see what's in the works.</p>
				<%= render :partial => "apprenticeship", :collection => @savedadmin_apprenticeships %>
			<% end %>
		<% end %>

		<% unless @pending_apprenticeships.blank? %>
		<h3>My Pending Apprenticeships</h3>
		<%= render :partial => "apprenticeship", :collection => @pending_apprenticeships %>
		<% end %>

		<% if current_user.admin? %>
			<% unless @pendingadmin_apprenticeships.blank? %>
				<h3>Pending Apprenticeships</h3>
				<p>These apprenticeships need review!</p>
				<%= render :partial => "apprenticeship", :collection => @pendingadmin_apprenticeships %>
			<% end %>
		<% end %>

		<% unless @active_apprenticeships.blank? %>
		<h3>My Upcoming Apprenticeships</h3>
		<%= render :partial => "apprenticeship", :collection => @active_apprenticeships %>
		<% end %>

		<hr />

		<% unless @apprenticeships.blank? %>
		<h3>All Apprenticeships</h3>
		<%= render :partial => "apprenticeship", :collection => @apprenticeships %>
		<% end %>
	<% end %>
<% end %>