<%= content_tag :section, :class => "section" do %>
	<%= content_tag :div, :class => "container" do %>
		<%= link_to "Offer an Apprenticeship", new_apprenticeship_path, :class => 'btn btn-large btn-primary' %>


		<% unless current_user.blank? %>
			<% if current_user.admin? %>
				<hr />
				<h2>Admin</h2>
				<% unless @allsaved_apprenticeships.blank? %>
					<h3>Apprenticeships in Progress</h3>
					<%= render :partial => "apprenticeship", :collection => @allsaved_apprenticeships %>
				<% end %>

				<% unless @allpending_apprenticeships.blank? %>
					<h3>Pending Apprenticeships Needing Review</h3>
					<%= render :partial => "apprenticeship", :collection => @allpending_apprenticeships %>
				<% end %>

				<% unless @allcanceled_apprenticeships.blank? %>
					<h3>Canceled Apprenticeships Since Being Accepted</h3>
					<%= render :partial => "apprenticeship", :collection => @allcanceled_apprenticeships %>
				<% end %>
			<% end %>

			<% unless current_user.apprenticeships.blank? %>
				<hr />
				<h2>My Apprenticeships</h2>
				<% unless @mycanceled_apprenticeships.blank? %>
				<h3>My Canceled Apprenticeships</h3>
				<%= render :partial => "apprenticeship", :collection => @mycanceled_apprenticeships %>
				<% end %>

				<% unless @mysaved_apprenticeships.blank? %>
				<h3>My Saved Apprenticeships</h3>
				<%= render :partial => "apprenticeship", :collection => @mysaved_apprenticeships %>
				<% end %>

				<% unless @mypending_apprenticeships.blank? %>
				<h3>My Pending Apprenticeships</h3>
				<%= render :partial => "apprenticeship", :collection => @mypending_apprenticeships %>
				<% end %>

				<% unless @myactive_apprenticeships.blank? %>
				<h3>My Upcoming Apprenticeships</h3>
				<%= render :partial => "apprenticeship", :collection => @myactive_apprenticeships %>
				<% end %>
			<% end %>	

		<% end %>		

		<% unless @apprenticeships.blank? %>
		<hr />
		<h2>All Apprenticeships</h2>
		<%= render :partial => "apprenticeship", :collection => @apprenticeships %>
		<% end %>
	<% end %>
<% end %>