<%= content_tag :section, :class => "section" do %>
	<%= content_tag :div, :class => "container" do %>
		<%= link_to "Offer an Apprenticeship", new_apprenticeship_path, :class => 'btn btn-large btn-primary' %>


		<% unless current_user.blank? %>
			<% unless current_user.apprenticeships.blank? %>
				<hr />
				<h3>My Apprenticeships</h2>
				<% unless @mycanceled_apprenticeships.blank? %>
				<h4>My Canceled Apprenticeships</h4>
				<%= render :partial => "apprenticeship", :collection => @mycanceled_apprenticeships %>
				<% end %>

				<% unless @mysaved_apprenticeships.blank? %>
				<h4>My Saved Apprenticeships</h4>
				<%= render :partial => "apprenticeship", :collection => @mysaved_apprenticeships %>
				<% end %>

				<% unless @mypending_apprenticeships.blank? %>
				<h4>My Pending Apprenticeships</h4>
				<%= render :partial => "apprenticeship", :collection => @mypending_apprenticeships %>
				<% end %>

				<% unless @myactive_apprenticeships.blank? %>
				<h4>My Upcoming Apprenticeships</h4>
				<%= render :partial => "apprenticeship", :collection => @myactive_apprenticeships %>
				<% end %>
			<% end %>	

			<% if current_user.admin? %>
				<hr />
				<h3>Admin View</h3>
				<% unless @allsaved_apprenticeships.blank? %>
					<h4>Apprenticeships in Progress</h4>
					<p>These apprenticeships have not been submitted yet; this list just lets us see what's in the works.</p>
					<%= render :partial => "apprenticeship", :collection => @allsaved_apprenticeships %>
				<% end %>

				<% unless @allpending_apprenticeships.blank? %>
					<h4>Pending Apprenticeships</h4>
					<p>These apprenticeships need review!</p>
					<%= render :partial => "apprenticeship", :collection => @allpending_apprenticeships %>
				<% end %>

				<% unless @allcanceled_apprenticeships.blank? %>
					<h4>Canceled Apprenticeships</h4>
					<p>These apprenticeships have been canceled since we accepted them. :(</p>
					<%= render :partial => "apprenticeship", :collection => @allcanceled_apprenticeships %>
				<% end %>
			<% end %>
		<% end %>		

		<% unless @apprenticeships.blank? %>
		<hr />
		<h3>All Apprenticeships</h3>
		<%= render :partial => "apprenticeship", :collection => @apprenticeships %>
		<% end %>
	<% end %>
<% end %>