- provide(:title, 'Apprenticeships')
%section#apprenticeships-index.section
  .container
    %h1 Apprenticeships
    = link_to "Create an Apprenticeship", new_apprenticeship_path, class: 'btn btn-large btn-primary pull-right'
    %span.bttn-call.kristi.pull-right
      Hey Makers!
    %br/
    %br/
    .accordion#accordion2
      .accordion-group
        .accordion-heading
          %a.accordion-toggle.howitworks-drop{"data-toggle" => "collapse", href: "#collapseOne", class: 'pull-center' }
            How it Works
            %i.fa.fa-chevron-down
        #collapseOne.accordion-body.collapse
          .accordion-inner
            %br/
            .row-fluid
              %ul.thumbnails
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.fa.fa-bullhorn.enormous-icon.circled.pull-center.fa-4x
                    .span8
                      %h3 Get Notified
                      %p
                        Check out the list of brilliant Makers below and pre-register to show your interest in working together. We'll let you know when they schedule an event or apprenticeship.
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.fa.fa-check-circle-o.enormous-icon.circled.pull-center.fa-4x
                    .span8
                      %h3 Apply to Work
                      %p
                        Find an apprenticeship you're stoked about? Apply! We'll send the Maker your application to check out and we'll only request you pay the $30.00 matching fee if it works out.
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.fa.fa-shield.enormous-icon.circled.pull-center.fa-4x
                    .span8
                      %h3 Earn Cred
                      %p
                        We'll keep track of the skills, tools, and techniques you're learning to begin to build out an incredible portfolio. Pretty soon you'll be hosting an apprenticeship!
    .row
      - unless @apprenticeships.blank?
        = render partial: "apprenticeship", collection: @apprenticeships
      - unless @tba_apprenticeships.blank?
        = render partial: "apprenticeship", collection: @tba_apprenticeships
      - unless @closed_apprenticeships.blank?
        = render partial: "apprenticeship", collection: @closed_apprenticeships

    %hr
    - unless current_user.blank?
      - if current_user.admin?
        - unless @allsaved_apprenticeships.blank? && @allpending_apprenticeships.blank? && @allcanceled_apprenticeships.blank? && @allfilled_apprenticeships.blank? && @allcompleted_apprenticeships.blank?
          %h2 Admin
          - unless @allpending_apprenticeships.blank?
            %h3 Pending
            .row-fluid.row-pending
              = render :partial => "apprenticeship-tbl", locals: {apprenticeships: @allpending_apprenticeships}
          - unless @allsaved_apprenticeships.blank?
            %h3 Saved
            .row-fluid.row-saved
              = render :partial => "apprenticeship-tbl", locals: {apprenticeships: @allsaved_apprenticeships}
          - unless @allcanceled_apprenticeships.blank?
            %h3 Canceled
            .row-fluid.row-canceled
              = render :partial => "apprenticeship-tbl", locals: {apprenticeships: @allcanceled_apprenticeships}
          - unless @allfilled_apprenticeships.blank?
            %h3 Filled
            .row-fluid.row-filled
              = render :partial => "apprenticeship-tbl", locals: {apprenticeships: @allfilled_apprenticeships}
          - unless @allcompleted_apprenticeships.blank?
            %h3 Completed
            .row-fluid.row-completed
              = render :partial => "apprenticeship-tbl", locals: {apprenticeships: @allcompleted_apprenticeships}


