%section#apprenticeships-index.section
  .container
    %h1 apprenticeships
    = link_to "Offer an apprenticeship!", new_apprenticeship_path, class: 'btn btn-large btn-primary pull-right'
    .row
      - unless @apprenticeships.blank?
        = render :partial => "apprenticeship", :collection => @apprenticeships
    - unless current_user.blank?
      - if current_user.admin?
        %hr
        %h2 Admin
        - unless @allsaved_apprenticeships.blank?
          %h3 Saved apprenticeships
          .row
            = render :partial => "apprenticeship", :collection => @allsaved_apprenticeships
        - unless @allpending_apprenticeships.blank?
          %h3 Pending apprenticeships Needing Review
          .row
            = render :partial => "apprenticeship", :collection => @allpending_apprenticeships
        - unless @allcanceled_apprenticeships.blank?
          %h4 Canceled apprenticeships Since Being Accepted
          .row
            = render :partial => "apprenticeship", :collection => @allcanceled_apprenticeships
        - unless @allcompleted_apprenticeships.blank?
          %h4 Completed apprenticeships
          .row
            = render :partial => "apprenticeship", :collection => @allcompleted_apprenticeships
      - unless current_user.apprenticeships.blank?
        %hr
        %h2 My apprenticeships
        - unless @mycanceled_apprenticeships.blank?
          %h4 My Canceled apprenticeships
          .row
            = render :partial => "apprenticeship", :collection => @mycanceled_apprenticeships
        - unless @mysaved_apprenticeships.blank?
          %h4 My Saved apprenticeships
          .row
            = render :partial => "apprenticeship", :collection => @mysaved_apprenticeships
        - unless @mypending_apprenticeships.blank?
          %h4 My Pending apprenticeships
          .row
            = render :partial => "apprenticeship", :collection => @mypending_apprenticeships
        - unless @myactive_apprenticeships.blank?
          %h4 My Upcoming apprenticeships
          .row
            = render :partial => "apprenticeship", :collection => @myactive_apprenticeships
        - unless @mycompleted_apprenticeships.blank?
          %h4 My Completed apprenticeships
          .row
            = render :partial => "apprenticeship", :collection => @mycompleted_apprenticeships