#private-info
  %section.section.alt-grey
    .container
      %h1#page-header
      %br
      = render 'checkmark_nav'
      %br
      #full
        .row-fluid
          .span9
            %h2 Billing info
            .alert
              <b>You won't be charged yet!</b>
              <br/>You will only be charged the $30 matching fee for <i>each</i> apprentice you accept.
              /<i>and</i> she confirms the apprenticeship.

            %p This fee covers:
            %ol
              %li
                Promoting your apprenticeship through our
                =link_to "newsletter", "http://eepurl.com/HRKVP", target: "_blank"
                and social media,
              %li
                Collecting applications for you to review,
              %li
                Setting up an optional interview,
              %li
                Connecting you with the apprentice(s) you choose, and
              %li
                Supporting you both throughout the apprenticeship!

            %hr

            = simple_form_for @apprenticeship, html: { class: 'form-horizontal payment_form' }, validate: false do |f|
              = render 'shared/error_messages', form_model: @apprenticeship
              = render partial: "shared/credit_card", locals: { f: f, paid: @apprenticeship.user.stripe_customer_id.present? }

              = f.input :coupon, label: 'Have an Offer Code?' do
                = f.text_field :coupon, class: "span4"
              %br
              #preview-buttons-bottom.pull-right
                = f.submit 'Submit Apprenticeship', class: 'btn btn-primary', id: 'cc_process'

          //FAQ Section //////////////////
          %span#details.span3.accordionFAQ
            = render 'faq-billing'


