#private-info
  %section.section
    .container
      %h1#page-header.pull-right Payment
      %br
      = render 'checkmark_nav'
      %br
      #full
        .row-fluid
          .span9
            %h2 Payment
            %hr
            = simple_form_for @apprenticeship, html: { class: 'form-horizontal payment_form' }, validate: false do |f|
              = render 'shared/error_messages', form_model: @apprenticeship
              = render partial: "shared/credit_card", locals: { f: f, paid: @apprenticeship.charge_id.present? }
              - if @apprenticeship.charge_id.present?
                = link_to "Payment Confirmation", payment_confirmation_apprenticeship_path(@apprenticeship)
                %br
                #preview-buttons-bottom.pull-center
                  = link_to 'Resubmit', apprenticeship_path(@apprenticeship, resubmit_button: true), method: 'PUT', class: 'btn btn-primary'
              - else
                %br
                %br
                #preview-buttons-bottom.pull-center
                  = f.submit 'Submit Payment', class: 'btn btn-primary', id: 'cc_process'

          .span3
            %br
            %br
            %ul.nav.nav-list
              %li.header
                Your Payment is Secure
              All transactions on GirlsGuild are over a certified secure connection and we use Stripe; a respected third party service to fulfil payments, refunds, and security.