#private-info
  %section.section.alt-grey
    .container
      %h1#page-header.pull-right Private Details
      %br
      = render 'checkmark_nav'
      %br
      #full
        .row-fluid
          .span12
            = simple_form_for @apprenticeship, class: 'form-horizontal', validate: false do |f|
              %h2 A Few More Details
              / / RESPECT MY STYLE
              / %br/
              / = f.input :respect_my_style, label: 'Respect my Style' do
              /   = f.check_box :respect_my_style
              /   %span.simpleform-text I will be teaching my unique proprietary techniques. Please ask my apprentice to sign an agreement to respect this information.
              /   %a{"data-content" => "We understand that for some makers, teaching your unique techniques can feel like risking your trade secrets. If this is a concern for you, we'll ask your apprentice to sign an agreement to respect your proprietary techniques.", "data-placement" => "right", :href => "javascript:;", :rel => "popover"}
              /     Why
              /     %i.fa.fa-question-circle.small-icon
              / BACKGROUND CHECK
              %br/
              = f.input :permission, label: 'Background Check' do
                = f.check_box :permission
                %span.simpleform-text I give permission for GirlsGuild to run a background check on me.
                %a{"data-content" => "We run background checks on all maker-mentors to keep our community safe.", "data-placement" => "right", :href => "javascript:;", :rel => "popover"}
                  Why
                  %i.fa.fa-question-circle.small-icon
              = f.input :legal_name, label: 'Your Legal Full Name' do
                = f.text_field :legal_name, rel: 'popover', placeholder: 'First Middle Last', data: {content: "We need your full, legal name to run the background check"}
              %br
              %br
              .row-fluid
                #preview-buttons-bottom.pull-center
                  = f.submit 'Save', save_button: true, class: 'btn btn-large'
                  = f.submit 'Next', class: 'btn btn-large btn-primary'