= provide(:title, @apprenticeship.title )
#apprenticeship_show

  %section.title_section.section
    .container
      %h1= @apprenticeship.title_html

  %section#desc_section.section
    .container
      .row-fluid
        .span2
          %button.btn.btn-block.btn-primary Sign Up!
        .span10
          %dl.dl-horizontal
            %dt Description
            %dd= simple_format(@apprenticeship.description)

            %dt When
            %dd #{@apprenticeship.begins_at.strftime('%A, %B %d')} to #{@apprenticeship.ends_at.strftime('%A, %B %d')}

            %dt Where
            %dd #{@apprenticeship.location_private ? @apprenticeship.location_nbrhood + ' neighborhood' : @apprenticeship.location_address} in #{@apprenticeship.location_city}, #{@apprenticeship.location_state}

            %dt Cost
            %dd #{@apprenticeship.price}

            %dt Ages
            %dd #{@apprenticeship.age_min} - #{@apprenticeship.age_max}

  %section#tags_section.section
    .container
      .row-fluid
        .span4.well
          %h3 Skills
          %ul.nav.nav-stacked
            -  @apprenticeship.skill_list.each do |skill|
              %li
                %a #{skill}
        .span4.well
          %h3 Tools
          %ul.nav.nav-stacked
            -  @apprenticeship.tool_list.each do |tool|
              %li
                %a #{tool}
        .span4.well
          %h3 Prerequisites
          %ul.nav.nav-stacked
            -  @apprenticeship.requirement_list.each do |requirement|
              %li
                %a #{requirement}
          %p
            - if @apprenticeship.started? && @apprenticeship.user == current_user
              (#{link_to "Resume", edit_apprenticeship_path(@apprenticeship)})
            - elsif @apprenticeship.pending? && @apprenticeship.user == current_user
              (#{link_to 'Delete', @apprenticeship, :method => :delete, :data => { :confirm => 'Are you sure you want to delete this apprenticeship? Deleting cannot be undone.' }})
            - elsif @apprenticeship.accepted? && @apprenticeship.user == current_user or current_user.admin?
              = link_to "Cancel", @apprenticeship, :method => :cancel, :data => { :confirm => "Are you sure you want to cancel this apprenticeship? It will be closed for sign-up and moved under My Canceled Apprenticeships. You will still be able to edit and resubmit it."}
              (#{link_to "Edit", edit_apprenticeship_path(@apprenticeship)})

  %section#album_section.section.alt
    .container
      .row-fluid
        #current_album
          #album_photos.transitions-enabled.clearfix
            = render 'albums/album_photos'

  %section#host_section.section
    .container
      .row-fluid
        .span2
          #avatar= avatar_for(@apprenticeship.user, tag: 'large')
        .span10
          %dl.dl-horizontal
            %dt Bio
            %dd= @apprenticeship.bio

            %dt Site
            %dd= @apprenticeship.website

            %dt Web Shop
            %dd= @apprenticeship.webshop

            %dt Facebook Page
            %dd= @apprenticeship.facebook

            %dt Twitter
            %dd= @apprenticeship.twitter

  %section#details_section.section.alt
    .map-top-shadow
    #map
    .map-bottom-shadow