<%= content_tag :section, :class => "section" do %>
  <%= content_tag :div, :class => "container" do %>
    <% provide(:title, @apprenticeship.title) %>
    <div class="row">
      <aside class="span8">
        <section>
          <h1>
            <%= @apprenticeship.kind %> in <%= @apprenticeship.topic %> with <%= @apprenticeship.host_firstname %> <%= @apprenticeship.host_lastname %>
              <% unless @apprenticeship.host_business.blank? %>
              of <%=@apprenticeship.host_business %>
              <% end %>
          </h1>

          <h4>Bio</h4>
          <p><%= @apprenticeship.bio %></p>

          <h4>Website</h4>
          <p><%= @apprenticeship.website %></p>
          <p><%= @apprenticeship.webshop %></p>

          <% unless @apprenticeship.facebook.blank? && @apprenticeship.twitter.blank? %>
            <h4>Social Media</h4>
            <p><%= @apprenticeship.twitter %></p>
            <p><%= @apprenticeship.facebook %></p>
          <% end %>

          <hr />

          <h4>Apprenticeship Description</h4>
          <p><%= @apprenticeship.description %></P>

          <h4>Skills</h4>
          <p><%= @apprenticeship.skill_list %></p>

          <h4>Tools</h4>
          <p><%= @apprenticeship.tool_list %></p>

          <% unless @apprenticeship.requirement_list.blank? %>
            <h4>Requirements</h4>
            <p><%= @apprenticeship.requirement_list %></p>
          <% end %>

          <% unless @apprenticeship.other_needs.blank? %>
            <p>Note: <%= @apprenticeship.other_needs %></p>
          <% end %>

          <h4>When</h4>
          <% if @apprenticeship.datetime_tba.blank? %>
            <p><%= @apprenticeship.begins_at.strftime("%m/%d/%Y") %> to <%= @apprenticeship.ends_at.strftime("%m/%d/%Y") %>, <%= @apprenticeship.hours %> hours per <%= @apprenticeship.hours_per %>.</p>
          <% else %>
            TBA
          <% end %>

          <h4>Where</h4>
          <p>
            <% if @apprenticeship.location_private.blank? %>
              <%= @apprenticeship.location_address %>, <%= @apprenticeship.location_address2 %><br />
              <%= @apprenticeship.location_city %>, <%= @apprenticeship.location_state %> <%= @apprenticeship.location_zipcode %>
            <% else %>
              <%= @apprenticeship.location_nbrhood %>
            <% end %>
          </p>
          <p>
            <% unless @apprenticeship.location_varies.blank? %>
              Note: locations for this apprenticeship will vary.
            <% end %>
          </p>

          <h4>Age Range</h4>
          <p><%= @apprenticeship.age_min %> to <%= @apprenticeship.age_max %></p>

          <p>
            <% unless current_user.blank? %>
              <% if @apprenticeship.started? && @apprenticeship.user == current_user %>
               (<%= link_to "Resume", edit_apprenticeship_path(@apprenticeship) %>)
              <% elsif @apprenticeship.pending? && @apprenticeship.user == current_user %>
               (<%= link_to 'Delete', @apprenticeship, :method => :delete, :data => { :confirm => 'Are you sure you want to delete this apprenticeship? Deleting cannot be undone.' } %>)
              <% elsif @apprenticeship.accepted? && @apprenticeship.user == current_user %>
                <%= link_to "Cancel", @apprenticeship, :method => :cancel, :data => { :confirm => "Are you sure you want to cancel this apprenticeship? It will be closed for sign-up and moved under My Canceled Apprenticeships. You will still be able to edit and resubmit it."} %>
               (<%= link_to "Edit", edit_apprenticeship_path(@apprenticeship) %>)
              <% end %>
            <% end %>
          </p>

          <% if @apprenticeship.accepted? %>
            <% if current_user.age < @apprenticeship.age_min %>

              <p><%= link_to "Apply to work with #{@apprenticeship.host_firstname}", new_apprenticeship_app_signup_path(@apprenticeship), :class => "btn btn-large btn-primary disabled" %> Sorry, it looks like you're younger than the minimum age for this apprenticeship.</p>
              <br />
              <p>To be notified next time she's teaching, <%= link_to "pre-register with #{@apprenticeship.host_firstname}", apprenticeships_path %>.</p>

            <% elsif current_user.age > @apprenticeship.age_max %>

              <p><%= link_to "Apply to work with #{@apprenticeship.host_firstname}", new_apprenticeship_app_signup_path(@apprenticeship), :class => "btn btn-large btn-primary disabled" %> Sorry, it looks like you're older than the maximum age for this apprenticeship.</p>
              <br />
              <p>To be notified next time she's teaching, <%= link_to "pre-register with #{@apprenticeship.host_firstname}", apprenticeships_path %>.</p>

              <p>Wait! I'm a parent using my account to <%= link_to "sign up my daughter", new_apprenticeship_app_signup_path(@apprenticeship), :class => "btn btn-small btn-success" %>.</p>

            <% else %>
              <%= link_to "Apply to work with #{@apprenticeship.host_firstname}", new_apprenticeship_app_signup_path(@apprenticeship), :class => "btn btn-large btn-primary" %>
            <% end %>
          <% end %>

          <% if current_user.admin? && @apprenticeship.pending? %>
            <hr />
            <h3>Admin Controls</h3>
            <%= form_for(@apprenticeship) do |f| %>
              <%= f.submit "Reject Apprenticeship", :name => "reject_button", :class => "btn btn-large btn-danger" %>
              <%= f.submit "Approve Apprenticeship", :name => "accept_button", :class => "btn btn-large btn-success" %>
            <% end %>
          <% end %>

          <% if current_user.admin? && @apprenticeship.accepted? %>
            <hr />
            <h3>Admin Controls</h3>
            <%= form_for(@apprenticeship) do |f| %>
              <%= f.submit "Revoke Apprenticeship", :name => "revoke_button", :class => "btn btn-large btn-danger" %>
            <% end %>
          <% end %>

        </section>
      </aside>
    </div>
  <% end %>
<% end %>