= simple_form_for [@user, @gallery, @photo], :html => { :class => 'form-horizontal', multipart:true } do |f|
  %fieldset
    %legend
      = controller.action_name.capitalize
      Photo

      = f.input :caption
      = f.input :file

    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to "Cancel", user_gallery_photos_path(@user, @gallery), :class => 'btn'
