%h1 Photos
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.photo.caption", :default => t("activerecord.labels.caption", :default => "Caption"))
      %th Created at
      %th Actions
  %tbody
    - @photos.each do |photo|
      %tr
        %td= photo.id
        %td= link_to photo.caption, user_gallery_photo_path(@user, @gallery, photo)
        %td= photo.created_at
        %td
          = link_to "Show", user_gallery_photo_path(@user, @gallery, photo), :class => 'btn btn-mini'
          = link_to "Edit", edit_user_gallery_photo_path(@user, @gallery, photo), :class => 'btn btn-mini'
          = link_to "Destroy", user_gallery_photo_path(@user, @gallery, photo), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}", :class => 'btn btn-mini btn-danger'

= link_to "New", new_user_gallery_photo_path, :class => 'btn btn-primary'
