- provide(:title, 'Thanks!')
%section#confirmed.section.alt-grey
  .container
    .row

      .span12
        %h1
          %i.fa.fa-check
          Hot Dog!

      .span8
        .fancyform-light.form-horizontal
          %p
            Thanks for paying the <strong>$#{@workshop.price.to_i}</strong> workshop fee for
            = link_to "#{@workshop.title}.", workshop_path(@work_signup.event.id)
            A receipt will be sent to your email.
          %p You can check on the status of your workshop any time by visiting your #{link_to "Events Dashboard", dashboard_path}.
          %br
          .alert.alert-info
            %strong When -
            #{get_formated_date(@workshop.begins_at_time, format: "%l:%M %P")} - #{get_formated_date(@workshop.ends_at_time, format: "%l:%M %P")}, #{get_formated_date(@workshop.begins_at, format: "%b %e, %Y")}
            %br
            %strong Where -
            #{@workshop.location_address} #{@workshop.location_address2}, #{@workshop.location_city}, #{@workshop.location_state}
          %p
            You can review the
            = link_to "#{@workshop.title} details page", workshop_path(@work_signup.event.id)
            for more info on what to expect and prepare for, and if by some bad luck it turns out you can't make it, you can cancel your registration there too (note that you'll need to cancel at least 7 days in advance to have your fee refunded).
          %p
            Let us know if you have any questions!
            %br
            xo GirlsGuild HQ
      .span4
        %ul.icons
          %li
            %i.fa.fa-bookmark
            For more info check out the
            %a{href: "/faq"}
              FAQ
          %li
            %i.fa.fa-envelope
            Email us with any questions
            %a{href: "mailto:hello@girlsguild.com?Subject=Howdy"}
              hello@girlsguild.com

