<!-- SmartBiz theme -->
<!-- Page Footer -->
<footer class='section' id='footer' role='contentinfo'>
  <div class='container'>
    <div class='row-fluid'>
      <div class='span4'>
        <h3>Join us online</h3>
        <!--
        <p>
          Hecho en Austin. For Girls by <%= link_to "Girls", about_path %>.
        </p>
        -->
        <ul class='icons'>                                         
          <li>
            <i class='icon-twitter'></i>
            <a href='http://twitter.com/thegirlsguild/' target='_blank'>Twitter</a>
          </li>
          <li>
            <i class='icon-pinterest'></i>
            <a href='http://pinterest.com/girlsguild' target='_blank'>Pinterest</a>
          </li>
          <li>
            <i class='icon-facebook'></i>
            <a href='http://facebook.com/girlsguild' target='_blank'>Facebook</a>
          </li>
          <li>
            <div style="margin:2px 0px 5px 40px;" class="fb-like" data-href="http://www.facebook.com/GirlsGuild" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-colorscheme="dark"></div>
          </li>
          <li>
            <div style="margin:5px 0px 5px 15px;">
            <a href="https://twitter.com/TheGirlsGuild" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @thegirlsguild</a>
            </div>
          </li>
        </ul>
      </div>

      <div class='span4'>
        <h3>GirlsGuild</h3>
        <ul class='icons'>
          <li>
            <i class='icon-map-marker'></i>
            <%= link_to "Contact", contact_path %>
          </li>
          <li>
            <i class='icon-bolt'></i>
            <%= link_to "About", about_path %>
          </li> 
          <li>
            <i class='icon-bookmark-empty'></i>
            <%= link_to "FAQ", faq_path %>
          </li>
          <li>
            <i class='icon-envelope'></i>
            <%= link_to "Newsletter", newsletter_path %>
          </li> 
        </ul>
      </div>

      <div class='span4'>
        <h3>Hecho en Austin</h3>
        <ul class="unstyled">
          <li>
            <i class='icon-legal'></i>
            <%= link_to "Terms and Conditions", termsandconditions_path %>
          </li> 
          <li>
            <i class='icon-bullhorn'></i>
            <%= link_to "Privacy Policy", privacypolicy_path %>
          </li>           
        </ul>
        <ul class='icons'>
          <li>
            For girls, by girls
          </li>
          <li>
            © 2012 GirlsGuild Co. All Rights Reversed.
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>