/ Page Footer
%footer#footer.section{:role => "contentinfo"}
  .container
    .row-fluid
      .span4
        %h3 Socialize
        %ul.icons
          /%li
          /  %i.icon-github
          /  %a{:href => "https://github.com/ddgriffin/GG-mvp", :target => "_blank"} GitHub
          %li
            %i.icon-twitter
            %a{:href => "http://twitter.com/thegirlsguild/", :target => "_blank"} Twitter
          %li
            %i.icon-facebook
            %a{:href => "http://facebook.com/girlsguild", :target => "_blank"} Facebook
          %li
            %i.icon-pinterest
            %a{:href => "http://pinterest.com/girlsguild", :target => "_blank"} Pinterest
          %li
            %i.icon-instagram
            %a{:href => "http://instagram.com/girlsguild", :target => "_blank"} Instagram
          %li
            .fb-like{"data-colorscheme" => "dark", "data-href" => "http://www.facebook.com/GirlsGuild", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450", :style => "margin:5px 0px 0px 47px;"}
          %li
            %div{:style => "margin:5px 0px 5px 15px;"}
              %a.twitter-follow-button{"data-lang" => "en", "data-show-count" => "false", :href => "https://twitter.com/TheGirlsGuild"} Follow @thegirlsguild
      .span4
        %h3 GirlsGuild
        %ul.icons
          %li
            %i.icon-map-marker
            = link_to "Contact", contact_path
          %li
            %i.icon-bolt
            = link_to "About", about_path
          %li
            %i.icon-bookmark-empty
            = link_to "FAQ for Girls", faq_girls_path
            |
            = link_to "Makers", faq_makers_path
          //%li %i.icon-envelope %a{"data-toggle" => "modal", :href => "#myModal"} Newsletter
          %li
            %i.icon-comments-alt
            = link_to "Testimonials", testimonials_path
          %li
            %i.icon-gift
            = link_to "Donate", get_involved_girls_path+"#donate"
      .span4
        %h3 Hecho en Austin
        %ul.icons
          %li
            %i.icon-legal
            = link_to "Terms and Conditions", termsandconditions_path
          %li
            %i.icon-bullhorn
            = link_to "Privacy Policy", privacypolicy_path
          %li
            %i.icon-thumbs-up
            = link_to "Copyright Policy", copyrightpolicy_path
        %a.brand{:href => root_path}
          %h1#logo GirlsGuild
        %ul.icons.tagline
          %li
            %span.kristi For girls, by girls
          %li
            %small
              ©
              = Time.now.year
              GirlsGuild, All Rights Reserved.

