<!-- SmartBiz theme -->
<!-- Page Footer -->
<footer class='section' id='footer' role='contentinfo'>
      <div class='container'>
        <div class='row-fluid'>
          <div class='span4'>
            <h3>Contact us</h3>
            <!--
            <p>
              Hecho en Austin. For Girls by <%= link_to "Girls", about_path %>.
            </p>
            -->
            <ul class='icons'>
              <li>
                <i class='icon-map-marker'></i>
                <%= link_to "Contact", contact_path %>
              </li>
               <li>
                <i class='icon-bolt'></i>
                <%= link_to "About", about_path %>
              </li> 
               <li>
                <i class='icon-envelope'></i>
                <%= link_to "Newsletter", newsletter_path %>
              </li>               
              <li>
                <i class='icon-legal'></i>
                <%= link_to "Terms and Conditions", termsandconditions_path %>
              </li> 
               <li>
                <i class='icon-bookmark-empty'></i>
                <%= link_to "FAQ", faq_path %>
              </li>
               <li>
                <i class='icon-bullhorn'></i>
                <%= link_to "Privacy Policy", privacypolicy_path %>
              </li>                                          
              <li>
                <i class='icon-twitter'></i>
                <a href='http://twitter.com/thegirlsguild/' target='_blank'>@theGirlsGuild</a>
              </li>
              <li>
                <i class='icon-facebook'></i>
                <a href='http://facebook.com/girlsguild' target='_blank'>GirlsGuild</a>
              </li>
            </ul>
          </div>
          <div class='span4'>
            <h3>Recent news</h3>
            <ul class='icons'>
              <li>
                <p><i class='icon-twitter'></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  <small>
                    by
                    <a href='#'>oxygenna.com</a>
                  </small>
                </p>
              </li>
              <li>
                <p><i class='icon-twitter'></i>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  <small>
                    by
                    <a href='#'>oxygenna.com</a>
                  </small>
                </p>
              </li>
            </ul>
          </div>
          <div class='span4'>
            <h3>Latest posts</h3>
            <ul class='unstyled'>
              <li>
                <h4>
                  <a href='#'>A responsive business theme</a>
                </h4>
                <p>
                  <small>November 12, 2012</small>
                </p>
              </li>
              <li>
                <h4>
                  <a href='#'>Designed for big and small screens</a>
                </h4>
                <p>
                  <small>August 23, 2012</small>
                </p>
              </li>
              <li>
                <h4>
                  <a href='#'>Based on bootstrap framework</a>
                </h4>
                <p>
                  <small>July 22, 2011</small>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>