/ Page Header
%header#masthead
  %nav.navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => root_path}
          %h1#logo GirlsGuild
        .nav-collapse
          %ul.nav.pull-right
            %li.dropdown
              %a{"data-target" => "#", :href => "/events"}
                Apprenticeships
              /%ul.dropdown-menu
              /  = active_link_to( content_tag(:i, '')+ ' Apprenticeships', apprenticeships_path, :wrap_tag => :li, :active => :exclusive )
              /  = active_link_to( content_tag(:i, '')+ ' Workshops', workshops_path, :wrap_tag => :li, :active => :exclusive )
              /  = active_link_to( content_tag(:i, '', class: 'icon-ok-sign')+ ' Get Involved for Girls', get_involved_girls_path, :wrap_tag => :li, :active => :exclusive )
              /  = active_link_to( content_tag(:i, '', class: 'icon-bookmark')+ ' FAQ for Girls', faq_girls_path, :wrap_tag => :li, :active => :exclusive )

            %li.dropdown
              %a{"data-target" => "#", :href => "/apprenticeships/new"}
                How it Works
              /%ul.dropdown-menu
              /  = active_link_to( content_tag(:i, '', class: 'icon-pencil icon-fixed-width')+ ' Post an Apprenticeship', new_apprenticeship_path, :wrap_tag => :li, :active => :/exclusive )
              /  = active_link_to( content_tag(:i, '', class: 'icon-pencil icon-fixed-width')+ ' Post a Workshop', new_workshop_path, :wrap_tag => :li, :active => :exclusive )
              /  = active_link_to( content_tag(:i, '', class: 'icon-bookmark icon-fixed-width')+ ' FAQ for Makers', faq_makers_path, :wrap_tag => :li, :active => :exclusive )


            %li.dropdown
              %a{"data-target" => "#", :href => "#"}
                About
              %ul.dropdown-menu
                = active_link_to( content_tag(:i, '', class: 'icon-shield icon-fixed-width')+ ' Makers', makers_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to( content_tag(:i, '', class: 'icon-bookmark icon-fixed-width')+ ' FAQ', faq_makers_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to( content_tag(:i, '', class: 'icon-comments-alt icon-fixed-width')+ ' Testimonials', testimonials_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to( content_tag(:i, '', class: 'icon-map-marker icon-fixed-width')+ ' Contact', contact_path, :wrap_tag => :li, :active => :exclusive )
                /= active_link_to( content_tag(:i, '', class: 'icon-bookmark-empty icon-fixed-width')+ ' FAQ for Girls', faq_girls_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to( content_tag(:i, '', class: 'icon-bolt icon-fixed-width')+ ' The Team', about_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to content_tag(:i, '', class: 'icon-gift icon-fixed-width') + ' Scholarships', faq_girls_path+"#donate", :wrap_tag => :li, :active => :exclusive


            - if signed_in?
              %li.dropdown.signin-nav
                %a{:href => "#"}
                  = current_user.first_name
                  = avatar_for(current_user, size: 25, tag: 'small')
                %ul.dropdown-menu
                  = active_link_to( content_tag(:i, '', class: 'icon-calendar icon-fixed-width')+ ' My Events', dashboard_path, :wrap_tag => :li, :active => :exclusive )
                  = active_link_to( content_tag(:i, '', class: 'icon-lock icon-fixed-width')+ ' Settings', edit_user_registration_path(current_user), :wrap_tag => :li, :active => :exclusive )
                  = active_link_to( content_tag(:i, '', class: 'icon-user icon-fixed-width')+ ' Avatar', avatar_path, :wrap_tag => :li, :active => :exclusive )
                  /= active_link_to content_tag(:i, '', class: 'icon-picture') + ' Portfolio', albums_path, :wrap_tag => :li, :active => :exclusive
                  %li.divider
                  = active_link_to 'Sign out', destroy_user_session_path, :wrap_tag => :li, method: "delete"
            - else
              = active_link_to 'Sign in', new_user_session_path, :wrap_tag => :li, class: 'signin-nav'

            %li
              = link_to( content_tag(:i, '', class: 'icon-pencil icon-fixed-width')+ "Post an Apprenticeship", new_apprenticeship_path, class: 'post-apprenticeship')
