/ Page Header
%header#masthead
  %nav.navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
          %span.fa.fa-bars
        %a.brand{:href => root_path}
          %h1#logo GirlsGuild
        .nav-collapse
          %ul.nav.pull-right
            %li.dropdown
              %a{"data-target" => "#", :href => "/events"}
                Learn
              /%ul.dropdown-menu
              /  = active_link_to( content_tag(:i, '')+ ' Apprenticeships', apprenticeships_path, :wrap_tag => :li, :active => :exclusive )
              /  = active_link_to( content_tag(:i, '')+ ' Workshops', workshops_path, :wrap_tag => :li, :active => :exclusive )
              /  = active_link_to( content_tag(:i, '', class: 'fa fa-check-circle')+ ' Get Involved for Girls', get_involved_girls_path, :wrap_tag => :li, :active => :exclusive )
              /  = active_link_to( content_tag(:i, '', class: 'fa fa-bookmark')+ ' FAQ for Girls', faq_path, :wrap_tag => :li, :active => :exclusive )

            %li.dropdown
              %a{"data-target" => "#", :href => "#"}
                Lead
              %ul.dropdown-menu
                = active_link_to( content_tag(:i, '', class: 'fa fa-pencil fa-fw')+ ' Post an Apprenticeship', new_apprenticeship_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to( content_tag(:i, '', class: 'fa fa-pencil fa-fw')+ ' Post a Workshop', new_workshop_path, :wrap_tag => :li, :active => :exclusive )

            %li.dropdown
              %a{"data-target" => "#", :href => "/apprenticeships/new"}
                How it Works


            %li.dropdown
              %a{"data-target" => "#", :href => "#"}
                About
              %ul.dropdown-menu
                = active_link_to( content_tag(:i, '', class: 'fa fa-shield fa-fw')+ ' Makers', makers_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to( content_tag(:i, '', class: 'fa fa-bookmark fa-fw')+ ' FAQ', faq_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to( content_tag(:i, '', class: 'fa fa-comments-o fa-fw')+ ' Testimonials', testimonials_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to( content_tag(:i, '', class: 'fa fa-map-marker fa-fw')+ ' Contact', contact_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to( content_tag(:i, '', class: 'fa fa-bolt fa-fw')+ ' The Team', about_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to content_tag(:i, '', class: 'fa fa-gift fa-fw') + ' Scholarships', faq_path+"#donate", :wrap_tag => :li, :active => :exclusive


            - if signed_in?
              / %li.dropdown.alertnav
              /   %a{"data-target" => "#", :href => "/dashboard"}
              /     .i.fa.fa-bell-o
              /   .alertbox
              /     1

              %li.dropdown.signin-nav
                %a{:href => "#"}
                  = current_user.first_name
                  = avatar_for(current_user, size: 25, tag: 'small')
                %ul.dropdown-menu
                  = active_link_to( content_tag(:i, '', class: 'fa fa-calendar fa-fw')+ ' My Events', dashboard_path, :wrap_tag => :li, :active => :exclusive )
                  - if current_user.admin?
                    = active_link_to( content_tag(:i, '', class: 'fa fa-cog fa-fw')+ 'Admin', admin_path, :wrap_tag => :li, :active => :exclusive)
                    = active_link_to( content_tag(:i, '', class: 'fa fa-signal fa-fw')+ 'Metrics', metrics_path, :wrap_tag => :li, :active => :exclusive)
                  = active_link_to( content_tag(:i, '', class: 'fa fa-lock fa-fw')+ ' Settings', edit_user_registration_path(current_user), :wrap_tag => :li, :active => :exclusive )
                  = active_link_to( content_tag(:i, '', class: 'fa fa-user fa-fw')+ ' Avatar', avatar_path, :wrap_tag => :li, :active => :exclusive )
                  /= active_link_to content_tag(:i, '', class: 'fa fa-picture-o') + ' Portfolio', albums_path, :wrap_tag => :li, :active => :exclusive
                  %li.divider
                  = active_link_to 'Sign out', destroy_user_session_path, :wrap_tag => :li, method: "delete"
            - else
              = active_link_to 'Sign in', new_user_session_path, :wrap_tag => :li, class: 'signin-nav'

            / %li
            /   = link_to( content_tag(:i, '', class: 'fa fa-pencil fa-fw')+ "Post an Apprenticeship", new_apprenticeship_path, class: 'post-apprenticeship')
