/ Page Header
%header#masthead
  %nav.navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.brand{:href => root_path}
          %h1#logo GirlsGuild
        .nav-collapse
          %ul.nav.pull-right
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", "data-target" => "#", :href => "/apprenticeships"}
                Learn
              %ul.dropdown-menu
                = active_link_to( content_tag(:i, '')+ ' Apprenticeships', apprenticeships_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to( content_tag(:i, '')+ ' Workshops', workshops_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to( content_tag(:i, '', class: 'icon-bookmark')+ ' FAQ for Girls', faq_girls_path, :wrap_tag => :li, :active => :exclusive )

            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", "data-target" => "#", :href => "/get_involved"}
                Lead
              %ul.dropdown-menu
                = active_link_to( content_tag(:i, '')+ ' Post an Apprenticeship', new_apprenticeship_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to( content_tag(:i, '')+ ' Post a Workshop', new_workshop_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to( content_tag(:i, '', class: 'icon-bookmark')+ ' FAQ for Makers', faq_makers_path, :wrap_tag => :li, :active => :exclusive )

            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", "data-target" => "#", :href => "/makers"}
                The Guild
              %ul.dropdown-menu
                = active_link_to( content_tag(:i, '', class: 'icon-bolt')+ ' About', about_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to( content_tag(:i, '', class: 'icon-comments-alt')+ ' Testimonials', testimonials_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to( content_tag(:i, '', class: 'icon-map-marker')+ ' Contact', contact_path, :wrap_tag => :li, :active => :exclusive )
                = active_link_to content_tag(:i, '', class: 'icon-gift') + ' Donate', get_involved_path+"#donate", :wrap_tag => :li, :active => :exclusive

            - if signed_in?
              %li.dropdown.signin-nav
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = current_user.first_name
                  = avatar_for(current_user, size: 25, tag: 'small')
                %ul.dropdown-menu
                  = active_link_to( content_tag(:i, '', class: 'icon-lock')+ ' Settings', edit_user_registration_path(current_user), :wrap_tag => :li, :active => :exclusive )
                  = active_link_to( content_tag(:i, '', class: 'icon-user')+ ' Avatar', avatar_path, :wrap_tag => :li, :active => :exclusive )
                  = active_link_to( content_tag(:i, '', class: 'icon-calendar')+ ' My Events', dashboard_path, :wrap_tag => :li, :active => :exclusive )
                  = active_link_to content_tag(:i, '', class: 'icon-picture') + ' Portfolio', albums_path, :wrap_tag => :li, :active => :exclusive
                  %li.divider
                  = active_link_to 'Sign out', destroy_user_session_path, :wrap_tag => :li, method: "delete"
            - else
              = active_link_to 'Sign in', new_user_session_path, :wrap_tag => :li, class: 'signin-nav'