<!-- SmartBiz theme -->
<!-- Page Header -->
<header id='masthead'>
      <nav class='navbar navbar-fixed-top'>
        <div class='navbar-inner'>
          <div class='container'>
            <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </a>
            <h1 class='brand'>
              <%= link_to "GirlsGuild", root_path, id: "logo" %><i class='icon-beaker'></i>
            </h1>
            <div class='nav-collapse'>
              <ul class='nav pull-right'>
                <%= active_link_to 'Home', root_path, :wrap_tag => :li, :active => :exclusive %>
                <%= active_link_to 'Apprentice', apprenticeships_path, :wrap_tag => :li %>
                <%= active_link_to 'Workshop', workshops_path, :wrap_tag => :li %>
                <%= active_link_to 'FAQ', faq_path, :wrap_tag => :li %>
                <%= active_link_to 'About', about_path, :wrap_tag => :li %>
                <%= active_link_to 'Contact', contact_path, :wrap_tag => :li %>
                <%= active_link_to 'Newsletter', newsletter_path, :wrap_tag => :li %>
                <% if signed_in? %>
                  <%= active_link_to 'Users', users_path, :wrap_tag => :li %>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account</a>
                    <ul class="dropdown-menu">
                      <%= active_link_to 'Profile', current_user, :wrap_tag => :li, :active => :exclusive %>
                      <%= active_link_to 'Settings', edit_user_path(current_user), :wrap_tag => :li, :active => :exclusive %>
                      <li class="divider"></li>
                      <%= active_link_to 'Sign out', signout_path, :wrap_tag => :li, method: "delete"%>
                    </ul>
                  </li>
                <% else %>
                  <%= active_link_to 'Sign in', signin_path, :wrap_tag => :li %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>