<% provide(:title, 'Sign up') %>
<!-- SmartBiz theme -->
<section class='section' id='promo'>
	<div class='container'>
		<h1>Sign up</h1>
		<div class="row">
		  <div class="span8 fancyform">
			<%= simple_form_for(resource, :as => resource_name, :validate => true, :url => registration_path(resource_name), :defaults => {:input_html => {:class => 'span4'}}) do |f| %>
				<%= f.error_notification %>
		  		<%= f.input :birthday do %>
					<div class="form-inline">
						<%= f.text_field :birthday, :class => 'span4', :value=>Date.today.strftime('%m/%d/%Y'), data: {behaviour: 'datepicker'} %>
						<a data-content="Individuals under the age of 18 must at all times use GirlsGuild's services only in conjunction with and under the supervision of a parent or legal guardian who is at least 18 years of age. In this all cases, the adult is the user and is responsible for any and all activities." data-placement="right" rel="popover" href="#" >Why? <i class='icon-question-sign small-icon'></i>
						</a>
					</div>
				<% end %>
				<br />
				<%= f.input :first_name %>
				<%= f.input :last_name %>
			    <%= f.input :email, :required => true, :validate => true %>
			    <%= f.input :password, :required => true, :validate => true %>
			    <%= f.input :password_confirmation, :required => true, :validate => true %>
			  <div class="form-inline">
				<%= f.check_box :terms_of_service %>
				<%= f.label :terms_of_service, capture { %>
					<p>I have read the <%= active_link_to 'terms and conditions', termsandconditions_path, :target => '_blank' %></p>
				<% } %>
			  </div>
			  <br/>
		      <%= f.button :submit, "Sign up", :class => "btn btn-primary" %>
			<% end %>
			<%= render "users/shared/links" %>
		  </div>
		</div>
	</div>
</section>
